<!DOCTYPE html>
<html>
  <head>
      <title>Block user</title>
      <style type='text/css'>
      body {
          background: #00e7a8;
         }
        
        img {
        padding: 30px 0px 30px 53px;
        }
        h1 {
          color: #2c353c;
          display: block;
          font: inherit;
          font-family: 'Open Sans', 'Helvetica Neue', Helvetica;
          font-size: 30px;
          font-weight: 600;
          height: 30px;
          line-height: 30px;
          margin: 0px 0px 0px 45px;
          padding: 0px 8px 0px 8px;
        }
        h2 {
          color: #2c353c;
          display: block;
          font: inherit;
          font-family: 'Open Sans', 'Helvetica Neue', Helvetica;
          font-size: 16px;
          font-weight: 600;
          height: 30px;
          line-height: 30px;
          margin: 0px 0px 0px 45px;
          padding: 0px 8px 0px 8px;
        }
      </style>
  </head>
  <body>
  <img src="//s3.amazonaws.com/blrt-cc-images/user-management/blrt-logo.png"></img>
    <h1>Block user</h1>
    <h2><%- message %></h2>
  </body>
</html>
