<!DOCTYPE html>
<html>
    <head>
        <link rel="image_src" href="<%- blrt.thumbnail %>"/>
        <meta property="al:ios:app_store_id" content="<%- constants.appStoreId %>" /> 
        <meta property="al:ios:url" content="<%- originalUrl %>" />
        <meta property="al:ios:app_name" content="Blrt" />
        <meta property="al:android:package" content="<%- constants.androidPackageId %>" />
        <meta property="al:android:url" content="<%- blrt_url %>" />
        <meta property="al:android:app_name" content="Blrt" />
        
        <meta charset="utf-8"/>
         <!--OPEN GRAPH METADATA STARTS HERE -->
        <meta property = "og:type" content = "website">
        <meta property = "og:image" content = "<%- blrt.thumbnail %>">
        <meta property = "og:title" content = "Blrt: <%- blrt.title %>"/>
        <meta property = "og:description" content = "Click to view this <%- blrt.isPublicBlrt ? 'public' : 'private' %> Blrt in the free Blrt app for iOS and Android. Talk, point and draw over websites, images and documents and get everyone on the same page."/>
        <meta property = "og:url" content = "<%- thisUrl %>"/>
        <meta property = "fb:app_id" content = "<%- constants.fbAppId %>" />
        <!--OPEN GRAPH METADATA ENDS HERE -->
        <!--TWITTER METADATA STARTS HERE -->
        <meta name = "twitter:card" content="summary"/>
        <meta name = "twitter:image:src" content="<%- blrt.thumbnail %>"/>
        <meta name = "twitter:site" content = "@blrt"/>
        <meta name = "twitter:title" content = "Blrt: <%- blrt.title %>"/>
        <meta name = "twitter:description" content = "Click to view this <%- blrt.isPublicBlrt ? 'public' : 'private' %> Blrt in the free Blrt app for iOS and Android. Talk, point and draw over websites, images and documents and get everyone on the same page."/>
        <meta name = "twitter:app:name:ipad" content = "blrt"/>
        <meta name = "twitter:app:id:ipad" content = "<%- constants.appStoreId %>"/>
        <meta name = "twitter:app:url:ipad" content = "<%- originalUrl %>"/>
        <meta name = "twitter:app:name:iphone" content = "blrt"/>
        <meta name = "twitter:app:id:iphone" content = "<%- constants.appStoreId %>"/>
        <meta name = "twitter:app:url:iphone" content = "<%- originalUrl %>"/>
        <meta name = "twitter:app:name:googleplay" content = "blrt"/>
        <meta name = "twitter:app:id:googleplay" content = "<%- constants.androidPackageId %>"/>
        <meta name = "twitter:app:url:googleplay" content = "<%- originalUrl %>"/>
        <!--TWITTER DATA ENDS HERE -->
        <meta name="viewport" content="width=viewport-width; initial-scale=1.0, maximum-scale = 1, user-scalable=no"/>
        <title><%- blrt.isPublicBlrt ? 'Public' : 'Private' %> Blrt: <%- blrt.title %></title>
        <link rel="icon" type="image/png" href="//www.blrt.com/images/blrtfavicon.png"/> 
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="//www.blrt.com/css/styles.css?v6" rel="stylesheet" type="text/css"/>
        <link href="//www.blrt.com/css/responsive.css" rel="stylesheet" type="text/css"/>
     </head>
    <body>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNGPWL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WNGPWL');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1451170328452442&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<a href="//plus.google.com/112993209082343780073" rel="publisher"></a>
        <div class="first-slide container-green pad-bot-tab udp-pad">
                    <p class="text-mid">
                        <a href="//www.blrt.com"><img src="//www.blrt.com/images/blrt-logo-blk@2x.png" alt="Blrt" class="blrt-logo premium-blrt-logo udp-blrt-logo"></a>
                    </p>
                        <div class ="UDP-link-pup">
                            <p> What's a Blrt?
Blrt combines your voice and visuals to work like a video but is up to 50 times lighter than video. </p>
<p>You have to see a Blrt to believe it.</p>
                        </div>
                </div>
        <div class="container-fluid container-white">
            <div class="container container-tab udp-pad-top pad-bot udp-pad-bot udp-container">
            
                <div class="para-wrap UDP-sect1 clearfix">
                    <div class = "UDP-thumb-wrap col-xs-12 col-sm-6">
                        <div class = "UDP-thumbnail-wrap">
                        <img class="UDP-thumbnail" src="<%- blrt.thumbnail %>"></img>
                        <a href="#"><div class="UDP-play-btn"></div></a>
                    </div>
                    
                    <div class = "UDP-pop-up" >
                        <p>To view this Blrt, get Blrt for iOS or Android FREE</p>
                    </div>

                    <% if(blrt.isPublicBlrt) { %>
                        <div style="margin-top: 15px; text-align: center;">
                            <a style="display: inline-block; margin-bottom: 15px;" href="https://www.facebook.com/dialog/share?app_id=<%- constants.fbAppId %>&amp;display=popup&amp;href=<%- encodeURIComponent(thisUrl) %>&amp;redirect_uri=<%- encodeURIComponent(thisUrl) %>">
                                <img src="//www.blrt.com/images/share-fb@2x.png" width="88" height="41"/>
                            </a>
                            <a style="display: inline-block; margin-bottom: 15px;" href="https://twitter.com/share?url=<%- encodeURIComponent(thisUrl) %>&amp;text=<%- encodeURIComponent((blrt.isPublicBlrt ? 'Public' : 'Private') + ' Blrt: ' + blrt.title) %>&amp;via=blrt&amp;related=blrt">
                                <img src="//www.blrt.com/images/share-tw@2x.png" width="88" height="41"/>
                            </a>
                        </div>
                    <% } %>

                    </div>
                    <div class="col-xs-12 col-sm-6 udp-marg-left-not-xs udp-sect1-text">
                        <h3><%- blrt.isPublicBlrt ? 'Public' : 'Private' %> <a href="//www.blrt.com/whats-a-blrt">Blrt</a></h3>

                        <p><span><%- blrt.isPublicBlrt ? 'Title' : 'Conversation' %></span></p>
                        <p class="UDP-content"><%- blrt.title %></p>
                        <p><span>Creator</span></p>
                        <p class="UDP-content"><%- blrt.creator %></p>
                        <p><span>Duration</span></p>
                        <p class="UDP-content"><%- _.durationify(blrt.duration) %></p>
                        <!--<p><span>Note</span></p>
                        <p class="UDP-content">There are many types of Blrts in this world, some are small some are large, others are Bilal.</p>-->

                        <table>
                            <thead class="udp-hidden-xs">
                                <td colspan="2">
                                    <p><span>View this Blrt in the free Blrt app</span></p>
                                </td>
                                <td>
                                </td>
                            </thead>
                        <tr>
                            <td>
                                <p class="udp-hidden-not-xs"><span>View this Blrt in the free Blrt app</span></p>
                                <a id="appstore2" onclick="ga('send','event','button','click','app store 2');" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8"> 
                                    <div class = "btn-1 app-store-btn img-center img-center-not-xs">
                                        <img src="//www.blrt.com/images/apple-logo@2x.png">
                                        <div class="text">
                                            <h4> Download on the </h4>
                                            <h1> App Store</h1>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a id="appstore2" onclick="ga('send','event','button','click','app store 2');" href="https://play.google.com/store/apps/details?id=com.blrt.android"> 
                                    <div class = "btn-1 app-store-btn g-play-btn img-center ">
                                        <img src="//www.blrt.com/images/google-play@2x.png">
                                        <div class="text">
                                            <h4>Get it on </h4>
                                            <h1>Google Play</h1>
                                        </div>
                                    </div>
                                </a>    

                            </td>
                        </tr>
                    </table>
                    </div>
                </div>

             
                </div>
            </div>
        </div>

        <div class="container-fluid container-green">
            <div class="container container-no-tab udp-pad-top udp-pad-bot UDP-sect2-container">
                <div class="UDP-sect2 row">
                    <div class="col-xs-12 col-sm-6 text-right-not-xs col-vertical-mid udp-sect2-text">

                        <h3>Goodbye meetings, calls&nbsp;&amp;&nbsp;emails</h3>
                        <p>A Blrt plays back like video but is far superior. Talk, point and draw over documents, images or websites to get your point across like never before.</p>

<div data-blrt-oembed='{"iframe":"https://e.blrt.com/blrt/PDbw16fogM?iframe&#038;maxwidth=450&#038;maxheight=700","maxwidth":450,"maxheight":700}' class="blrt-oembed">
<div style="display:none" class="blrt-script"><script async="async" src="https://e.blrt.com/js/oembed.js"></script></div>
</div>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-vertical-bot text-right-not-xs handheld-blrt udp-handheld-blrt">
                            <img id = "img01" class = "img-opaq" src="//www.blrt.com/images/handheld-blrt01@2x.png" alt""/>
                            <img id = "img02" class = "img-opaq img-hidden" src="//www.blrt.com/images/handheld-blrt02@2x.png" alt""/>
                    </div>
                </div>
                    
            </div>
        </div>
        <div class="blrt-footer container-fluid container-black text-center udp-blrt-footer">
            <div class="container container-no-tab udp-pad-top pad-bot-big">
                
                <img src="//www.blrt.com/images/blrt-logo-grn@2x.png" alt="Blrt" class="blrt-logo img-center">
                <div class = "paragraph-btn">
                 <h1 class="text-center hero-light">
                            Talk, point and&nbsp;draw  
                        </h1>
                        <p>over images, websites or documents</p>
                        <div class = "btn-set">
                        <a id="appstore2" onclick="ga('send','event','button','click','app store 2');" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8"> 
                            <div class = "btn-1 app-store-btn alt-app-store-btn img-center img-center-not-xs">
                                <img src="//www.blrt.com/images/apple-logo-blue@2x.png">
                                <div class="text">
                                    <h4> Download on the </h4>
                                    <h1> App Store</h1>
                                </div>
                            </div>
                        </a>

                        <a id="appstore2" onclick="ga('send','event','button','click','app store 2');" href="https://play.google.com/store/apps/details?id=com.blrt.android"> 
                            <div class = "btn-1 app-store-btn g-play-btn alt-app-store-btn img-center ">
                                <img src="//www.blrt.com/images/google-play@2x.png">
                                <div class="text">
                                    <h4>Get it on </h4>
                                    <h1>Google Play</h1>
                                </div>
                            </div>
                        </a>                        
                       </div>
                   
                </div>
            </div>
                <ul class = "udp-foot-list">
                    <li class="first"><a href="//www.blrt.com/">blrt.com</a></li>
                    <li><a href="//www.blrt.com/blog">Blrt blog</a></li>
                    <li><a href="http://help.blrt.com/">Blrt support</a></li>
                        <li>
                            <div class="fb-like" data-href="//www.facebook.com/blrtapp" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-ref="blrt.com"></div>
                        </li>

                        <li>
                            <a href="//twitter.com/blrt" class="twitter-follow-button" data-show-count="false">Follow @blrt</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </li>
                </ul>
        </div>
        <div class="container-fluid container-light-grey">
            <div class="think-footer container container-no-tab pad-top-small pad-bot-small">
                <p>&copy; 2014 Blrt</p>
                <ul class="list-inline text-center">
                    <li><a href="//www.blrt.com/blog">Blog</a></li>
                    <li><a href="//help.blrt.com/">Support</a></li>
                    <!--<li><a href="http://www.blrt.com/press">Press</a></li>-->
                    <li><a href="//www.blrt.com/privacy">Privacy</a></li>
                    <li><a href="//www.blrt.com/terms/">Terms</a></li>
                    <li><a onclick="ga('send','event','button','click','twitter footer');" href="//www.twitter.com/blrt">@blrt</a><li>
                </ul>
            </div>
        </div>
        </div>
    </body>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//www.blrt.com/js/script.js?v=1.1"></script>
</html>
