<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Blrt</title>

        <!-- Bootstrap core CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="//s3.amazonaws.com/blrt-cc-images/redirects/css/style-v2.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KDJDMP"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KDJDMP');


        dataLayer.push({'event': 'fbcanvas'});
        </script>
        <!-- End Google Tag Manager -->

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">
                    <div class="inner cover">
                        <img class="logo" src="//s3.amazonaws.com/blrt-cc-images/redirects/img/blrt-logo.png"/>
                        <h1 class="cover-heading">Blrt is the easiest way to collaborate.</h1>
						<div class="lead">
                        <p class="lead">Available now for iPad, iPhone and iPod Touch. Get it free here.</p>
                            <a onclick="ga('send','event','fbcanvas','click','appstorelink');" href="<%- app_store_url %>"><img src="//s3.amazonaws.com/blrt-cc-images/redirects/img/appstorebadge.png"></a>
                        </div>
                        <div class="emailform">
                            <p>Coming soon to Android, Windows and Mac.</p>
                                <form class="form-inline" role="form" action="//emailmarketing.thinkun.net/t/t/s/trajh/" method="post">
                                <div class="form-group">
                                    <label class="sr-only" for="fieldEmail">Email address</label>
                                    <input type="email" class="form-control" name="cm-trajh-trajh" id="fieldEmail" placeholder="Enter email" required>
                                    <% /* code in Express: res.render('mobile', {http_user_agent : req.headers['user-agent']}); */%>
                                    <input id="fieldejklu" name="cm-f-ejklu" type="hidden" value="<%- http_user_agent %>"/>
                                </div>
                                <button type="submit" class="btn btn-default">Let me know</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
