<!DOCTYPE html>
<html>
    <head>
        <link rel="image_src" href="<%- blrt.thumbnail %>"/>
         <!--OPEN GRAPH METADATA STARTS HERE -->
        <meta property = "og:type" content = "website">
        <meta property = "og:image" content = "<%- blrt.thumbnail %>">
        <meta property = "og:title" content = "Blrt: <%- blrt.title %>"/>
        <meta property = "og:description" content = "Click to view this <%- blrt.isPublicBlrt ? 'public' : 'private' %> Blrt in the free Blrt app for iOS and Android. Talk, point and draw over websites, images and documents and get everyone on the same page."/>
        <meta property = "og:url" content = "<%- thisUrl %>"/>
     </head>
    <body>
    </body>
</html>
