<html>
    <head>
        <title>Accept Invitation</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1, user-scalable=no"/>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

        <link rel="icon" type="image/png" href="//www.blrt.com/images/blrtfavicon.png"/> 
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="//www.blrt.com/css/styles-lp.css?v=1.0.1" rel="stylesheet" type="text/css"/>
        <style>
            .container{
                background-color: #fff;
                margin: 60px auto;
                -webkit-border-radius: 15px;
                width: 80%;
                max-width: 768px;
                padding-left: 3.448275%;
                padding-right: 3.448275%;
            }

            .logo{
                margin: auto;
                width: 50%;
                max-width: 160px;
            }
            .active{
                background: none;
            }
            
            form{
                display: block;
            }

            .blrt-logo{
                width: 160px;
                padding-top: 30px;
            }

            .appstoreImage{
                height: 60px;
                padding-right: 20px;
            }

            p{
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .blrt-input{
                font-family: "Open Sans", Helvetica, Arial, sans-serif;
                border-radius: 10px;
                padding: 20px 14px;
                font-size: 17px;
                border: 0;
                background: #f8f6f9;
            }

            .btn{
                margin-top: 10px;
                margin-bottom: 15px;
                padding: 10px 16px;
                font-size: 18px;
                line-height: 1.33;
            }

            .table-intro {
                padding-left: 7px;
                padding-bottom: 0px;
                padding-top: 5px;
            }

            .userlist{
                padding-bottom: 10px;
            }

            ul, li{
                text-align: left;
            }


            .control-panel-h4{
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .row{
                max-width: 750px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 30px;
                padding-bottom: 40px;
            }

            .btn-success, .btn-success:hover, .btn-success:active {
                color: #09e7a8;
                background-color: #2c353e;
                border-color: #2c353e;
            }

            .btn-critical:hover, .btn-critical:active, .btn-critical:focus, .btn-success:focus{
                color: white;
                background-color: #09e7a8;
                border-color: #09e7a8;
            }

            .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {  
                color: #fff;
                background-color: #3B5999;
                border-color: #3B5999;
            }

            .alert-success {
                word-break: break-word;
            }

            .progress-full {
                width: 100%;
            }

            .margin-bot-sm {
                margin-bottom: 10px;
            }

            .vcen-outer {
                width: 100%;
                height: 100%;

                display: table;
            }

            .vcen-inner {
                display: table-cell;
                vertical-align: middle;
            }

            .thumbnail-container {
                width: 100px;
                height: 100px;
                margin: 0;
                padding: 4px;

                font-size: 1.5em;
            }

            .loadedthumbnail {
                width: 100%;
                height: 100%;
            }

            .loadedthumbnail ~ .thumbnail-loading-container {
                display: none !important;
                visibility: hidden !important;
            }

            .animate-spin {
                -animation: spin .7s infinite linear;
                -webkit-animation: spin-webkit .7s infinite linear;
            }

            @-webkit-keyframes spin-webkit {
                from { -webkit-transform: rotate(0deg); }
                to { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
            }
        </style>
    </head>
    <body>
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNGPWL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WNGPWL');</script>
        <div class = "logo">
            <img class="blrt-logo" src="//www.blrt.com/images/blrt-logo-blk@2x.png?v=1.0" alt="Blrt" class="blrt-logo premium-blrt-logo">
        </div>

        <div class="container container-white ">
            

            <div id="accept-row" class="psuedo-page row active">
                <div class="col-xs-12 main-section">
                    <h2>Accept invitation to get 6-month Premium</h2>
                    <p>Because your friend is a Blrt Pioneer, you're eligible for 6 FREE months of Blrt Premium. Here's what you need to do to enable your free upgrade:</p>

                    <ol>
                        <li>Enter your email address below to let us know you were referred by a Blrt Pioneer.</li>
                        <li>Download the Blrt app on the <a href="https://itunes.apple.com/au/app/blrt-talk-point-draw-collaborate/id874881426?mt=8">App Store (iOS)</a> or the <a href="https://play.google.com/store/apps/details?id=com.blrt.android">Google Play Store (Android)</a> and create a free account using the same email address.</li>
                        <li>Send someone a Blrt! It can be to anyone, about anything.</li>
                        <li>We'll upgrade your account with 6 months free <a href="https://www.blrt.com/upgrade/">Blrt Premium</a>.</li>
                    </ol>
                    <form id="accept-invitation-form" role="form">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" class="form-control blrt-input" required autofocus/>
                        </div>
                        <p>
                            <button class="btn btn-lg btn-success critical-button" type="submit" >Accept</button>
                        </p>
                    </form>
                </div>
                <div class="col-xs-12 after-section">
                    
                </div>
            </div>
        </div>

        

        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
        <script>
            /**
             * jQuery serializeObject
             * @copyright 2014, macek <paulmacek@gmail.com>
             * @link https://github.com/macek/jquery-serialize-object
             * @license BSD
             * @version 2.4.3
             */
            !function(e,r){if("function"==typeof define&&define.amd)define(["exports","jquery"],function(e,i){return r(e,i)});else if("undefined"!=typeof exports){var i=require("jquery");r(exports,i)}else r(e,e.jQuery||e.Zepto||e.ender||e.$)}(this,function(e,r){function i(e,i){function n(e,r,i){return e[r]=i,e}function a(e,r){for(var i,a=e.match(t.key);void 0!==(i=a.pop());)if(t.push.test(i)){var o=s(e.replace(/\[\]$/,""));r=n([],o,r)}else t.fixed.test(i)?r=n([],i,r):t.named.test(i)&&(r=n({},i,r));return r}function s(e){return void 0===h[e]&&(h[e]=0),h[e]++}function o(e){switch(r('[name="'+e.name+'"]',i).attr("type")){case"checkbox":return"on"===e.value?!0:e.value;default:return e.value}}function u(r){if(!t.validate.test(r.name))return this;var i=a(r.name,o(r));return c=e.extend(!0,c,i),this}function f(r){if(!e.isArray(r))throw new Error("formSerializer.addPairs expects an Array");for(var i=0,t=r.length;t>i;i++)this.addPair(r[i]);return this}function d(){return c}function l(){return JSON.stringify(d())}var c={},h={};this.addPair=u,this.addPairs=f,this.serialize=d,this.serializeJSON=l}var t={validate:/^[a-z_][a-z0-9_]*(?:\[(?:\d*|[a-z0-9_]+)\])*$/i,key:/[a-z0-9_]+|(?=\[\])/gi,push:/^$/,fixed:/^\d+$/,named:/^[a-z0-9_]+$/i};return i.patterns=t,i.serializeObject=function(){return this.length>1?new Error("jquery-serialize-object can only serialize one form at a time"):new i(r,this).addPairs(this.serializeArray()).serialize()},i.serializeJSON=function(){return this.length>1?new Error("jquery-serialize-object can only serialize one form at a time"):new i(r,this).addPairs(this.serializeArray()).serializeJSON()},"undefined"!=typeof r.fn&&(r.fn.serializeObject=i.serializeObject,r.fn.serializeJSON=i.serializeJSON),e.FormSerializer=i,i});
        </script>
        <script type="text/javascript">
            var parseApplicationId = "<%- constants.parseApplicationId %>";
            var parseJavascriptKey = "<%- constants.parseJavascriptKey %>";
            
            Parse.initialize(parseApplicationId, parseJavascriptKey);
            

            jQuery(function ($) {
                function showPage(sel) {
                    $(".psuedo-page")
                        .removeClass("active")
                        .addClass("hidden")
                        .filter(sel)
                        .addClass("active")
                        .removeClass("hidden");
                }

                function displayError(msg, type) {
                    $("#ajax-response").remove();

                    if(msg) {
                        type = type || "danger";
                        if(type=="box-2"){
                            $(".psuedo-page.active .after-section").append(
                                $('<div id="ajax-response" class="alert ' + type + '" role="alert">' + msg + '</div>')
                            );
                        }else{
                            $(".psuedo-page.active .after-section").append(
                                $('<div id="ajax-response" class="alert alert-' + type + '" role="alert">' + msg + '</div>')
                            );
                        }
                    }
                }
                function hideError() { displayError() };

                function startLoading() {
                    $(".critical-button").attr("disabled", "");

                    if($("#ajax-loader").length == 0)
                        $(".psuedo-page.active .after-section").append(
                            $('<div id="ajax-loader" class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active progress-full"></div></div>')
                        );

                    hideError();
                }
                function stopLoading(withMsg, type) {
                    $("#ajax-loader").remove();
                    $(".critical-button").removeAttr("disabled");

                    if(withMsg)
                        displayError(withMsg, type);
                }

                function hereDoc(f) {
                    return f.toString()
                        .replace(/^[^\/]+\/\*!?/, '')
                        .replace(/\*\/[^\/]+$/, '');
                }

                function isValidUrl(url) {
                  return /^([^. ][^. ]*\.)+[^. ]+(\/.*)?$/.test(url);
                }

                function isValidEmail(str) {
                    return /^[^.]([^@\s.]*|\.[^.])*[^.]?@[^.][^@\s]*(\.[^.][^@\s.]*)+$/.test(str);
                }

                function getFileExtension(str) {
                    var periodIndex = str.lastIndexOf(".");
                    return periodIndex != -1 ? str.substr(periodIndex) : "";
                }

                function getURLParameter(name) {
                  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
                }

                $.fn.populateDynUserData = function () {
                    return this.each(function () {
                        var $this = $(this);

                        var val = Parse.User.current().get($this.data("dyn-field"));
                        val = val || "";

                        if($this.is("input")) $this.val(val);
                        else                  $this.html(val);
                    });
                };

               

                $("#accept-invitation-form").submit(function(){
                    acceptInvitation();
                    return false;
                });


                function acceptInvitation(){
                    var params = {
                        id:         getURLParameter("id"),
                        secure:     getURLParameter("secure"),
                        email:      $("#email").val(),
                    };



                    Parse.Cloud.run("acceptInvitation", params, {
                        success: function(response) {
                            try {
                                response = JSON.parse(response);
                            } catch(err) {
                                displayError("An error occurred in communication with the Blrt cloud.");
                                return;
                            }

                            if(response.success){
                                displayError(response.message,"box-2");
                            }
                            else{                 
                                displayError(response.error);
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            displayError("An error occurred in communication with the Blrt cloud.");
                        }
                    });
                }


                function updateViewsWithUser(user) {
                    stopLoading();                    
                }
                if(Parse.User.current()) updateViewsWithUser(Parse.User.current());
            });
        </script>
    </body>
</html>