<!DOCTYPE html>
<html lang="en">
	<head>
		<meta property="al:ios:app_store_id" content="<%- constants.appStoreId %>" />
    	<meta property="al:ios:url" content="<%- originalUrl %>" />
    	<meta property="al:ios:app_name" content="Blrt" />
		<meta property="al:android:package" content="<%- constants.androidPackageId %>" />
    	<meta property="al:android:url" content="<%- blrt_url %>" />
    	<meta property="al:android:app_name" content="Blrt" />

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Blrt</title>

		<!-- Bootstrap core CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="//www.blrt.com/css/styles.css?v6" rel="stylesheet" type="text/css"/>
        <link href="//www.blrt.com/css/responsive.css" rel="stylesheet" type="text/css"/>

        <style type="text/css">
			.container-fluid:not(.first-slide) > .container {
				padding-left: 15px;
				padding-right: 15px;
			}
        </style>

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KDJDMP"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KDJDMP');</script>
		<!-- End Google Tag Manager -->
		

		<script type="text/javascript">

			dataLayer.push({'event': 'iosdevice'});

			setTimeout( function(){//give time for tag manager to do it's thing
				

				var now = new Date().valueOf();

				setTimeout(
					function(){
						if(new Date().valueOf() - now > 2050)
							window.close();
						else{
							dataLayer.push({'event': 'iosnotinstalled'});
							var isAndroid = "<%- isAndroid %>";
							document.getElementById("appRedirectedFail").removeAttribute("hidden");
							var appEleId = isAndroid == "true"? "appstore2":"appstore1";
	    					document.getElementById(appEleId).removeAttribute("hidden");
						}
					}
				, 2000); // timeout to check if safari has been deactivated (the app is opened)

				window.open("<%- blrt_url %>", "_self");
			}, 1000);
		</script>

		<div class="first-slide container-green pad-bot-tab udp-pad">
            <p class="text-mid">
                <a href="//www.blrt.com"><img src="//www.blrt.com/images/blrt-logo-blk@2x.png" alt="Blrt" class="blrt-logo premium-blrt-logo udp-blrt-logo"></a>
            </p>
        	<div class ="UDP-link-pup">
                <p> What's a Blrt? Blrt combines your voice and visuals to work like a video but is up to 50 times lighter than video. </p>
				<p>You have to see a Blrt to believe it.</p>
            </div>
        </div>
        <div class="container-fluid container-white">
            <div class="container container-tab udp-pad-top pad-bot udp-pad-bot udp-container">
            	<div class="para-wrap clearfix">
                    <div class = "col-xs-12">
                        <h1 class="text-center">Opening in Blrt...</h1>
                        <h4 id="appRedirectedFail" hidden class="text-center">Don't have the free Blrt app?</h4>
                        <div class="btn-set text-center">
	                       	<a id="appstore1" hidden onclick="ga('send','event','button','click','app store 2');" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8"> 
                                <div class="btn-1 app-store-btn img-center img-center-not-xs">
                                    <img src="//www.blrt.com/images/apple-logo@2x.png">
                                    <div class="text">
                                        <h4> Download on the </h4>
                                        <h1> App Store</h1>
                                    </div>
                                </div>
                            </a>
	                        <a id="appstore2" hidden onclick="ga('send','event','button','click','app store 2');" href="https://play.google.com/store/apps/details?id=com.blrt.android"> 
                                <div class="btn-1 app-store-btn g-play-btn img-center ">
                                    <img src="//www.blrt.com/images/google-play@2x.png">
                                    <div class="text">
                                        <h4>Get it on </h4>
                                        <h1>Google Play</h1>
                                    </div>
                                </div>
                            </a>
	                    </div>
                    </div>
                </div>
			</div>
        </div>
	</body>
</html>
