<!DOCTYPE html>
<html>
  <head>
  <title></title>
  <style type='text/css'>
    h1 {
      display: block;
      font: inherit;
      font-size: 30px;
      font-weight: 600;
      height: 30px;
      line-height: 30px;
      margin: 25px 0px 45px 0px;
      padding: 0px 8px 0px 8px;
    }
	
	img {
	padding: 0px 8px 0px 8px;
	}

    .error {
      color: red;
      padding: 0px 8px 0px 8px;
      margin: -25px 0px -20px 0px;
    }

    body {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica;
      color: #2c353c;
      margin: 30px 99px 0px 98px;
	  background: #00e7a8;
    }

    label {
      color: #2c353c;
    }
    form {
      margin: 0px 0px 45px 0px;
      padding: 0px 8px 0px 8px;
    }
    form > * {
      display: block;
      margin-top: 25px;
      margin-bottom: 7px;
    }

    button {
      font-size: 22px;
      color: white;
      background: #0067AB;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#2c353e),color-stop(100%,#27292d));
      background-image: -webkit-linear-gradient(#2c353e,#27292d);
      background-image: -moz-linear-gradient(#2c353e,#27292d);
      background-image: -o-linear-gradient(#2c353e,#27292d);
      background-image: -ms-linear-gradient(#2c353e,#27292d);
      background-image: linear-gradient(#2c353e,#27292d);
      -moz-box-shadow: inset 0 1px 0 0 #27292d;
      -webkit-box-shadow: inset 0 1px 0 0 #27292d;
      -o-box-shadow: inset 0 1px 0 0 #27292d;
      box-shadow: inset 0 1px 0 0 #27292d;
      border: 1px solid #2c353e;
      padding: 10px 14px;
      cursor: pointer;
      outline: none;
      display: block;
      font-family: "Helvetica Neue",Helvetica;

      -webkit-box-align: center;
      text-align: center;
      box-sizing: border-box;
      letter-spacing: normal;
      word-spacing: normal;
      line-height: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
    }

    button:hover {
      background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#2c353e),color-stop(100%,#2c353e));
      background-image: -webkit-linear-gradient(#2c353e,#2c353e);
      background-image: -moz-linear-gradient(#2c353e,#2c353e);
      background-image: -o-linear-gradient(#2c353e,#2c353e);
      background-image: -ms-linear-gradient(#2c353e,#2c353e);
      background-image: linear-gradient(#2c353e,#2c353e);
      -moz-box-shadow: inset 0 1px 0 0 #2c353e;
      -webkit-box-shadow: inset 0 1px 0 0 #2c353e;
      -o-box-shadow: inset 0 1px 0 0 #2c353e;
      box-shadow: inset 0 1px 0 0 #2c353e;
    }

    button:active {
      background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#2c353e),color-stop(100%,#2c353e));
      background-image: -webkit-linear-gradient(#2c353e,#2c353e);
      background-image: -moz-linear-gradient(#2c353e,#2c353e);
      background-image: -o-linear-gradient(#2c353e,#2c353e);
      background-image: -ms-linear-gradient(#2c353e,#2c353e);
      background-image: linear-gradient(#2c353e,#2c353e);
    }

    input {
      color: black;
      cursor: auto;
      display: inline-block;
      font-family: 'Helvetica Neue', Helvetica;
      font-size: 25px;
      height: 30px;
      letter-spacing: normal;
      line-height: normal;
      margin: 2px 0px 2px 0px;
      padding: 5px;
      text-transform: none;
      vertical-align: baseline;
      width: 500px;
      word-spacing: 0px; 
    }

  </style>
</head>
<body>
  <img src="//s3.amazonaws.com/blrt-cc-images/user-management/blrt-logo.png"></img>	
  <h1><%- message %></h1>
</body>
