<!DOCTYPE html>
<html>
	<head>
		<% var usingPlayer = false; %>
		<%- include partial/landing_page_common_header %>
		<style>
		@media all{#embed-code-player-preview-iframe{height: 370px;}}
		@media screen and (min-width: 750px) and (min-height: 650px){#embed-code-player-preview-iframe{height: 320px;}}
		@media screen and (min-width: 1000px) and (min-height: 800px){#embed-code-player-preview-iframe{height: 480px;}}
		@media screen and (min-width: 1450px) and (min-height: 1080px){#embed-code-player-preview-iframe{height: 640px;}}
		</style>
		<script defer src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script defer src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script defer src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
		<script defer src="//www.blrt.com/js/script.js?v=1.1"></script>
		<script defer src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
		<script defer src="<%- resourceHost %>/js/blrt_share<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
		<script defer src="<%- resourceHost %>/js/webplayer_landing_page<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
		<script defer src="<%- resourceHost %>/js/webplayer_landing_page_non_chrome<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
		<script defer src="<%- resourceHost %>/js/register_sec<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
	</head>
	<body>
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNGPWL"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WNGPWL');
		</script>
		<div id="fb-root"></div>
		<a href="//plus.google.com/112993209082343780073" rel="publisher"></a>
		<div id="landing-non-chrome-info">
			<div id="landing-non-chrome-info-center">
				<img id="chrome-icon" src="<%- resourceHost %>/img/chrome.png">
				<p>Got Google Chrome?&nbsp;</p>
				<button id="landing-top-copy-btn" class="bwp-landing-copy-btn" data-clipboard-text="<%- shareUrl %>">COPY URL</button>
				<p id="landing-top-copy-placeholder">Copy URL</p>
				<p>&nbsp;and open in Chrome to play this Blrt now.</p>
			</div>
		</div>
		<div class="first-slide container-green pad-bot-tab udp-pad">
			<p class="text-mid">
				<a href="//www.blrt.com"><img src="//www.blrt.com/images/blrt-logo-blk@2x.png" alt="Blrt" class="blrt-logo premium-blrt-logo udp-blrt-logo"></a>
			</p>
			<div class ="UDP-link-pup">
				<p> What's a Blrt?
					Blrt combines your voice and visuals to work like a video but is up to 50 times lighter than video. 
				</p>
				<p>You have to see a Blrt to believe it.</p>
			</div>
		</div>
		<div class="container-fluid container-black" style="text-align: center;">
			<div class="bwp-container container-tab bwp-pad-top pad-bot udp-pad-bot bwp-landing-tab">
				<div id="landing-info-sec" class="bwp-landing-tab-content">
					<div id="landing-info-sec-nc-left">
						<div id="landing-info-sec-thumbnail-sec">
							<img id="landing-info-sec-thumbnail-sec-mask-img" alt="thumbnail" src="<%- blrt.thumbnail %>"/>
							<div id="landing-info-sec-thumbnail-sec-mask" class="mouse-cursor-clickable">
								<img id="landing-info-sec-thumbnail-sec-play" src="<%- resourceHost %>/img/B-play.png"/>
							</div>
						</div>
						<div id="landing-info-sec-share-sec">
							<p class="ibc-div" id="landing-info-sec-share-sec-text">Share this Blrt</p>
		   					<% if (blrt.isPublicBlrt) { %>
		   					<div id="landing-share-fb" class="landing-share-icon-bg mouse-cursor-clickable">
				    			<img class="landing-share-icon" alt="f" src="<%- resourceHost %>/img/fb_small.png">
				    		</div>
				    		<div id="landing-share-twitter" class="landing-share-icon-bg mouse-cursor-clickable">
				    			<img class="landing-share-icon" alt="t" src="<%- resourceHost %>/img/twitter_small.png">
				    		</div>
				    		<div id="landing-share-google" class="landing-share-icon-bg mouse-cursor-clickable">
				    			<img class="landing-share-icon" alt="g" src="<%- resourceHost %>/img/google_small.png">
				    		</div>
				    		<% } %>
				    		<div id="landing-share-email" class="landing-share-icon-bg mouse-cursor-clickable">
				    			<img class="landing-share-icon" alt="e" src="<%- resourceHost %>/img/email_small.png">
				    		</div>
				    		<div id="landing-share-code" class="landing-share-icon-bg mouse-cursor-clickable">
				    			<img class="landing-share-icon" alt="c" src="<%- resourceHost %>/img/embed_code.png">
				    		</div>
						</div>
			    	</div>
			    	<div id="landing-info-sec-nc-right">
			    		<p id="landing-info-sec-nc-right-public"><%= blrt.isPublicBlrt ? 'Public' : 'Private' %> <img id="landing-info-sec-logo" alt="Blrt" src="<%- resourceHost %>/img/blrt_green.png"></p>
			    		<p class="bwp-landing-info-item-head">TITLE</p>
			    		<p class="bwp-landing-info-item-body"><%= blrt.title %></p>
			    		<p class="bwp-landing-info-item-head">CREATOR</p>
			    		<p class="bwp-landing-info-item-body"><%= blrt.creator %></p>
			    		<p class="bwp-landing-info-item-head">DURATION</p>
			    		<p class="bwp-landing-info-item-body"><%= _.durationify(blrt.duration) %></p>
			    		<p class="bwp-landing-info-item-head">DATE</p>
			    		<p class="bwp-landing-info-item-body"><%= dateStr %></p>
			    	</div>
				</div>
				<%- include partial/landing_page_embed_code %>
			</div>
		</div>
		<% var forceYouTubeHTML5 = true;%>
		<%- include partial/landing_page_common_body %>
		<div id="landing-nc-mask">
			<div id="landing-nc-mask-intro" class="bwp-landing-tab-content">
				<button id="landing-nc-mask-intro-close" type="button" class="close"><span>&times;</span></button>
				<div id="landing-nc-mask-intro-middle">
					<div class="ibc-div" id="landing-nc-mask-intro-left">
						<h2 class="landing-nc-mask-title">That’s not a video, <br class="landing-nc-mask-lb">it’s a Blrt!</h2>
						<p class="landing-nc-mask-body">Blrts play in Google Chrome, iOS and <br class="landing-nc-mask-lb">Android.</p>
						<p class="landing-nc-mask-body">To find out why Blrts are better than <br class="landing-nc-mask-lb">video, play our... erm... video.</p>
					</div>
					<div class="ibc-div">
						<iframe id="landing-nc-mask-intro-right-youtube" src="https://www.youtube.com/embed/6gQcorVplXY?enablejsapi=1&html5=1" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div id="landing-nc-mask-intro-bottom">
					<div id="landing-nc-mask-intro-bottom-left" align="left" class="ibc-div">
						<div class="ibc-div">
							<img id="landing-nc-mask-intro-chrome-icon" src="<%- resourceHost %>/img/chrome.png">
						</div>
						<div id="landing-nc-mask-intro-text" class="ibc-div">
							<div>
								<p style="display:inline">You can play this Blrt in <br class="landing-nc-mask-chrome-lb"><b>Google Chrome</b></p>
								<button id="landing-nc-mask-intro-copy-btn" class="bwp-landing-copy-btn" data-clipboard-text="<%- shareUrl %>">COPY LINK</button>
							</div>
							<p>or download BLRT for FREE <br class="landing-nc-mask-chrome-lb">to view on your mobile or tablet.</p>
						</div>
					</div>
					<div class="ibc-div"><%- include partial/get_app_buttons %></div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		window.blrtIsPublic = <%- blrt.isPublicBlrt ? 'true':'false' %>;
		window.blrtrh = "<%- resourceHost %>";
		window.blrturl = "<%- shareUrl %>";
		window.blrteurl = "<%- embedUrl %>";
		window.blrttitle = "<%= blrt.isPublicBlrt ? 'Public' : 'Private' %> Blrt: <%= blrt.title %>";
		window.blrtcreator = "<%= blrt.creator %>";
		window.blrtduration = "<%= _.durationify(blrt.duration) %>";
		window.blrtpages = "<%- blrt.pages %>";
		window.blrtseconds = <%- blrt.duration %>;
		
		window.fbAsyncInit = function() {
			const facebookApplicationId = "<%- constants.fbAppId %>";
			FB.init({
				appId      : facebookApplicationId,
				cookie     : true,  // enable cookies to allow the server to access 
				// the session
				xfbml      : true,  // parse social plugins on this page
				version    : "v2.0" // change to v2
			});
		};
	
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
	</body>
</html>