<html lang="en">
<head>
    <style type="text/css">
        .content {
            padding: 10px;
            font-size: 18px;
            min-height: 170px;
            background: #dbdfe5;
            margin-bottom: 15px;
        }

        .img {
            width: 150px;
            margin-left: -15px;
        }

    </style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
</head>
<body class="container">
<main>

    <div class="jumbotron" style="min-width: 900px">
        <% if(blrts.length > 0){ %>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                        Page
                    </a>
                </div>

                <% var nextPageNo = parseInt(pageNo) + 1;var prePageNo = parseInt(pageNo) - 1 %>
                <ul class="nav navbar-nav">
                    <% var prehref = "?page=" + prePageNo;  if(pageNo != 0) { %>
                    <li><a href=<%= prehref %>>&lArr; pre </a></li>
                    <% } %>
                    <% var nexthref = "?page=" + nextPageNo;if(!last) { %>
                    <li><a href=<%= nexthref %>>next &rArr;</a></li>
                    <% } %>
                </ul>

                <div style="float: right;padding-top: 3px">
                <a href="/oas/logout" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
                </div>

            </div>
        </nav>
        <% blrts.forEach(function(blrt) { %>
        <div class="content container">
            <div class="col-md-3" >
                <a href="<%= blrt.blrtUrl %>" target="_blank">
                    <img class="img"  src="<%= blrt.thumbnailFile %>">
                </a>

            </div>
            <div class="col-md-8 info">
                <% if(blrt.status=="disabled"){ %>
                <input class="disableToggle" data-size="mini" type="checkbox"  data-toggle="toggle">
                <% } else if(blrt.status=="enabled"){%>
                <input class="disableToggle" data-size="mini" type="checkbox" checked data-toggle="toggle">
                <%}%>
                <h2 style="display: inline">  <%= blrt.publicName %> </h2>

                <h4> created by <%= blrt.creator %>  </h4>
                <h4 class="date"><%- blrt.createdAt %></h4>

                <div>
                    <% if(blrt.status=="approved")  { %>
                    <input type="button" class="btn btn-success disabled"  value="Approved"/>
                    <% } else if(blrt.status=="disabled"){%>
                    <input type="button" class="exist btn btn-primary disabled" eid="<%= blrt.encryptedBlrtId %>" value="Disabled" />
                    <% } else {%>
                    <input type="button" class="exist btn btn-primary" eid="<%= blrt.encryptedBlrtId %>"
                           value="Approve"/>
                    <%}%>
                </div>
            </div>
        </div>
        <% }) %>

        <% } else { if(pageNo == 0){ %>
        <h2> No public blrt in the list </h2>.
        <% }
        else{ %>
        <h2>No more content</h2>
        <%
        }
        } %>
    </div>
</main>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<script>
    $(document).ready(
            function () {
                $(".date").each(
                        function (index) {
                            var dateString = $(this).text();
                            var miliDate = Date.parse(dateString)
                            var clientDate = new Date(miliDate);
                            var formatedClientDate = clientDate.toLocaleDateString()
                            var formatedClientTime = clientDate.toLocaleTimeString()
                            $(this).text(formatedClientDate + " " + formatedClientTime)
                        }
                )


                $(".info").each(function () {
                    var button = $(this).find(".exist")
                    var toggleButton = $(this).find(".disableToggle");
                    var encryptedId = button.attr ("eid");
                    var toggleToRemove=$(this).find(".toggle")
                    var pathname = window.location.pathname;
                    button.click(
                            function () {

                                $.ajax({
                                    method: "POST",
                                    url: pathname + "/approve",
                                    data: {encryptedId: encryptedId},
                                    success: function () {
                                        button.val("Approved")
                                        button.addClass("disabled btn-success")
                                        console.log("I want to remove toggle button")
                                        toggleToRemove.remove();
                                    },
                                    error: function (req, status, err) {
                                        alert('something went wrong'+status+err);
                                    }
                                })


                            }
                    );
                    toggleButton.change(
                            function () {
                                var toggle = toggleButton.prop('checked');
                                console.log("toggle is"+toggle+" encryptedId"+encryptedId)
                                $.ajax({
                                    method:"POST",
                                    url:pathname+"/toggle",
                                    data: {encryptedId: encryptedId,toggle:toggle},
                                    success: function(){
                                        if (!toggle) {
                                            button.val("Disabled")
                                            button.addClass("disabled")
                                        }
                                        else {
                                            button.val("Approve")
                                            button.removeClass("disabled")
                                        }
                                    },
                                    error: function (req, status, err) {
                                        alert('something went wrong'+status+err);
                                    }
                                })



                            })

                })


            }
    )

</script>

</body>
</html>