<!DOCTYPE html>
<html>
    <head>
        <title>Blrt Pioneers</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1, user-scalable=no"/>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

        <link rel="icon" type="image/png" href="//www.blrt.com/images/blrtfavicon.png"/> 
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="//www.blrt.com/css/styles-lp.css?v=1.0.1" rel="stylesheet" type="text/css"/>

        
        <style>

            .container{
                background-color: #fff;
                margin: 60px auto;
                -webkit-border-radius: 15px;
                width: 80%;
                max-width: 768px;
                padding-left: 3.448275%;
                padding-right: 3.448275%;
            }

            .logo{
                margin: auto;
                width: 50%;
                max-width: 160px;
            }
            .active{
                background: none;
            }
            
            form{  
                display: block;
            }

            .blrt-logo{
                width: 160px;
                padding-top: 30px;
            }

            .sendPrime{
                color:black;
            }

            .appstoreImage{
                height: 60px;
                padding-right: 20px;
            }

            p{
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .blrt-input{
                font-family: "Open Sans", Helvetica, Arial, sans-serif;
                border-radius: 10px;
                padding: 20px 14px;
                font-size: 17px;
                border: 0;
                background: #f8f6f9;
            }

            .btn{
                margin-top: 10px;
                margin-bottom: 15px;
                padding: 10px 16px;
                font-size: 18px;
                line-height: 1.33;
                color: #09e7a8;
                background-color: #2c353e;
                border-color: #2c353e;
            }

            .table-intro {
                padding-left: 7px;
                padding-bottom: 0px;
                padding-top: 5px;
            }

            .userlist{
                padding-bottom: 10px;
            }

            ul, li{
                text-align: left;
            }


            .control-panel-h4{
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .row{
                max-width: 750px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 30px;
                padding-bottom: 40px;
            }

            .btn-success, .btn-success:hover, .btn-success:active {
                color: #09e7a8;
                background-color: #2c353e;
                border-color: #2c353e;
            }

            .btn-critical:hover, .btn-critical:active, .btn-critical:focus, .btn-success:focus{
                color: white;
                background-color: #09e7a8;
                border-color: #09e7a8;
            }

            .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {  
                color: #fff;
                background-color: #3B5999;
                border-color: #3B5999;
            }

            .apply-pioneer{
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .alert-success {
                word-break: break-word;
            }

            .progress-full {
                width: 100%;
            }

            .margin-bot-sm {
                margin-bottom: 10px;
            }

            .vcen-outer {
                width: 100%;
                height: 100%;

                display: table;
            }

            .vcen-inner {
                display: table-cell;
                vertical-align: middle;
            }

            .thumbnail-container {
                width: 100px;
                height: 100px;
                margin: 0;
                padding: 4px;

                font-size: 1.5em;
            }

            .loadedthumbnail {
                width: 100%;
                height: 100%;
            }

            .loadedthumbnail ~ .thumbnail-loading-container {
                display: none !important;
                visibility: hidden !important;
            }

            .animate-spin {
                -animation: spin .7s infinite linear;
                -webkit-animation: spin-webkit .7s infinite linear;
            }

            @-webkit-keyframes spin-webkit {
                from { -webkit-transform: rotate(0deg); }
                to { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
            }
        </style>
    </head>
    <body>
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNGPWL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WNGPWL');</script>
        <div class = "logo">
            <img class="blrt-logo" src="//www.blrt.com/images/blrt-logo-blk@2x.png?v=1.0" alt="Blrt" class="blrt-logo premium-blrt-logo">
        </div>
        <div class="container container-white ">
            <div id="intro-row" class="psuedo-page row active">
                 <div id="main-intro" class="col-xs-12 main-section">
                    <h1>Become a Blrt Pioneer</h1>
                    <p>
                    Do your friends and colleagues rely on you to discover and access the latest innovations? Do you want to help shape, evolve and grow one of the world’s most exciting communication startups? If so, we’d love for you to join the Blrt Pioneers program. It’s a unique opportunity to become a part of some real collaboration innovation, get free access to Blrt Premium features for LIFE, and distribute free Blrt Premium to all your contacts. They’ll love you for it!
                    </p>
                    <p>
                    Blrt is here to change the way you communicate when you can’t meet face to face. It combines the best bits of meetings, phone calls and emails, and takes away their limitations. Becoming a Blrt Pioneer could make you a champion of productivity and comms clarity in your industry as you talk, point and draw to get your message across with emotion and clarity.
                    </p>
                    <p class="text-mid">
                        <button class="btn btn-success critical-button apply-pioneer">Apply or log in to Blrt Pioneer</button>
                    </p>
                    <h2>Blrt Pioneers get the following</h2>
                    <ul>
                        <li>Instantly get a 6 month upgrade to Blrt Premium (worth $95)</li>
                        <li>Gift your own network of friends, clients and colleagues a 6 months free upgrade to Blrt Premium</li>
                        <li>Add an additional 6 months FREE Blrt Premium for every 5 new people you have a Blrt conversation with</li>                    
                        <li>Have 50 unique conversations and we’ll give you Blrt Premium FREE for LIFE!</li>
                        <li>Opportunity to feature in the Blrt Blog as a collaboration pioneer in your industry</li>
                        <li>Enjoy the latest Blrt developments before everyone else</li>
                        <li>Be part of the journey with the planet’s hottest comms enhancer!</li>
                        <li>Live access to the Pioneers control panel at www.blrt.com/pioneers to track your Pioneer status</li>
                    </ul>
                    <h2>What’s next?</h2>
                    <p>Click the button below to log in using your Blrt account or create an account now, and request to
become a Blrt Pioneer. We will process your request within two working days.
                    </p>
                    <p class="text-mid">
                        <button class="btn btn-success critical-button apply-pioneer">Apply or log in to Blrt Pioneer</button>
                    </p>
                 </div>
            </div>
            <div id="account-row" class="psuedo-page row hidden">
                <div id="main-login" class="col-xs-12 main-section">
                    <h1>Login to Blrt</h1>
                    <p>You need to log in or sign up to Blrt to continue your application for Blrt Pioneer.
                    </p>

                    <form id="login-form" role="form">
                        <div class="form-group">
                            <label for="login-username">Email</label>
                            <input id="login-username" name="username" type="email" class="form-control blrt-input" required autofocus/>
                        </div>

                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input id="login-password" name="password" type="password" class="form-control blrt-input" required/>
                        </div>

                        <p>
                            <button class="btn btn-success critical-button" type="submit">Login</button>
                            <a class="btn btn-primary critical-button wait-js facebook-login" href="#" disabled>Login or sign up with Facebook</a>
                        </p>
                        <p>
                        Haven’t used Blrt on iOS or Android yet? <br><a class="show-main-section wait-js" data-target="#main-signup" href="#" disabled>Here’s a 1 minute Sign up</a> for a Blrt account.
                        </p>
                    </form>
                </div>

                <div id="main-signup" class="col-xs-12 hidden main-section">
                    <h1>Sign up to Blrt</h1>
                    <form id="signup-form" role="form">

                        <div class="form-group">
                            <label for="signup-name">Name</label>
                            <input id="signup-name" name="name" type="text" class="form-control blrt-input" required/>
                        </div>

                        <div class="form-group">
                            <label for="signup-username">Email</label>
                            <input id="signup-username" name="email" type="email" class="form-control blrt-input" required autofocus/>
                        </div>

                        <div class="form-group">
                            <label for="signup-confirm-email">Confirm email</label>
                            <input id="signup-confirm-email" name="confirm-email" type="email" class="form-control blrt-input" required/>
                        </div>

                        <div class="form-group">
                            <label for="signup-password">Password</label>
                            <input id="signup-password" name="password" type="password" class="form-control blrt-input" required/>
                        </div>

                        <div class="form-group">
                            <label for="signup-industry">Industry</label>
                            <input id="signup-industry" name="industry" type="text" class="form-control blrt-input" required/>
                        </div>

                        <p>
                            <button class="btn btn-success critical-button" type="submit">Sign up</button>
                            <a class="btn btn-primary critical-button wait-js facebook-login" href="#" disabled>Login or sign up with Facebook</a>
                        </p>
                        <p>
                            <a id="link-to-login" class="show-main-section wait-js" data-target="#main-login" href="#" disabled>Already have an account?</a>
                        </p>
                    </form>
                </div>

                <div class="col-xs-12 after-section">
                </div>
            </div>

            <div id="apply-row" class="psuedo-page row hidden">
                <div class="col-xs-12 main-section">
                    <h1>Apply to be a Blrt Pioneer</h1>
                    <p>Hi <span class="dyn-user" data-dyn-field="name"></span>, fill out the form below to apply to become a Blrt Pioneer. We’ll process your request
within two working days.</p>
                    <form id="apply-form" role="form">
                        <div class="form-group">
                            <label for="phone">Contact number*</label>
                            <input id="phone" name="phone" type="text" class="form-control blrt-input" required autofocus/>
                        </div>

                        <div class="form-group">
                            <label for="company">Organisation*</label>
                            <input id="company" name="company" type="text" class="form-control blrt-input" required autofocus/>
                        </div>

                        <div class="form-group">
                            <label for="twitterHandle">Twitter handle</label>
                            <input id="twitterHandle" name="twitterHandle" type="text" class="form-control blrt-input" autofocus/>
                        </div>

                        <div class="form-group">
                            <label for="useFor">What do you think you’ll use Blrt for?</label>
                            <input id="useFor" name="useFor" type="text" class="form-control blrt-input" autofocus/>
                        </div>


                        <div class="form-group">
                            <input id="signup-term" name="term" type="checkbox" required/>
                            I agree to the <a href="//www.blrt.com/pioneers/terms.html" target="_blank">Blrt Pioneer Terms & Conditions</a>*
                        </div>

                        <p>
                            <button id="apply-pioneer-confirm" class="btn btn-success critical-button" type="submit" >Apply for Pioneer Now</button>
                            <a class="logout wait-js" href="#" disabled>Logout</a>
                        </p>
                    </form>
                </div>
                <div class="col-xs-12 after-section">
                    
                </div>
            </div>

            <div id="apply-pending-row" class="psuedo-page row hidden">
                <div class="col-xs-12 main-section">
                    <h2>Hello <span class="dyn-user" data-dyn-field="name"></span></h2>
                    <p>You have already applied to be a Blrt Pioneer. Your application is being processed.</p>
                    <p>
                        <a class="logout wait-js" href="#" disabled>Logout</a>
                    </p>
                </div>
            </div>

            <div id="control-panel-row" class="psuedo-page row hidden">
                <div class="col-xs-12 main-section">
                    <h2>Hello, <span class="dyn-user" data-dyn-field="name"></span>.</h2>
                    <p>The Pioneers control panel is a live view of everyone you've invited to Blrt. People in the first table count towards your Pioneer quota. Keep sending Blrts all your email contacts and remind people in table 2 and 3 to join up and make their first Blrt.</p>
                    <h4 class="control-panel-h4">Every 5 people = 6 months free Blrt Premium<br>
                        50 People = Blrt Premium for life you pioneer!</h4>
                </div>
                <div class="col-xs-12 invitation-link-section">
                    <h2>Your unique invitation link</h2>
                </div>
                <div class="col-xs-12 after-section">
                    
                </div>
                <div class="col-xs-12 logout-section">
                    <p>
                        <a class="logout wait-js" href="#" disabled>Logout</a>
                    </p>
                </div>
            </div>

            <div id="application-receive-row" class="psuedo-page row hidden">
                <div class="col-xs-12 main-section">
                    <h1>Nice work!</h1>
                    <p>
                    We’ll be in touch soon about your Pioneer status. In the meantime, make sure you’ve got the Blrt app and try sending some Blrts.
                    </p>
                    <div class = "box-2 clearfix">
                        <div class="box-wrap clearfix">
                            <!-- <div class="leftside hidden-xs">
                                <div class="btn-set">
                                   <a id="appstore1" target="_blank" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8"> 
                                        <div class = "btn-1 app-store-btn alt-app-store-btn img-center">
                                            <div><img src="//www.blrt.com/images/apple-logo-blue@2x.png?v=1.0"></div>
                                            <div class="text">
                                            <h4> Download on the </h4>
                                            <h1> App Store</h1>
                                            </div>
                                        </div>
                                    </a>

                                    <a id="appstore2" onclick="ga('send','event','button','click','app store 2');" href="https://play.google.com/store/apps/details?id=com.blrt.android"> 
                                        <div class = "btn-1 app-store-btn g-play-btn alt-app-store-btn img-center">
                                            <img src="//www.blrt.com/images/google-play@2x.png?v=1.0">
                                            <div class="text">
                                                <h4>Get it on </h4>
                                                <h1>Google Play</h1>
                                            </div>
                                        </div>
                                    </a>  
                                </div>
                            </div> -->
                            <div class="rightside">
                                <h2 class="text-mid">Download the latest Blrt app now</h2>
                                <div class="btn-set ">
                                   <a id="appstore1" target="_blank" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8"> 
                                        <div class = "btn-1 app-store-btn alt-app-store-btn img-center">
                                            <div><img src="//www.blrt.com//images/apple-logo-blue@2x.png?v=1.0"></div>
                                            <div class="text">
                                            <h4> Download on the </h4>
                                            <h1> App Store</h1>
                                            </div>
                                        </div>
                                    </a>

                                    <a id="appstore2" onclick="ga('send','event','button','click','app store 2');" href="https://play.google.com/store/apps/details?id=com.blrt.android"> 
                                        <div class = "btn-1 app-store-btn g-play-btn alt-app-store-btn img-center">
                                            <img src="//www.blrt.com//images/google-play@2x.png?v=1.0">
                                            <div class="text">
                                                <h4>Get it on </h4>
                                                <h1>Google Play</h1>
                                            </div>
                                        </div>
                                    </a>  
                                </div>
                                <ul class="special-list">
                                    <li><a href="http://help.blrt.com">Request support or give feedback ></a></li>
                                    <li><a href="//www.blrt.com/blog">Blrt Blog ></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 after-section">
                    
                </div>
            </div>

        </div>

        
        <div id="fb-root"></div>

        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
        <script type="text/javascript" src="//www.blrt.com/js/jquery.zclip.min.js?v=1.0"></script>
        <script>
            /**
             * jQuery serializeObject
             * @copyright 2014, macek <paulmacek@gmail.com>
             * @link https://github.com/macek/jquery-serialize-object
             * @license BSD
             * @version 2.4.3
             */
            !function(e,r){if("function"==typeof define&&define.amd)define(["exports","jquery"],function(e,i){return r(e,i)});else if("undefined"!=typeof exports){var i=require("jquery");r(exports,i)}else r(e,e.jQuery||e.Zepto||e.ender||e.$)}(this,function(e,r){function i(e,i){function n(e,r,i){return e[r]=i,e}function a(e,r){for(var i,a=e.match(t.key);void 0!==(i=a.pop());)if(t.push.test(i)){var o=s(e.replace(/\[\]$/,""));r=n([],o,r)}else t.fixed.test(i)?r=n([],i,r):t.named.test(i)&&(r=n({},i,r));return r}function s(e){return void 0===h[e]&&(h[e]=0),h[e]++}function o(e){switch(r('[name="'+e.name+'"]',i).attr("type")){case"checkbox":return"on"===e.value?!0:e.value;default:return e.value}}function u(r){if(!t.validate.test(r.name))return this;var i=a(r.name,o(r));return c=e.extend(!0,c,i),this}function f(r){if(!e.isArray(r))throw new Error("formSerializer.addPairs expects an Array");for(var i=0,t=r.length;t>i;i++)this.addPair(r[i]);return this}function d(){return c}function l(){return JSON.stringify(d())}var c={},h={};this.addPair=u,this.addPairs=f,this.serialize=d,this.serializeJSON=l}var t={validate:/^[a-z_][a-z0-9_]*(?:\[(?:\d*|[a-z0-9_]+)\])*$/i,key:/[a-z0-9_]+|(?=\[\])/gi,push:/^$/,fixed:/^\d+$/,named:/^[a-z0-9_]+$/i};return i.patterns=t,i.serializeObject=function(){return this.length>1?new Error("jquery-serialize-object can only serialize one form at a time"):new i(r,this).addPairs(this.serializeArray()).serialize()},i.serializeJSON=function(){return this.length>1?new Error("jquery-serialize-object can only serialize one form at a time"):new i(r,this).addPairs(this.serializeArray()).serializeJSON()},"undefined"!=typeof r.fn&&(r.fn.serializeObject=i.serializeObject,r.fn.serializeJSON=i.serializeJSON),e.FormSerializer=i,i});
        </script>
        <script type="text/javascript">
            var parseApplicationId = "<%- constants.parseApplicationId %>";
            var parseJavascriptKey = "<%- constants.parseJavascriptKey %>";
            var facebookApplicationId = "<%- constants.fbAppId %>";

            var responseReceived = false;
            var facebookResponse;
            window.fbAsyncInit = function() {
              FB.init({
                appId      : facebookApplicationId,
                cookie     : true,  // enable cookies to allow the server to access 
                                    // the session
                xfbml      : true,  // parse social plugins on this page
                version    : "v2.0" // change to v2
              });
                $(".facebook-login").removeAttr("disabled");

                FB.getLoginStatus(function (response) {
                    if(response.status === 'connected') {
                        responseReceived = true;
                        facebookResponse = response;
                    } 
                });
            };

            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            Parse.initialize(parseApplicationId, parseJavascriptKey);


            jQuery(function ($) {
                function detectmob() { 
                 if( navigator.userAgent.match(/Android/i)
                 || navigator.userAgent.match(/webOS/i)
                 || navigator.userAgent.match(/iPhone/i)
                 || navigator.userAgent.match(/iPad/i)
                 || navigator.userAgent.match(/iPod/i)
                 || navigator.userAgent.match(/BlackBerry/i)
                 || navigator.userAgent.match(/Windows Phone/i)
                 ){
                    return true;
                  }
                 else {
                    return false;
                  }
                }

                function showPage(sel) {
                    $(".psuedo-page")
                        .removeClass("active")
                        .addClass("hidden")
                        .filter(sel)
                        .addClass("active")
                        .removeClass("hidden");
                }

                function displayError(msg, type) {
                    $("#ajax-response").remove();

                    if(msg) {
                        type = type || "danger";
                        if(type=="box-2"){
                            $(".psuedo-page.active .invitation-link-section").append(
                                $('<div id="ajax-response" class="alert ' + type + '" role="alert">' + msg + '</div>')
                            );
                        }else{
                            $(".psuedo-page.active .after-section").append(
                                $('<div id="ajax-response" class="alert alert-' + type + '" role="alert">' + msg + '</div>')
                            );
                        }
                    }
                }
                function hideError() { displayError() };

                function startLoading() {
                    $(".critical-button").attr("disabled", "");

                    if($("#ajax-loader").length == 0)
                        $(".psuedo-page.active .after-section").append(
                            $('<div id="ajax-loader" class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active progress-full"></div></div>')
                        );

                    hideError();
                }
                function stopLoading(withMsg, type) {
                    $("#ajax-loader").remove();
                    $(".critical-button").removeAttr("disabled");

                    if(withMsg)
                        displayError(withMsg, type);
                }

                function hereDoc(f) {
                    return f.toString()
                        .replace(/^[^\/]+\/\*!?/, '')
                        .replace(/\*\/[^\/]+$/, '');
                }

                function isValidUrl(url) {
                  return /^([^. ][^. ]*\.)+[^. ]+(\/.*)?$/.test(url);
                }

                function isValidEmail(str) {
                    return /^[^.]([^@\s.]*|\.[^.])*[^.]?@[^.][^@\s]*(\.[^.][^@\s.]*)+$/.test(str);
                }

                function getFileExtension(str) {
                    var periodIndex = str.lastIndexOf(".");
                    return periodIndex != -1 ? str.substr(periodIndex) : "";
                }

                $.fn.ourIsFormValid = function (validationFn) {
                    if(!this.is("form"))
                        return false;

                    var isValid = true;

                    $("input[type=text], input[type=email], input[type=password]", this).each(function () {
                        if(!validationFn(this)) {
                            $(this).parents(".form-group").addClass("has-error");

                            isValid = false;
                        }
                    });
                    return isValid;
                };

                $.fn.ourValidate = function (validationFn) {
                    this.blur(function () {
                        var isValid = true;
                        if(!this.value)
                            return;

                        if(!validationFn(this))
                            $(this).parents(".form-group").addClass("has-error");
                    }).focus(function () {
                        $(this).parents(".form-group").removeClass("has-error");
                    });

                    return this;
                };

                $.fn.populateDynUserData = function () {
                    return this.each(function () {
                        var $this = $(this);

                        var val = Parse.User.current().get($this.data("dyn-field"));
                        val = val || "";

                        if($this.is("input")) $this.val(val);
                        else                  $this.html(val);
                    });
                };

                // Login and signup logic
                function resetAccountView() {
                    $("#account-row input").val("");
                }
                (function () {
                    function isValidInput(input) {
                        var val = input.value.trim();

                        switch($(input).attr("name")) {
                            case "industry":
                            case "name":
                                if(val.length == 0 || val.length > 56)
                                    return false;
                                break;
                            case "email":
                                if(!isValidEmail(val))
                                    return false;
                                break;
                            case "confirm-email":
                                if(val != $("#signup-username").val())
                                    return false;
                                break;
                            case "password":
                                if(val.length < 8)
                                    return false;
                                break;
                        }

                        return true;
                    }

                    $("input[type=text],input[type=email],input[type=password]", $("#signup-form")).each(function () {
                        $(this).ourValidate(isValidInput);
                    });

                    $("#login-form").submit(function () {
                        startLoading();
                        standardLogin($("#login-username", this).val(), $("#login-password", this).val());
                        return false;
                    });


                    $(".facebook-login").click(function () {
                        startLoading();
                        //fix a bug when user logout facebook from facebook website
                        if(responseReceived && facebookResponse ){
                            proceedWithFacebook(facebookResponse.authResponse);
                            return false;
                        }

                        FB.login(function (response) {
                            responseReceived = true;
                            if(response.status === 'connected') proceedWithFacebook(response.authResponse);
                            else                                displayError("An error occurred when trying to connect to Facebook.");
                        },{scope: 'public_profile,email,user_friends'});
                        

                        setTimeout(function () {
                            if(responseReceived) return;
                            displayError("Facebook uses popups to let you login. Ensure they're not disabled for smooth operation.", "warning");

                            setTimeout(function () {
                                if(responseReceived) return;
                                stopLoading("Facebook is taking too long to respond. Please double check that popups are enabled so you can login with Facebook.");
                            }, 17500);
                        }, 7500);

                        return false;
                    });
                    function proceedWithFacebook(authResponse) {
                        FB.api('/me', function(response) {
                            if(response.error) {
                                stopLoading("An error occurred when trying to connect to Facebook.");
                                return;
                            }

                            signup({
                                email:          response.email,
                                token: {
                                    id:         authResponse.userID,
                                    token:      authResponse.accessToken,
                                    expiration: new Date(+new Date() + authResponse.expiresIn * 1000).toJSON(),
                                    target:     "facebook"
                                },
                                name:           response.first_name + " " + response.last_name
                            });
                        });
                    }

                    $("#signup-form").submit(function() {
                        hideError();

                        if($(this).ourIsFormValid(isValidInput)) {
                            startLoading();
                            signup({
                                email:        $("#signup-username", this).val(), 
                                password:     $("#signup-password", this).val(), 
                                name:         $("#signup-name", this).val(),
                                extra: {
                                    industry: $("#signup-industry", this).val()
                                }
                            });
                        }

                        return false;
                    });

                    function signup(data) {
                        var params = {
                            api: {
                                version:    1,
                                endpoint:   "userRegister"
                            },
                            device: {
                                version:    "1.0",
                                device:     "www",  
                                os:         "www",   
                                osVersion:  "www"
                            },
                            data:           data
                        };

                        Parse.Cloud.run("userRegister", params, {
                            success: function(response) {
                                try {
                                    response = JSON.parse(response);
                                } catch(err) {
                                    stopLoading("An error occurred when trying to connect to the Blrt cloud.");
                                    return;
                                }

                                if(response.success) {
                                    if(data.token) {
                                        facebookLogin(response);
                                    }
                                    else           standardLogin(data.email, data.password);
                                } else             stopLoading(response.error.message);
                            },
                            error: function(error) {
                                stopLoading("An error occurred when trying to connect to the Blrt cloud.");
                            }
                        });
                    }

                    var loginCallbacks = {
                        success: function (user) { updateViewsWithUser(user); },
                        error: function (user, error) { displayError("Incorrect username or password. Please try again."); }
                    };
                    function standardLogin(email, password) { Parse.User.logIn(email, password, loginCallbacks).always(function () { stopLoading(); }); }
                    function facebookLogin(response) { 
                        Parse.User.become(response.sessionToken).always(function(){
                            stopLoading();
                            updateViewsWithUser(Parse.User.current());
                        });
                    }
                })();

                

                $(".show-main-section").click(function () {
                    hideError();
                    $(".psuedo-page.active .main-section")
                        .addClass("hidden")
                        .removeClass("active")
                        .filter($(this).data("target"))
                        .removeClass("hidden")
                        .addClass("active");
                });

                $(".wait-js").removeAttr("disabled");

                $(".logout").click(function () {
                    Parse.User.logOut();
                    updateViewsWithUser();
                });

                $("#phone").ourValidate(applyPioneerInputValid);
                $("#company").ourValidate(applyPioneerInputValid);

                function applyPioneerInputValid(input){
                    var val = input.value.trim();
                    switch($(input).attr("name")) {
                        case "phone": 
                            return val.length>0;
                        case "company" : 
                            if(val.length==0 || val == " ")
                                return false;
                            break;
                    }
                    return true;
                }

                function resetApplyRow(){
                    $("#apply-row h2").val("");
                    $("#apply-row .dyn-user").populateDynUserData();
                }

                function resetControlPanel(){
                    Parse.Cloud.run("getRelatedUserWithNonuser", {}, {
                        success: function(response) {
                            try {
                                response = JSON.parse(response);
                            } catch(err) {
                                displayError("An error occurred in communication with the Blrt cloud.");
                                return;
                            }

                            if(response.success){
                                showRelatedUsersWithNonuser(response.relatedUsers);
                                generateInvitationLink();
                            }
                            else{                 
                                displayError(response.error);
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            displayError("An error occurred in communication with the Blrt cloud.");
                        }
                    });
                }

                $(".apply-pioneer").click(function() {
                    var user = Parse.User.current();
                    if(!user){
                        showPage("#account-row");
                    }else{
                        updateViewsWithUser(user);
                    }
                });

                $("#apply-form").submit(function() {

                    if(! $(this).ourIsFormValid(applyPioneerInputValid))
                        return false;
                    //apply: sendemail?? , show message , parse.user.pioneerStatus
                    var applyStatus = Parse.User.current().get("pioneerStatus");
                     //if user haven't apply pioneer
                    if(applyStatus == "" || applyStatus == null){
                        startLoading();
                        Parse.Cloud.run("applyPioneer", {
                            phone: $("#phone").val(), 
                            company: $("#company").val(),
                            twitterHandle: $("#twitterHandle").val(),
                            useFor: $("#useFor").val(), 
                        }, {
                            success: function(response) {
                                try {
                                    response = JSON.parse(response);
                                } catch(err) {
                                    displayError("An error occurred in communication with the Blrt cloud.");
                                    return;
                                }

                                if(response.success){
                                    Parse.User.current().fetch();
                                    // displayError(response.message, "success");
                                    // window.location.replace("/pioneers/applicationReceive");
                                    showPage("#application-receive-row");
                                }
                                else{                 
                                    displayError(response.error);
                                }
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                displayError("An error occurred in communication with the Blrt cloud.");
                            }
                        }).always(function(){stopLoading();});
                    }else{
                        updateViewsWithUser(Parse.User.current());
                    }
                    return false;
                });


                function generateInvitationLink(){
                    Parse.Cloud.run("sendPrimeInvitation",{},{
                        success: function(response) {
                            try {
                                response = JSON.parse(response);
                            } catch(err) {
                                displayError("An error occurred in communication with the Blrt cloud.");
                                return;
                            }

                            if(response.success){
                                if(!detectmob()){
                                    displayError("<h4>"+response.link+" <button id='copy-button' class='btn btn-success critical-button'>Copy</button></h4><br/>Anyone using this link to join and use Blrt will count towards your Pioneer Quota", "box-2");
                                    $("#copy-button").zclip({
                                    path: "//www.blrt.com/js/ZeroClipboard.swf",
                                    copy: function(){
                                        return response.link;
                                        },
                                    afterCopy: function(){},
                                    });
                                }else{
                                    displayError("<h4>"+response.link+"</h4><br/>Anyone using this link to join and use Blrt will count towards your Pioneer Quota", "box-2");
                                }
                            }
                            else{                 
                                displayError(response.error);
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            displayError("An error occurred in communication with the Blrt cloud.");
                        }
                    });
                }


                function showRelatedUsersWithNonuser(relatedUsers)
                {
                    //remove existing list
                    $("#control-panel-row .activeUsers").remove();
                    $("#control-panel-row .inactiveUsers").remove();
                    $("#control-panel-row .nonUsers").remove();


                    var activeUserList = $(hereDoc(function () {/*
                                    <div class="list-group userlist activeUsers">
                                        <a href="#" class="list-group-item active">Active users that count towards your Pioneer quota</a>
                                        <p class="table-intro">Click on a name to send them a new Blrt</p>
                                        <table class="table table-responsive">
                                            <thead><tr><th>User</th><th>Last Conversation</th></tr></thead>
                                        </table>
                                    </div>
                                */}));
                    var inactiveUserList = $(hereDoc(function () {/*
                                    <div class="list-group userlist inactiveUsers">
                                        <a href="#" class="list-group-item active">Signed up, but haven't created a Blrt</a>
                                        <p class="table-intro">Blrt them and encourage them to make a Blrt</p>
                                        <table class="table table-responsive">
                                            <thead><tr><th>User</th><th>Last Conversation</th></tr></thead>
                                        </table>
                                    </div>
                                */}));
                    var nonUserList = $(hereDoc(function () {/*
                                    <div class="list-group userlist nonUsers">
                                        <a href="#" class="list-group-item active">Invited, but haven't signed up yet</a>
                                        <p class="table-intro">Send them a Blrt with an image or document that will appeal to them</p>
                                        <table class="table table-responsive">
                                            <thead><tr><th>User</th><th>Last Conversation</th></tr></thead>
                                        </table>
                                    </div>
                                */}));


                    $.each(relatedUsers,function(index,value){
                        var type = value.type;
                        var list;
                        if(type == "nonUser"){
                            list = nonUserList;
                            value.username = "";
                        }
                        else if(type == "activeUser")
                            list = activeUserList;
                        else
                            list = inactiveUserList;

                        $("table", list).append('<tr><td><a href="'+value.createNewUrl+'" >'+value.name+'</a><br>'+value.username+'</td><td><a href="'+value.convoUrl+'">'+value.convoName+'</a></td></tr>');
                    });

                   

                    $("#control-panel-row .main-section").append(activeUserList);
                    $("#control-panel-row .main-section").append(inactiveUserList);
                    $("#control-panel-row .main-section").append(nonUserList);

                  
                }

                function sendEmailToAskBlrts(badUser){
                    if($(this).attr("disabled")){
                        return false;
                    }

                    $(".askBlrt").addClass("disabled");
                    $(".askBlrt").attr("disabled","");

                    Parse.Cloud.run("askBlrt",{recipients: badUser},{
                        success: function(response) {
                            try {
                                response = JSON.parse(response);
                            } catch(err) {
                                displayError("An error occurred in communication with the Blrt cloud.");
                                return;
                            }

                            if(response.success){
                                displayError(response.message,"success");
                            }
                            else{                 
                                displayError(response.error);
                                $(".askBlrt").removeClass("disabled");
                                $(".askBlrt").removeAttr("disabled");
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            displayError("An error occurred in communication with the Blrt cloud.");
                            $(".askBlrt").removeClass("disabled");
                            $(".askBlrt").removeAttr("disabled");
                        }
                    });
                }

                function updateViewsWithUser(user) {
                    stopLoading();
                    if(user) {
                        Parse.User.current().fetch().then(function(){
                            var status = user.get("accountStatus");
                            if(status && status!=""){
                                Parse.User.logOut();
                                resetAccountView();
                                showPage("#account-row");
                                setTimeout(function() { alert("This account has been "+status+". Please contact Blrt Support."); }, 1);
                                return;
                            }
                            
                            $(".dyn-user").populateDynUserData();
                        
                            var applyStatus = Parse.User.current().get("pioneerStatus");
                             //if user haven't apply pioneer
                            if(applyStatus == "" || applyStatus == null){
                                resetApplyRow();
                                showPage("#apply-row");
                            }
                            else if (applyStatus=="pending"){
                                showPage("#apply-pending-row");
                            }else if (applyStatus=="approved"){
                                resetControlPanel();
                                showPage("#control-panel-row");
                            }
                        });
                    } else {
                        //if haven't login
                        resetAccountView();
                        // Logged out
                        showPage("#intro-row");
                    }
                }
                if(Parse.User.current()) updateViewsWithUser(Parse.User.current());
                // showPage("#intro-row");
            });
        </script>
    </body>
</html>