<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>BLRT Operations Pty Ltd Privacy Policy</title>
    <link rel="icon" type="image/png" href="http://www.blrt.com/images/blrtfavicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="https://s3.amazonaws.com/blrt-cc-images/redirects/css/terms-bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://s3.amazonaws.com/blrt-cc-images/redirects/css/terms.css" rel="stylesheet" type="text/css"/>
    <script>
        var blrt_check = "blrt";
    </script>
    <style>
        body{
            counter-reset: section;
        }
        h2:before{
            counter-increment: section;
            content: counter(section) ". ";
        }
        .first li, .second li{
            display: block;
            padding-bottom: 10px;
        }
        .first{
            counter-reset: first;
            padding: 0;
        }
        .first>li:before{
            counter-increment: first;
            content: counter(section) "." counter(first) " ";
        }
        .second{
            counter-reset: second;
        }
        .second>li:before{
            counter-increment: second;
            content: counter(section) "." counter(first) "." counter(second) " ";
        }


    </style>
</head>
<body>
<div class="container-fluid container-white pad-bot-tab">
    <div class="template slide02 container container-tab pad-top-big pad-top-not-xs pad-bot">
        <div class="terms-content-wrap">
            <h1>BLRT Operations Pty Ltd Privacy Policy</h1>
            <p style="font-family: Open Sans, helvetica, arial, sans-serif;font-size: 18px;font-weight: 200;">BLRT Operations Pty Ltd ACN 168 937 540 (BLRT) respects your privacy and is committed to protecting Personal Information that you provide to us. This statement explains our policies and practices regarding the use and disclosure of Personal Information by BLRT. Please note that BLRT may review and update this Privacy Policy from time to time as needed without notice. You should periodically review this privacy policy to ensure that you are aware of how BLRT collects and uses Personal Information.<br><br>
                By using our services, you consent to the collection and use of your Personal Information by BLRT as explained below.<br><br>
                Personal Information may include, but is not limited to, your name, address, email address, phone number, title, information request data and response data. Personal Information may relate to you, your family, your employer or associated entities.<br><br>
                By submitting Personal Information you are warranting that you are not under any prohibition or restriction which may prevent you from disclosing or providing your Personal Information; and<br><br>
                This Privacy Policy applies to any information supplied by or received from you, whether during registration for an Account or otherwise.</p>
            <h2>What kinds of information do we collect?</h2>
            <ol class="first">
                <li>Information you provide us directly</li>
                <ol class= "second">
                    <li>Your username, password and e-mail address, phone number when you register for a Blrt account.</li>
                    <li>Facebook registered email address if you sign in via Facebook.</li>
                    <li>Profile information that you provide for your user profile (e.g., first and last name, picture, phone number, gender, organisation, industry).</li>
                    <li>User Content (e.g., images, pdfs, Blrts, notes, comments) that you post to the Service.</li>
                    <li>User operations on Blrt conversations (view Blrts, add new users, request / approve / deny access to conversations, making Blrts public).</li>
                    <li>Email addresses of users to whom you send Blrt conversations</li>
                    <li>Support requests you sent from the in-app and help system</li>
                    <li>Communications between you and Blrt. For example, we may send you Service-related emails (e.g., account verification, changes/updates to features of the Service, technical and security notices).</li>
                </ol>
                <li>Finding your contacts on Blrt:</li>
                <ol class="second">
                    <li>If you allow (can only disallow in Android 6+ and iOS) Blrt to access your device's contact list, Blrt will access your contacts list to determine whether or not someone associated with your contact is using Blrt.</li>
                </ol>
                <li>Android device account email addresses</li>
                <ol class="second">
                    <li>If you allow (can only disallow in Android 6+) Blrt to access your device's account, Blrt will use the account's email addresses to determine whether or not the email addresses are associated with existing Blrt accounts, and prefill the username when you log in or sign up.
                    </li>
                </ol>
                <li>Analytics information:</li>
                <ol class="second">
                    <li>We collect information about how you use our Services, such as the screens you view or engage with or the frequency and duration of your activities.
                    </li>
                </ol>
                <li>Log data</li>
                <ol class="second">
                    <li>Technical information of the app code for debugging and development usage</li>
                    <li>Crash reports</li>
                </ol>
                <li>Device information</li>
                <ol class="second">
                    <li>The operating system version, hardware version and device identifiers</li>
                </ol>
                <li>Cookies</li>
                <ol class="second">
                    <li>BLRT uses "cookies". A cookie is a small data file that a website can transfer to a visitor's hard drive to keep records of the visits to such site. A cookie contains information such as your username and password that helps us recognise the pages you have visited and improve future visits, but the only personal information a cookie can contain is the information that you provide yourself. A cookie cannot read data off of your hard drive or read cookie files created by other sites. If you prefer not to accept a cookie you can set your web browser to warn you before accepting cookies or refusing all cookies. Access to some of our secured websites may require the use of cookies, which you must enable. You should see your web browser “help” for instructions on how to enable, disable or limit the sites from which you accept cookies. Otherwise, you can still access most of the features on our web site without accepting a cookie.</li>
                </ol>
                <li>Account Information</li>
                <ol class="second">
                    <li>Certain content or functionality of our web site or software may only be accessed by agreement between you and BLRT. This may require the creation of a user account (Account). Creation of an Account will require a username, password and other Personal Information.</li>
                    <li>Failure to provide Personal Information may prevent you from accessing certain BLRT websites or services.</li>
                    <li>By accessing and using our services, you agree to maintain the confidentiality of the username and password and consent to our Terms and Conditions.
                    </li>
                </ol>
            </ol>

            <h2>How do we use this information?</h2>
            <ol class="first">
                <li>In addition to some of the specific uses of information we describe in this Privacy Policy, we may use information that we receive to:</li>
                <ol class="second">
                    <li>provide, design, improve and develop the Services;</li>
                    <li>create and maintain a user profile in order to better serve you;</li>
                    <li>communicate with you electronically or otherwise;</li>
                    <li>alert you to new product and service offerings as they become available;</li>
                    <li>verify compliance with any agreement or terms and conditions between BLRT and you;</li>
                    <li>provide better user experience and help you use the Services more efficiently</li>
                    <li>help you efficiently access your information after you sign in</li>
                    <li>remember information so you will not have to re-enter it during your visit or the next time you visit the Service</li>
                    <li>monitor metrics such as total number of visitors, traffic, demographic and use patterns</li>
                    <li>diagnose or fix technology problems</li>
                </ol>
                <p style="padding-left: 30px;">
                    If you decide that we should not use your personal Personal Information to contact you, please let us know and we will not use that information for such purpose.<br><br>
                    <strong>NOTE</strong>: In complying with a request to cease using Personal Information it may be necessary for BLRT to cease providing services or the use of software to you.
                </p>
            </ol>

            <h2>How is this information shared?</h2>
            <ol class="first">
                <li>Blrt content</li>
                <ol class="second">
                    <li>you as a member of a Blrt conversation can choose add other members in your Blrt conversation.</li>
                    <li>all members in the conversation can view all contents of the conversation, including Blrts, comments, image / pdf files, conversation description information, members' email addresses.</li>
                    <li>a public Blrt has Blrt content that has specifically been made ‘public’ by the creator of the Blrt. A Blrt can only be made public by the creator of that Blrt. A public Blrt can be viewed by anyone who has the direct url for that Blrt.</li>
                </ol>
                <li>Disclosure of Personal Information.</li>
                <ol class="second">
                    <li>BLRT agrees that it will:</li>
                    <ol class ="third">
                        <li>(a) take all action reasonably necessary to maintain the confidentiality of your personal information;</li>
                        <li>(b) not disclose your personal information to any person except as permitted under this policy; and</li>
                        <li>(c) use or reproduce your personal information only for the purposes of our terms and conditions and as described in this policy.</li>
                    </ol>
                    <li>BLRT does not sell or trade Personal Information to third parties. BLRT may share Personal Information with our business partners for marketing, advertising or product/service offering purposes. For example, we provide Personal Information to our service providers for direct emailing of our newsletters, online surveys or notifications on BLRT offerings to our contact list.</li>
                    <li>BLRT may also disclose Personal Information in the following circumstances:</li>
                    <ol class="third">
                        <li>(a) if we have your consent;</li>
                        <li>(b) if we need to share it in order to provide you with the products and/or services you requested;</li>
                        <li>(c) where disclosure is required by law; or</li>
                        <li>(d) as required or permitted by any provision of the privacy policy or our Terms and Conditions.</li>
                    </ol>
                    <li>You may also agree to provide your Personal Information to third parties in connection with BLRT offerings, in order to access and/or use their products and/or services. If you agree to provide such information to these third parties, then your Personal Information will be subject to their privacy policies.</li>
                </ol>
                <li>Disclosure to Third Parties Service Providers</li>
                <p style="padding-left:30px">In order to provide our services, BLRT engages third party companies to provide and operate server and data storage services. Some of these companies operate outside of Australia. Any Personal Information you provide to BLRT will be transferred to such third party companies for the purposes of storing your Personal Information on BLRT’s behalf, and for the purpose of enabling the provision of services to you by BLRT. If you have concerns regarding the use or disclosure of your Personal Information as described in this clause you will not be able to use the full functionality of our website or services and should cease from so doing.<br><br>
                    Any parties to whom your Personal Information is transferred pursuant to this clause are subject to strict privacy obligations and may only use or access your Personal Information for the purposes described herein.</p>
            </ol>
            <h2>Accuracy and Security.</h2>
            <ol class="first">
                <li>The accuracy and security of the Personal Information is important to BLRT. You may review and request updates to your Personal Information by contacting BLRT. If you contact us to correct your Personal Information, we will attempt to correct such inaccuracies in a timely manner.</li>
                <li>BLRT is concerned with the security of your Personal Information and is committed to taking reasonable steps to protect it from unauthorized access and use of that Personal Information. To that end, we put in place appropriate physical, electronic and managerial policies and procedures to secure your Personal Information. We also continue to implement procedures to maintain accurate, complete and current Personal Information.</li>
                <li>Personal Information may be retained for 7 years or such other period as required by taxation or other laws.</li>
            </ol>
            <h2>Terms and Conditions.</h2>
            <p>This Privacy Policy is to be read and interpreted in conjunction with BLRT’s Terms and Conditions, which describe the restrictions, disclaimers, indemnification and limitation of liability regarding any use of the BLRT services.</p>
            <h2>Access to Personal Information</h2>
            <p>You have a right to know what of your Personal Information we hold. You may request this by contacting BLRT via the Contact page on the Blrt website at www.blrt.com. We may charge an information retrieval fee if necessary.</p>
            <h2>External Links.</h2>
            <p>From time to time our website or software may also include links to other websites. These may be provided by either BLRT, or other users of BLRT’s website or software. The linked sites are not under the control of BLRT and BLRT is not responsible for the content of any linked site or any link contained in a linked site, whether the third party owner/operator of the website is affiliated with BLRT through a business partnership or otherwise. If you decide to access any of the third party sites you do so entirely at your own risk, and are subject to the privacy policies for the third party websites.</p>
            <h2>General.</h2>
            <ol class="first">
                <li>If you have questions regarding our Privacy Statement, please contact BLRT via our Contact page.</li>
                <li>This Privacy Policy was last updated on 11 August 2016.</li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>