<!DOCTYPE html>
<html>
    <head>
        <title>Blrt Referer Program</title>

        <meta charset="utf-8"/>
        <link rel="icon" type="image/png" href="//www.blrt.com/images/blrtfavicon.png?v=1.0"/> 
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
         <style>
            html, body{
                  height: 100%;
                  position: relative;
            }

            .portal, .no-permission{
                  text-align: center;
                  font-family:"Open Sans";
                  font-size: 30px;

                  margin: 0;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  margin-right: -50%;
                  -webkit-transform: translate(-50%, -50%) 
            }
         </style>
    </head>
    <body>
        <div class="no-permission" style="display: none;">No permission</div>
        <div class="portal" style="display: none;">Coming soon</div>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
        <script type="text/javascript">
            var parseApplicationId = "<%- constants.parseApplicationId %>";
            var parseJavascriptKey = "<%- constants.parseJavascriptKey %>";
            var token = "<%- token %>"; 
           

            Parse.initialize(parseApplicationId, parseJavascriptKey);


            /**
             * Determine the mobile operating system.
             * This function either returns 'iOS', 'Android' or 'unknown'
             *
             * @returns {String}
             */
            function getMobileOperatingSystem() {
              var userAgent = navigator.userAgent || navigator.vendor || window.opera;

              if( userAgent.match( /iPad/i ) || userAgent.match( /iPhone/i ) || userAgent.match( /iPod/i ) )
              {
                return 'iOS';

              }
              else if( userAgent.match( /Android/i ) )
              {

                return 'Android';
              }
              else
              {
                return 'unknown';
              }
            }

            jQuery(function ($) {
                var op = getMobileOperatingSystem();
                if(op!="iOS" && op !="Android"){
                    $(".no-permission").removeClass("hidden");
                    return;
                }

                try{
                    var waitLogin = new Parse.Promise.as();
                    if(token && token!=""){
                        waitLogin = Parse.User.become(token);
                    }
                    waitLogin.then(function(user){
                        if(!user){
                            $(".no-permission").show();
                        }else{
                            $(".portal").show();
                        }
                    },function(error){
                        console.log(error);
                        $(".no-permission").show();
                    });
                }catch(e){ 
                    $(".no-permission").show();
                };
                
            });
        </script>
    </body>
</html>