<!DOCTYPE html>
<html>
<head>
    <title>Blrt Request</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="icon" type="image/png" href="//www.blrt.com/images/blrtfavicon.png?v=1.0"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//www.blrt.com/css/styles-lp.css?v=1.0.1" rel="stylesheet" type="text/css"/>

    <style>

        .progress-full {
            width: 100%;
        }

        .margin-bot-sm {
            margin-bottom: 10px;
        }

        .vcen-outer {
            width: 110px;
            height: 100%;

            display: table;
        }

        .vcen-inner {
            display: table-cell;
            vertical-align: middle;
        }

        .center-panel {
            display: table;
            height: 100%
        }

        .center-panel > .center-object {
            display: table-cell;
            vertical-align: middle;
        }

        .thumbnail-remove {
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 45px;
            padding: 0;
            right: 0px;
            display: table;
            height: 100px;
        }

        .thumbnail-height {
            height: 100px;
        }

        .radio-span {
            display: block;
        }

        .radio-span label {
            padding-left: 5px;
            font-size: 15px;
        }

        input#requestee-type-other {
            margin-left: 20px;
        }

        #requestee-group .input-group {
            width: 100%;
        }

        input#generate-requestee {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-top: 25px;
        }

        .logout {
            display: inline-block;
        }

        .loadedthumbnail ~ .thumbnail-loading-container {
            display: none !important;
            visibility: hidden !important;
        }

        .animate-spin {
            -animation: spin .7s infinite linear;
            -webkit-animation: spin-webkit .7s infinite linear;
        }

        @-webkit-keyframes spin-webkit {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
<div class="section">
    <div class="container-green container-fluid pad-bot-tab text-mid">
        <div class="container">
            <nav class="clearfix">
                <ul class="list-inline main-nav">
                    <li class="list-first nav-logo"><a href="//www.blrt.com"><img
                                    src="//www.blrt.com/images/blrt-logo-blk@2x.png?v=1.0"/></a></li>
                    <li><a class="active" href="//request.blrt.com/">Blrt Request</a></li>
                    <li><a href="//blrt.com/pricing">Pricing</a></li>
                    <li><a href="//blrt.com//blog">Blog</a></li>
                    <li><a href="//help.blrt.com">Support</a></li>
                </ul>
                <ul class="list-inline nav-social-media">
                    <li>
                        <div class="fb-like" data-href="https://www.facebook.com/blrtapp" data-layout="button_count"
                             data-action="like" data-show-faces="false" data-share="false" data-ref="blrt.com"></div>
                    </li>

                    <li>
                        <a href="https://twitter.com/blrt" class="twitter-follow-button" data-show-count="false">Follow
                            @blrt</a>
                        <script>!function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');</script>
                    </li>

                </ul>

            </nav>
            <hr class="marg-bot-big">
            <h4 class="text-mid hero-light username-text hidden">Hello <span class="dyn-user"
                                                                             data-dyn-field="name"></span></h4>
            <h1 class="blrt-title text-mid">Send <span class="hero-light">Blrt Request<span></h1>
        </div>
    </div>
    <div id="account-row" class="psuedo-page active container-white container-fluid pad-bot-tab">
        <div id="main-login"
             class="main-section container container-tab pad-top-big pad-top-not-xs premium-container-tab vert-margin tab-lift">
            <form id="login-form" role="form" class="small-wrapper">
                <div class="form-group marg-bot-xs">
                    <input id="login-username" name="username" type="email" placeholder="Username"
                           class="form-control blrt-input" autofocus/>
                </div>

                <div class="form-group marg-bot-xs">
                    <input id="login-password" name="password" type="password" placeholder="Password"
                           class="form-control blrt-input "/>
                </div>

                <p class="text-left">
                    <button class="btn btn-lg btn-success critical-button" type="submit">Login</button>
                    <a class="btn-link critical-button show-main-section wait-js" data-target="#main-signup" href="#"
                       disabled>Sign up</a>
                </p>
                <p class="text-left">
                    <a class="btn btn-lg btn-primary critical-button wait-js marg-top-small facebook-login"
                       id="facebook-login" href="#" disabled>Login with Facebook</a>
                </p>
            </form>
        </div>

        <div id="main-signup"
             class="#placeholder hidden main-section container container-tab pad-top-big pad-top-not-xs premium-container-tab vert-margin tab-lift">
            <form id="signup-form" role="form" class="small-wrapper">
                <div class="form-group marg-bot-xs">
                    <input id="signup-username" name="email" type="email" placeholder="email"
                           class="form-control blrt-input" autofocus/>
                </div>

                <div class="form-group marg-bot-xs">
                    <input id="signup-confirm-email" name="confirm-email" type="email" placeholder="confirm email"
                           class="form-control blrt-input"/>
                </div>

                <div class="form-group marg-bot-xs">
                    <input id="signup-password" name="password" type="password" placeholder="password"
                           class="form-control blrt-input"/>
                </div>

                <div class="form-group marg-bot-xs">
                    <input id="signup-name" name="name" type="text" placeholder="name" class="form-control blrt-input"/>
                </div>

                <div class="form-group marg-bot-xs">
                    <input id="signup-industry" name="industry" type="text" placeholder="industry"
                           class="form-control blrt-input"/>
                </div>

                <p class="marg-bot-xs">
                    <button class="btn btn-lg btn-success critical-button" type="submit">Sign up</button>
                    <a id="link-to-login" class="btn-link critical-button show-main-section wait-js"
                       data-target="#main-login" href="#" disabled>Already have an account?</a>
                </p>
                <p class="marg-bot-xs">
                    <a class="btn btn-lg btn-primary critical-button wait-js marg-top-small facebook-login" href="#"
                       disabled>Login with Facebook</a>
                </p>

            </form>
        </div>
        <div class="#placeholder container pad-top-small">
            <div class="after-section small-wrapper marg-top-small"></div>
        </div>
    </div>

    <div id="request-row" class="psuedo-page hidden">
        <div class="#placeholder main-section container-white container-fluid pad-bot-tab">
            <form id="generate-form" role="form"
                  class="container container-tab pad-top-big pad-top-not-xs premium-container-tab vert-margin tab-lift">
                <div class="form-group small-wrapper steps text-left pad-bot-big">
                    <div class="blrt-counter">
                        <p>1</p>
                    </div>
                    <div class="steps-content">
                        <h2>Name the Blrt</h2>
                        <p>What should the new Blrt conversation be called? The person making the first Blrt will have
                            the opportunity to change the name.</p>
                        <input id="generate-name" type="text" name="name" pattern=".{1,56}"
                               class="form-control blrt-input marg-top-small" placeholder="Name your Blrt"/>
                    </div>
                </div>

                <div class="small-wrapper steps text-left pad-bot-big">
                    <div class="blrt-counter">
                        <p>2</p>
                    </div>
                    <div id="media-group" class="input-outer-container steps-content">
                        <h2>Add pages to the Blrt</h2>
                        <p>What do you want feedback on? You can upload images or PDFs, or type in URLs for web pages,
                            images and PDF files on the web.</p>
                        <div class="media input-container form-group prepend-thumbnail">
                            <div class="media-body append-loader">
                                <div class="group-input append-input marg-top-small">
                                    <div class="btn-upload upload-button"><span
                                                class="glyphicon glyphicon-arrow-up"></span></div>
                                    <div class="compound-input">
                                        <input id="generate-media" type="text" name="media[]"
                                               placeholder="Upload an image or type a URL"
                                               class="main-input form-control blrt-input"/>
                                        <span class="input-group-btn ok-input-span hidden">
                                                    <button class="btn btn-danger" type="button">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                        <a href="#" class="remove-input-span">
                                            <div class="btn-cancel remove-input">&mdash;</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" id="add-media-button" class="btn btn-xs wait-js" disabled>Add more</a>
                </div>


                <div id="requestee-group" class="form-group small-wrapper steps text-left pad-bot-big">
                    <div class="blrt-counter">
                        <p>3</p>
                    </div>
                    <div class="steps-content">
                        <h2>Who will start this conversation?</h2>
                        <p>Email address of the Blrt creator. This is typically someone you want feedback from and will
                            make the first Blrt in this conversation. If they're not currently a Blrt user, they'll
                            receive a link to download the app.</p>
                        <p>Hint: You can send this Blrt Request to yourself.</p>
                        <div class="input-group marg-top-small">
                                    <span class="radio-span">
                                        <input id="requestee-type-me" type="radio" name="requesteeType" value="me"
                                               checked> <label for="requestee-type-me">Me</label>
                                        <input id="requestee-type-other" type="radio" name="requesteeType"
                                               value="other"> <label for="requestee-type-other">Someone else</label>
                                    </span>
                            <input id="generate-requestee" type="email" name="requestee"
                                   class="main-input form-control blrt-input" placeholder="someone@example.com"
                                   style="display:none"/>
                        </div>
                    </div>
                </div>
                <div id="message-group" class="form-group small-wrapper steps text-left pad-bot-big">
                    <div class="blrt-counter">
                        <p>4</p>
                    </div>
                    <div class="steps-content">
                        <h2>Message for the Blrt creator</h2>
                        <p>Give the Blrt creator some information on what kind of feedback you'd like to receive on the
                            website, document or images you've added above.</p>
                        <div class="blrt-textarea-wrapper marg-top-small">
                            <textarea id="generate-message" name="message"
                                      class="main-input form-control blrt-textarea " placeholder="message" rows="4"
                                      pattern=".{1,250}"></textarea>
                            <div class="character-counter"><p id="word-count">0|250</p></div>
                        </div>
                    </div>
                </div>
                <div class="small-wrapper steps text-left pad-bot-big">
                    <div class="blrt-counter">
                        <p>5</p>
                    </div>
                    <div id="recipients-group" class="input-outer-container steps-content marg-bot-small">
                        <h2>Blrt conversation participants</h2>
                        <p class="marg-bot-small">Once the Blrt creator has made the first Blrt, who should be added to
                            the conversation? You're in by default, and you can add three more people. If the Blrt
                            creator is a Premium user, the conversation can later have up to 20 people in total.</p>
                        <div class="input-container form-group margin-bot-sm group-input append-input compound-input marg-top-small">
                            <input id="generate-recipients" type="email" name="recipients[]"
                                   class="main-input form-control dyn-user blrt-input" data-dyn-field="email" value=""
                                   readonly READONLY/>
                        </div>
                    </div>
                    <a href="#" id="add-recipients-button" class="btn btn-xs wait-js" disabled>Add more</a>
                </div>

                <div class="#placeholder small-wrapper marg-bot-big after-section"></div>

                <p class="text-mid">
                    <input id="generate-submit" class="btn btn-lg wait-js critical-button" type="submit"
                           value="Send Blrt Request" disabled/>
                    <br/>
                    <a class="btn-link critical-button logout wait-js marg-top-small" href="#" disabled>Logout</a>
                </p>
            </form>
        </div>
    </div>

    <div id="success-row" class="psuedo-page hidden">
        <div class="#placeholder container-white container-fluid pad-bot-big">
            <div class="container container-tab pad-top-big pad-top-not-xs pad-bot premium-container-tab vert-margin  tab-lift text-mid">
                <div class="small-wrapper">
                    <p class="text-mid">We've sent the Blrt Request to your Blrt creator and a copy of the email has
                        been sent to you. If you don't receive a Blrt from this request soon, you can start the Blrt
                        conversation yourself. Just open the email on your phone or tablet and tap 'Create
                        Blrt'.<br/><br/>
                        Connect with Blrt on Facebook and Twitter.
                    </p>
                    <div class="marg-top-small">
                        <ul class="list-inline nav-social-media">
                            <li>
                                <div class="fb-like" data-href="https://www.facebook.com/blrtapp"
                                     data-layout="button_count" data-action="like" data-show-faces="false"
                                     data-share="false" data-ref="blrt.com"></div>
                            </li>

                            <li>
                                <a href="https://twitter.com/blrt" class="twitter-follow-button"
                                   data-show-count="false">Follow @blrt</a>
                                <script>!function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + '://platform.twitter.com/widgets.js';
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, 'script', 'twitter-wjs');</script>
                            </li>

                        </ul>
                    </div>
                    <a href="#" id="another-request" class="btn btn-lg wait-js critical-button marg-top-small">Send
                        another Blrt Request</a>
                    <br/>
                    <a class="btn-link critical-button logout wait-js marg-top-small" href="#" disabled>Logout</a>
                </div>
            </div>
        </div>
        <div class="container-grey container-fluid pad-bot-tab">
            <div class="container container-tab pad-top-big pad-top-not-xs premium-container-tab vert-margin tab-lift">
                <div class="box-2 clearfix">
                    <div class="box-wrap clearfix">
                        <div class="leftside hidden-xs">
                            <div class="btn-set">
                                <a id="appstore1" target="_blank"
                                   href="https://itunes.apple.com/au/app/id874881426&amp;mt=8">
                                    <div class="btn-1 app-store-btn alt-app-store-btn img-center">
                                        <div><img src="//www.blrt.com/images/apple-logo-blue@2x.png?v=1.0"></div>
                                        <div class="text">
                                            <h4> Download on the </h4>
                                            <h1> App Store</h1>
                                        </div>
                                    </div>
                                </a>

                                <a id="appstore2" onclick="ga('send','event','button','click','app store 2');"
                                   href="https://play.google.com/store/apps/details?id=com.blrt.android">
                                    <div class="btn-1 app-store-btn g-play-btn alt-app-store-btn img-center">
                                        <img src="//www.blrt.com/images/google-play@2x.png?v=1.0">
                                        <div class="text">
                                            <h4>Get it on </h4>
                                            <h1>Google Play</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="rightside">
                            <h2 class="text-mid">Download the latest Blrt app now</h2>
                            <div class="btn-set hidden-not-xs">
                                <a id="appstore1" target="_blank"
                                   href="https://itunes.apple.com/au/app/id874881426&amp;mt=8">
                                    <div class="btn-1 app-store-btn alt-app-store-btn img-center">
                                        <div><img src="//www.blrt.com/images/apple-logo-blue@2x.png?v=1.0"></div>
                                        <div class="text">
                                            <h4> Download on the </h4>
                                            <h1> App Store</h1>
                                        </div>
                                    </div>
                                </a>

                                <a id="appstore2" onclick="ga('send','event','button','click','app store 2');"
                                   href="https://play.google.com/store/apps/details?id=com.blrt.android">
                                    <div class="btn-1 app-store-btn g-play-btn alt-app-store-btn img-center">
                                        <img src="//www.blrt.com/images/google-play@2x.png?v=1.0">
                                        <div class="text">
                                            <h4>Get it on </h4>
                                            <h1>Google Play</h1>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <ul class="special-list">
                                <li><a href="//help.blrt.com">Request support feedback ></a></li>
                                <li><a href="//www.blrt.com/blog">Blrt Blog ></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-light-grey">
        <div class="think-footer container container-no-tab pad-top-small pad-bot-small">
            <p>&copy; 2014 Blrt</p>
            <ul class="list-inline text-center">
                <li><a href="//blrt.com/contact/">Contact</a></li>
                <li><a href="//press.blrt.com">Press</a></li>
                <li><a href="//blrt.com/blog/">Blog</a></li>
                <li><a href="//help.blrt.com/">Support</a></li>
                <li><a href="//blrt.com/privacy/">Privacy</a></li>
                <li><a href="//blrt.com/terms/">Terms</a></li>
                <li><a onclick="ga('send','event','button','click','twitter footer');"
                       href="https://www.twitter.com/blrt">@blrt</a>
                <li>
            </ul>
        </div>
    </div>
</div>

<div id="amazon-forms" class="hidden" style="display: none!important; visibility: hidden!important;">
    <form action="//blrtrequest.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
        <input type="input" name="key" value="request/uploads"/>
        <input type="text" name="acl" value="public-read"/>
        <input type="input" name="Content-Type" value="unset content-type"/>
        <input type="text" name="X-Amz-Credential" value="unset credential"/>
        <input type="text" name="X-Amz-Algorithm" value="AWS4-HMAC-SHA256"/>
        <input type="text" name="X-Amz-Date" value="unset date"/>
        <input type="text" name="Policy" value='unset policy'/>
        <input type="text" name="X-Amz-Signature" value="unset signature"/>
        <input type="file" name="file" accept="application/pdf, image/png, image/jpeg"/>
    </form>
</div>
<canvas id="pdf-canvas" class="hidden"></canvas>
<div id="fb-root"></div>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://npmcdn.com/parse@1.9.1/dist/parse.min.js"></script>
<script src="//www.blrt.com/js/pdf.js"></script>
<script>
    /**
     * jQuery serializeObject
     * @copyright 2014, macek <paulmacek@gmail.com>
     * @link https://github.com/macek/jquery-serialize-object
     * @license BSD
     * @version 2.4.3
     */
    !function (e, r) {
        if ("function" == typeof define && define.amd)define(["exports", "jquery"], function (e, i) {
            return r(e, i)
        }); else if ("undefined" != typeof exports) {
            var i = require("jquery");
            r(exports, i)
        } else r(e, e.jQuery || e.Zepto || e.ender || e.$)
    }(this, function (e, r) {
        function i(e, i) {
            function n(e, r, i) {
                return e[r] = i, e
            }

            function a(e, r) {
                for (var i, a = e.match(t.key); void 0 !== (i = a.pop());)if (t.push.test(i)) {
                    var o = s(e.replace(/\[\]$/, ""));
                    r = n([], o, r)
                } else t.fixed.test(i) ? r = n([], i, r) : t.named.test(i) && (r = n({}, i, r));
                return r
            }

            function s(e) {
                return void 0 === h[e] && (h[e] = 0), h[e]++
            }

            function o(e) {
                switch (r('[name="' + e.name + '"]', i).attr("type")) {
                    case"checkbox":
                        return "on" === e.value ? !0 : e.value;
                    default:
                        return e.value
                }
            }

            function u(r) {
                if (!t.validate.test(r.name))return this;
                var i = a(r.name, o(r));
                return c = e.extend(!0, c, i), this
            }

            function f(r) {
                if (!e.isArray(r))throw new Error("formSerializer.addPairs expects an Array");
                for (var i = 0, t = r.length; t > i; i++)this.addPair(r[i]);
                return this
            }

            function d() {
                return c
            }

            function l() {
                return JSON.stringify(d())
            }

            var c = {}, h = {};
            this.addPair = u, this.addPairs = f, this.serialize = d, this.serializeJSON = l
        }

        var t = {
            validate: /^[a-z_][a-z0-9_]*(?:\[(?:\d*|[a-z0-9_]+)\])*$/i,
            key: /[a-z0-9_]+|(?=\[\])/gi,
            push: /^$/,
            fixed: /^\d+$/,
            named: /^[a-z0-9_]+$/i
        };
        return i.patterns = t, i.serializeObject = function () {
            return this.length > 1 ? new Error("jquery-serialize-object can only serialize one form at a time") : new i(r, this).addPairs(this.serializeArray()).serialize()
        }, i.serializeJSON = function () {
            return this.length > 1 ? new Error("jquery-serialize-object can only serialize one form at a time") : new i(r, this).addPairs(this.serializeArray()).serializeJSON()
        }, "undefined" != typeof r.fn && (r.fn.serializeObject = i.serializeObject, r.fn.serializeJSON = i.serializeJSON), e.FormSerializer = i, i
    });
</script>
<script type="text/javascript">
    var parseApplicationId = "<%- constants.parseApplicationId %>";

    var parseJavascriptKey = "<%- constants.parseJavascriptKey %>";
    var facebookApplicationId = "<%- constants.fbAppId %>";
    var serverURL ="https://d.blrt.co/parse"
    var grabzitApiKey = "<%- constants.grabzitApiKey %>";
    var supportedImageExtensions = <%- JSON.stringify(constants.supportedImageExtensions) %>;

    var responseReceived = false;
    var facebookResponse;
    window.fbAsyncInit = function () {
        FB.init({
            appId: facebookApplicationId,
            cookie: true,  // enable cookies to allow the server to access
                           // the session
            xfbml: true,  // parse social plugins on this page
            version: "v2.0" // change to v2
        });
        $(".facebook-login").removeAttr("disabled");

        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                responseReceived = true;
                facebookResponse = response;
            }
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    Parse.initialize(parseApplicationId);
    // Parse.serverURL = config.serverURL;
    Parse.serverURL = serverURL;
    //    Parse.initialize(parseApplicationId, parseJavascriptKey);


    jQuery(function ($) {

        $("#generate-message").keyup(wordCount).change(wordCount).blur(wordCount).focus(wordCount);
        $("#another-request").click(function () {
            location.reload();
        });
        function wordCount() {
            val = $(this).val();
            if (val.length > 250) {
                $(this).val(val.slice(0, 250));
            }
            $("#word-count").text(val.length + "|250");
        }

        function thumbnailConChange() {
            $strongs = $(this).find("strong");

            $strongs.each(function () {
                if ($(this).text() == "GrabzIt Error:") {
                    $display = $(this).parents(".media-display-container");
                    $(this).parents(".thumbnail-container").html("");
                    $display.find(".media-url").append('<p>url can not access</p>');
                }
            });
        }

        function showPage(sel) {
            $(".psuedo-page")
                    .removeClass("active")
                    .addClass("hidden")
                    .filter(sel)
                    .addClass("active")
                    .removeClass("hidden");
        }

        function displayError(msg, type) {
            $("#ajax-response").remove();

            if (msg) {
                type = type || "danger";
                $(".psuedo-page.active .after-section").append(
                        $('<div id="ajax-response" class="alert alert-' + type + '" role="alert">' + msg + '</div>')
                );
            }
        }

        function hideError() {
            displayError()
        };

        function startLoading() {
            $(".critical-button").attr("disabled", "");

            if ($("#ajax-loader").length == 0)
                $(".psuedo-page.active .after-section").append(
                        $('<div id="ajax-loader" class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active progress-full"></div></div>')
                );

            hideError();
        }

        function stopLoading(withMsg, type) {
            $("#ajax-loader").remove();
            $(".critical-button").removeAttr("disabled");

            if (withMsg)
                displayError(withMsg, type);
        }

        function hereDoc(f) {
            return f.toString()
                    .replace(/^[^\/]+\/\*!?/, '')
                    .replace(/\*\/[^\/]+$/, '');
        }

        function isValidUrl(url) {
            return /^([^. ][^. ]*\.)+[^. ]+(\/.*)?$/.test(url);
        }

        function isValidEmail(str) {
            return /^[^.]([^@\s.]*|\.[^.])*[^.]?@[^.][^@\s]*(\.[^.][^@\s.]*)+$/.test(str);
        }

        function getFileExtension(str) {
            var periodIndex = str.lastIndexOf(".");
            return periodIndex != -1 ? str.substr(periodIndex) : "";
        }

        $.fn.ourIsFormValid = function (validationFn) {
            if (!this.is("form"))
                return false;

            var isValid = true;
            var firstInvalid;
            $("input[type=text], input[type=email], input[type=password], textarea", this).each(function () {
                // $("input[type=text], input[type=email], input[type=password]", this).each(function () {
                if (!validationFn(this)) {
                    $(this).parents(".form-group").addClass("has-error");
                    if (!firstInvalid)
                        firstInvalid = this;
                    isValid = false;
                }
            });

            if (firstInvalid) {
                $('html, body').animate({
                    scrollTop: $(firstInvalid).offset().top
                }, 500);
            }

            return isValid;
        };

        $.fn.ourValidate = function (validationFn) {
            this.blur(function () {
                var isValid = true;
                if (!this.value)
                    return;

                if (!validationFn(this))
                    $(this).parents(".form-group").addClass("has-error");
            }).focus(function () {
                $(this).parents(".form-group").removeClass("has-error");
            });

            return this;
        };

        $.fn.populateDynUserData = function () {
            return this.each(function () {
                var $this = $(this);

                var val = Parse.User.current().get($this.data("dyn-field"));
                val = val || "";

                if ($this.is("input")) $this.val(val);
                else                  $this.html(val);
            });
        };

        // Login and signup logic
        function resetAccountView() {
            $(".username-text").addClass("hidden");
            $("#account-row input").val("");
        }

        (function () {
            function isValidInput(input) {
                var val = input.value.trim();

                switch ($(input).attr("name")) {
                    case "industry":
                    case "name":
                        if (val.length == 0 || val.length > 56)
                            return false;
                        break;
                    case "email":
                        if (!isValidEmail(val))
                            return false;
                        break;
                    case "confirm-email":
                        if (val != $("#signup-username").val())
                            return false;
                        break;
                    case "password":
                        if (val.length < 8)
                            return false;
                        break;
                }

                return true;
            }

            $("#generate-requestee").focus(function () {
                $('input:radio[name=requesteeType]').val(['other']);
            });
            $("input[name=requesteeType]:radio").change(function () {
                if ($("#requestee-type-me").is(":checked")) {
                    $("#generate-requestee").val("");
                    var $thisContainer = $(this).parents(".form-group");
                    $thisContainer.removeClass("has-error");
                    $('#generate-requestee').slideUp("normal");
                } else {
                    $('#generate-requestee').slideDown("normal");
                }
            });

            $("input[type=text],input[type=email],input[type=password]", $("#signup-form")).each(function () {
                $(this).ourValidate(isValidInput);
            });

            $("#login-form").submit(function () {
                startLoading();
                standardLogin($("#login-username", this).val(), $("#login-password", this).val());
                return false;
            });

            $(".facebook-login").click(function () {
                startLoading();
                //fix a bug when user logout facebook from facebook website
                if (responseReceived && facebookResponse) {
                    proceedWithFacebook(facebookResponse.authResponse);
                    return false;
                }

                FB.login(function (response) {
                    responseReceived = true;
                    if (response.status === 'connected') proceedWithFacebook(response.authResponse);
                    else                                displayError("An error occurred when trying to connect to Facebook.");
                }, {scope: 'public_profile,email,user_friends'});


                setTimeout(function () {
                    if (responseReceived) return;
                    displayError("Facebook uses popups to let you login. Ensure they're not disabled for smooth operation.", "warning");

                    setTimeout(function () {
                        if (responseReceived) return;
                        stopLoading("Facebook is taking too long to respond. Please double check that popups are enabled so you can login with Facebook.");
                    }, 17500);
                }, 7500);

                return false;
            });
            function proceedWithFacebook(authResponse) {
                FB.api('/me', function (response) {
                    if (response.error) {
                        stopLoading("An error occurred when trying to connect to Facebook.");
                        return;
                    }

                    signup({
                        email: response.email,
                        token: {
                            id: authResponse.userID,
                            token: authResponse.accessToken,
                            expiration: new Date(+new Date() + authResponse.expiresIn * 1000).toJSON(),
                            target: "facebook"
                        },
                        name: response.first_name + " " + response.last_name
                    });
                });
            }

            $("#signup-form").submit(function () {
                hideError();

                if ($(this).ourIsFormValid(isValidInput)) {
                    startLoading();
                    signup({
                        email: $("#signup-username", this).val(),
                        password: $("#signup-password", this).val(),
                        name: $("#signup-name", this).val(),
                        extra: {
                            industry: $("#signup-industry", this).val()
                        }
                    });
                }

                return false;
            });

            function signup(data) {
                var params = {
                    api: {
                        version: 1,
                        endpoint: "userRegister"
                    },
                    device: {
                        version: "1.0",
                        device: "www",
                        os: "www",
                        osVersion: "www"
                    },
                    data: data
                };

                Parse.Cloud.run("userRegister", params, {
                    success: function (response) {
                        try {
                            response = JSON.parse(response);
                        } catch (err) {
                            stopLoading("An error occurred when trying to connect to the Blrt cloud.");
                            return;
                        }

                        if (response.success) {
                            if (data.token) {
                                facebookLogin(response);
                            }
                            else           standardLogin(data.email, data.password);
                        } else             stopLoading(response.error.message);
                    },
                    error: function (error) {
                        stopLoading("An error occurred when trying to connect to the Blrt cloud.");
                    }
                });
            }

            var loginCallbacks = {
                success: function (user) {
                    updateViewsWithUser(user);
                },
                error: function (user, error) {
                    displayError(error.message);
                }
            };

            function standardLogin(email, password) {
                Parse.User.logIn(email, password, loginCallbacks).always(function () {
                    stopLoading();
                });
            }

            function facebookLogin(response) {
                Parse.User.become(response.sessionToken).always(function () {
                    stopLoading();
                    updateViewsWithUser(Parse.User.current());
                });
            }
        })();

        // Request logic
        function resetRequestView() {
            $("#media-group .input-container").remove();
            $("#amazon-forms > form").remove();
            $("#recipients-group .input-container").slice(1).remove();

            $("#add-media-button").click();

            $("#generate-name,#generate-requestee, #generate-message").val("");

            $(".dyn-user").populateDynUserData();

            $(".username-text").removeClass("hidden");
        }

        (function () {
            var xhrDict = {};

            function isValidInput(input) {
                var val = input.value.trim();

                switch ($(input).attr("name")) {
                    case "name":
                        if (val.length == 0 || val.length > 56)
                            return false;
                        break;
                    case "media[]":
                        if (!isValidUrl(val))
                            return false;
                        break;
                    case "requestee":
                        if (!($("#requestee-type-me").is(":checked")) && !isValidEmail(val))
                            return false;
                        break;
                    case "recipients[]":
                        if (!isValidEmail(val))
                            return false;
                        break;
                    case "message":
                        if (val.length == 0 || val.length > 250)
                            return false;
                        break;
                }

                return true;
            }

            $.fn.ourUploadFile = function (index) {
                if (!this.is("form")) return false;

                var $inputContainer = $("#media-group .input-container").eq(index);
                $(".append-loader", $inputContainer)
                        .append('<div class="progress upload-progress marg-top-small"><div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 0%"></div></div>');
                $(".upload-button", $inputContainer)
                        .attr("disabled", "");
                $(".group-input", $inputContainer).addClass("hidden");
                var awsform = $("#amazon-forms > form").eq(index);
                var file = $("input[name='file']", awsform)[0].files[0];

                var xhr = new XMLHttpRequest();
                Parse.Cloud.run("awsinfo", {
                    type: file.type,
                    contentLength: file.size,
                    filename: file.name
                }, {
                    success: function (awsinfo) {
                        try {
                            awsinfo = JSON.parse(awsinfo);
                        } catch (err) {
                        }

                        console.log(awsinfo)

                        awsform.find("input[name='Policy']").val(awsinfo.policy);
                        awsform.find("input[name='X-Amz-Credential']").val(awsinfo.credential);
                        awsform.find("input[name='X-Amz-Signature']").val(awsinfo.signature);
                        awsform.find("input[name='key']").val(awsinfo.filename);
                        awsform.find("input[name='X-Amz-Date']").val(awsinfo.date);
                        awsform.find("input[name='Content-Type']").val(file.type);

                        var data = new FormData(awsform[0]);

                        xhr.upload.addEventListener('progress', function (e) {
                            $(".progress-bar", $inputContainer)
                                    .css("width", Math.round((e.position * 100) / e.totalSize) + "%");
                        }, false);

                        xhr.onreadystatechange = function (e) {
                            if (xhr.readyState == 4) {
                                $(".media-body", $inputContainer).addClass("hidden");
                                $(".main-input", $inputContainer).val("blrtrequest.s3.amazonaws.com/" + encodeURIComponent(awsinfo.filename));
                                var $mediaContainer = $(".media-display-container", $inputContainer);
                                $(".progress", $inputContainer).remove();
                                $(".upload", $inputContainer).removeAttr("disabled");
                                $inputContainer.removeClass("has-error");

                                // Enable #generate-submit if all uploading is complete.
                                if ($(".progress").length == 0)
                                    $("#generate-submit").removeAttr("disabled");
                            }
                        };

                        xhr.open('POST', "//blrtrequest.s3.amazonaws.com/", true);
                        xhr.send(data);
                    }, error: function () {
                        console.log("aws info error : ")
                        $inputContainer.remove();

                        if ($(".progress").length == 0) {
                            $("#generate-submit").removeAttr("disabled");
                            $("#add-media-button").click();
                        }
                    }
                });

                xhrDict[index] = xhr;
                return xhr;
            }

            $.fn.ourValidate2 = function () {
                this.blur(function () {
                    var $this = $(this);
                    var $thisContainer = $(this).parents(".input-container");
                    var isValid = true;

                    $(".ok-input-span", $thisContainer).addClass("hidden");
                    $thisContainer.find(".remove-input-span").removeClass("hidden");
                    $mediaGroup = $thisContainer.parents("#media-group");
                    if ($mediaGroup.length > 0 && $mediaGroup.find(".media").length == 1 && !$this.val()) {
                        $thisContainer.find(".remove-input-span").addClass("hidden");
                    }

                    if ($this.attr("name") != "media[]") {
                        if (!this.value) return;

                        isValid = isValidInput(this);
                        if (!isValid)
                            $($thisContainer[0] || $this.parents(".form-group"))
                                    .addClass("has-error");
                        return;
                    }

                    isValid = isValidInput(this);
                    if (!isValid && this.value) {
                        $(".media-display-container", $thisContainer).remove();
                        $thisContainer.addClass("has-error");
                        return;
                    }

                    // Get the index of this input's container in context only to input containers.
                    var index = $("#media-group .input-container").index($thisContainer[0]);
                    var file = $("#amazon-forms > form").eq(index).find("input[name='file']")[0].files[0];

                    if (file == null)
                        $(".media-display-container", $thisContainer).remove();

                    // If we've got a valid URL and no associated file then we'll try to get a thumbnail from an API.
                    if (isValid && file == null) {
                        var thumbnailContainer = $('<div class="panel panel-default media-object thumbnail-container blrt-img-thumbnail-wrapper"></div>')
                                .bind("DOMNodeInserted", thumbnailConChange);
                        var mediaDisplayContainer = $('<div class="media-display-container blrt-img-group marg-top-small"></div>');
                        $($(".prepend-thumbnail", $thisContainer)[0] || $thisContainer).prepend(mediaDisplayContainer);
                        mediaDisplayContainer.append(thumbnailContainer);

                        var path = this.value.trim();
                        var ext = getFileExtension(path).toLowerCase();
                        if (ext == '.pdf')                                       thumbnailContainer.prepend($('<img class="loadedthumbnail blrt-img-thumbnail" src="//www.blrt.com/images/pdf.png" alt=""/>'));
                        else if ($.inArray(ext, supportedImageExtensions) != -1) thumbnailContainer.prepend($('<div class="center-panel"><div class="center-object"><img class="loadedthumbnail blrt-img-thumbnail" src="' + path + '" alt=""/></div></div>'));
                        else {
                            var apiSrc = "//api.grabz.it/services/javascript.ashx?key=" + grabzitApiKey
                                    + "&url=" + encodeURIComponent(path)
                                    + "&displayclass=loadedthumbnail%20blrt-img-thumbnail"
                                    + "&width=90&height=90";

                            var node = document.createElement('script');
                            node.src = apiSrc;

                            // For some reason you must use standard JS to append a script, otherwise it won't load the src.
                            thumbnailContainer[0].appendChild(node);

                            thumbnailContainer.append($(hereDoc(function () {/*
                             <div class="vcen-outer thumbnail-loading-container text-center">
                             <div class="vcen-inner">
                             <span class="glyphicon glyphicon-refresh animate-spin"></span>
                             </div>
                             </div>
                             */
                            })));
                        }

                        mediaDisplayContainer.append('<div class ="media-url blrt-img-description"><p>' + path + '</p></div>');
                        mediaDisplayContainer.append(
                                $('<div class ="thumbnail-remove"></div').append(
                                        $('<div class="center-panel thumbnail-height"></div>').append(
                                                $('<div class="center-object"></div>').append(
                                                        $(hereDoc(function () {/*
                                                         <a href="#"><div class="btn-cancel remove-input">&mdash;</div></a>
                                                         */
                                                        })).click(removeInput))
                                        )
                                )
                        );
                        $thisContainer.find(".media-body").addClass("hidden");
                    }
                }).focus(function () {
                    var $this = $(this);
                    var $thisContainer = $(this).parents(".input-container");
                    $(this).parents(".form-group").removeClass("has-error");
                    if ($this.val()) {
                        $(".ok-input-span", $thisContainer).removeClass("hidden");
                    } else {
                        $(".ok-input-span", $thisContainer).addClass("hidden");
                    }
                    $thisContainer.find(".remove-input-span").addClass("hidden");
                }).keyup(function () {
                    var $thisContainer = $(this).parents(".input-container");
                    if ($(this).val()) {
                        $(".ok-input-span", $thisContainer).removeClass("hidden");
                    } else {
                        $(".ok-input-span", $thisContainer).addClass("hidden");
                    }
                });

                return this;
            };

            $.each(["media", "recipients"], function () {
                var inputType = this;
                var inputTypeGroup = "#" + inputType + "-group";

                $("#add-" + inputType + "-button").click(function () {
                    var container = "";
                    var uploadNode = "";

                    if (inputType == "media") {
                        container = $(hereDoc(function () {/*
                         <div class="media input-container form-group prepend-thumbnail">
                         <div class="media-body append-loader">
                         <div class="group-input append-input">
                         </div>
                         </div>
                         </div>
                         */
                        }));

                        uploadNode = $(hereDoc(function () {/*

                         <div class="btn-upload upload-button"><span class="glyphicon glyphicon-arrow-up"></span></div>
                         */
                        }));
                        $(uploadNode).click(popupFileUpload);
                        // $(".upload-button", uploadNode).click(popupFileUpload);

                        var form = $(hereDoc(function () {/*
                         <form action="//blrtrequest.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
                         <input type="input" name="key" value="request/uploads"/>
                         <input type="text" name="acl" value="public-read"/>
                         <input type="input" name="Content-Type" value="unset content-type"/>
                         <input type="text" name="X-Amz-Credential" value="unset credential"/>
                         <input type="text" name="X-Amz-Algorithm" value="AWS4-HMAC-SHA256"/>
                         <input type="text" name="X-Amz-Date" value="unset date"/>
                         <input type="text" name="Policy" value='unset policy'/>
                         <input type="text" name="X-Amz-Signature" value="unset signature"/>
                         <input type="file" name="file" accept="application/pdf, image/png, image/jpeg"/>
                         </form>
                         */
                        }));
                        form.find("input[name='file']").change(fileInputOnChange);
                        $("#amazon-forms").append(form);

                    } else
                        container = $('<div class="input-container form-group margin-bot-sm group-input append-input"></div>');

                    var mainInput;
                    var compoundInput;
                    if (inputType == "media") {
                        $($(".append-input", container)[0] || container)
                                .addClass(" marg-top-small")
                                .append(uploadNode)
                                .append(
                                        compoundInput = $('<div class="compound-input"></div>')
                                );
                        $(compoundInput).append(
                                mainInput = $('<input type="text" name="' + inputType + '[]" placeholder="Upload an image or type a URL" class="main-input form-control blrt-input" />')
                                        .ourValidate2()
                        ).append(
                                $(hereDoc(function () {/*
                                 <a href="#" class="ok-input-span hidden"><div class="btn-ok remove-input"><span class="glyphicon glyphicon-plus"></span></div></a>
                                 */
                                }))
                        ).append(
                                $(hereDoc(function () {/*
                                 <a href="#" class="remove-input-span"><div class="btn-cancel remove-input">&mdash;</div></a>
                                 */
                                })).click(removeInput)
                        );
                    } else {
                        $($(".append-input", container)[0] || container)
                                .addClass("compound-input marg-top-small")
                                .append(uploadNode)
                                .append(
                                        mainInput = $('<input type="email" name="' + inputType + '[]" placeholer="someone@example.com" class="main-input form-control blrt-input" />')
                                                .ourValidate2()
                                ).append(
                                $(hereDoc(function () {/*
                                 <a href="#"><div class="btn-cancel remove-input">&mdash;</div></a>
                                 */
                                })).click(removeInput)
                        );
                    }

                    $(inputTypeGroup).append(container);

                    // 10 media/4 recipient limit
                    if ($(inputTypeGroup + " .main-input").length == (inputType == "media" ? 10 : 4))
                        $("#add-" + inputType + "-button").attr("disabled", "");

                    if (inputType == "media") {
                        if ($(inputTypeGroup).find(".media").length == 1)
                            container.find(".remove-input-span").addClass("hidden");
                        else
                            $(inputTypeGroup).find(".remove-input-span").removeClass("hidden");
                    }

                    mainInput.focus();

                    return false;
                });
            });

            function removeInput() {
                var formGroup = $(this).parents(".input-outer-container");
                var inputType = $(formGroup).attr("id") == "media-group" ? "media" : "recipients";
                var $thisContainer = $(this).parents(".input-container");

                if (inputType == "media") {
                    var index = $(".input-container", formGroup).index($thisContainer[0]);

                    try {
                        xhrDict[index].abort();
                    }
                    catch (err) {
                    }

                    $("#amazon-forms > form").eq(index).remove();
                }

                $thisContainer.remove();

                if ($(".input-container", formGroup).length == 0)
                    $("#add-" + inputType + "-button").click();

                var firstMainInput = $(".main-input", formGroup).first();
                if (!firstMainInput.attr("id")) // We need to maintain the ID so the label can properly point to the first .main-input
                    firstMainInput.attr("id", "generate-" + inputType);

                $("#add-" + inputType + "-button").removeAttr("disabled");

                return false;
            }

            function popupFileUpload() {
                var index = $("#media-group .upload-button").index(this);

                $("input[name='file']", $("#amazon-forms > form").eq(index)).click();
            }

            function fileInputOnChange() {
                var uploadForm = $(this).parent();
                var index = uploadForm.index();

                $inputContainer = $("#media-group .input-container").eq(index);
                $mainInput = $inputContainer.find(".main-input");

                $(".media-display-container", $inputContainer).remove();

                if ($(this).val() != "") {
                    $mainInput
                            .val("Uploading: " + this.files[0].name)
                            .attr("readonly", "");

                    var ext = getFileExtension(this.files[0].name).toLowerCase();
                    var filename = this.files[0].name;
                    if ($.inArray(ext, supportedImageExtensions) != -1) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $($(".prepend-thumbnail", $inputContainer)[0] || $inputContainer)
                                    .prepend(
                                            $('<div class="media-display-container blrt-img-group marg-top-small"> </div>')
                                                    .append($('<div class="panel panel-default media-object thumbnail-container blrt-img-thumbnail-wrapper"></div>')
                                                            .prepend('<div class="center-panel"><div class="center-object"><img class="loadedthumbnail blrt-img-thumbnail" src="' + e.target.result + '" alt=""/></div></div>')
                                                    ).append('<div class= "media-url blrt-img-description"><p>' + filename + '</p></div>'
                                            ).append(
                                                    $('<div class ="thumbnail-remove"></div>').append(
                                                            $('<div class="center-panel thumbnail-height"></div>').append(
                                                                    $('<div class="center-object"></div>').append(
                                                                            $(hereDoc(function () {/*
                                                                             <a href="#"><div class="btn-cancel remove-input">&mdash;</div></a>
                                                                             */
                                                                            })).click(removeInput))
                                                            )
                                                    )
                                            )
                                    );
                        };

                        reader.readAsDataURL(this.files[0]);
                    } else if (ext == ".pdf") {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            PDFJS.getDocument(e.target.result).then(function (pdf) {
                                pdf.getPage(1).then(function (page) {
                                    var viewport = page.getViewport(0.5);
                                    var canvas = document.getElementById('pdf-canvas');
                                    var context = canvas.getContext('2d');
                                    canvas.height = viewport.height;
                                    canvas.width = viewport.width;
                                    var renderContext = {
                                        canvasContext: context,
                                        viewport: viewport
                                    };

                                    page.render(renderContext).then(function () {
                                        $($(".prepend-thumbnail", $inputContainer)[0] || $inputContainer)
                                                .prepend(
                                                        $('<div class="media-display-container blrt-img-group marg-top-small"> </div>')
                                                                .append($('<div class="panel panel-default media-object thumbnail-container blrt-img-thumbnail-wrapper"></div>')
                                                                        .prepend('<div class="center-panel"><div class="center-object"><img class="loadedthumbnail blrt-img-thumbnail" src="' + canvas.toDataURL() + '" alt=""/></div></div>')
                                                                ).append('<div class= "media-url blrt-img-description"><p>' + filename + '</p></div>'
                                                        ).append(
                                                                $('<div class ="thumbnail-remove"></div').append(
                                                                        $('<div class="center-panel thumbnail-height"></div>').append(
                                                                                $('<div class="center-object"></div>').append(
                                                                                        $(hereDoc(function () {/*
                                                                                         <a href="#"><div class="btn-cancel remove-input">&mdash;</div></a>
                                                                                         */
                                                                                        })).click(removeInput))
                                                                        )
                                                                )
                                                        )
                                                );
                                    });
                                });
                            });
                        };
                        reader.readAsArrayBuffer(this.files[0]);
                    }

                    uploadForm.ourUploadFile(index);
                } else
                    $mainInput
                            .val("")
                            .removeAttr("readonly");
            }

            $("#generate-form").submit(function () {
                var $this = $(this);

                if (!$this.ourIsFormValid(isValidInput)) {
                    displayError("Fill out all fields and finish uploading any files before sending.");
                }
                else {
                    startLoading();

                    var postData = $this.serializeObject();
                    if ($("#requestee-type-me").is(":checked")) {
                        postData.requestee = Parse.User.current().get("email");
                    }

                    Parse.Cloud.run("generate", $.extend(postData, {
                        // TODO: Use API key instead!
                        "user": Parse.User.current().id
                    }), {
                        success: function (response) {
                            try {
                                response = JSON.parse(response);
                            } catch (err) {
                                displayError("An error occurred in communication with the Blrt cloud.");
                                return;
                            }

                            if (response.success) {
                                $(".blrt-title").html('Blrt Request <span class="hero-light">sent<span>');
                                $(".username-text").addClass("hidden");
                                showPage("#success-row");
                                $(document).scrollTop(0);
                            }
                            else                 displayError(response.error);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            displayError("An error occurred in communication with the Blrt cloud.");
                        }
                    }).always(function () {
                        stopLoading();
                    });
                }

                return false;
            });

            $("#generate-name,#generate-media,#generate-requestee,#generate-recipients,#generate-message").ourValidate2();
            $(".remove-input").click(removeInput);
            $(".upload-button").click(popupFileUpload);
            $("#amazon-forms input[name='file']").change(fileInputOnChange);
        })();

        $(".show-main-section").click(function () {
            hideError();
            $(".psuedo-page.active .main-section")
                    .addClass("hidden")
                    .removeClass("active")
                    .filter($(this).data("target"))
                    .removeClass("hidden")
                    .addClass("active");
        });

        $(".wait-js").removeAttr("disabled");

        $(".logout").click(function () {
            Parse.User.logOut();
            updateViewsWithUser();
        });

        function updateViewsWithUser(user) {
            stopLoading();

            if (user) {
                resetRequestView();

                var status = user.get("accountStatus");
                if (status && status != "") {
                    Parse.User.logOut();
                    resetAccountView();
                    showPage("#account-row");
                    setTimeout(function () {
                        alert("This account has been " + status + ". Please contact Blrt Support.");
                    }, 1);
                    return;
                }

                // Logged in
                showPage("#request-row");
            } else {
                resetAccountView();

                // Logged out
                showPage("#account-row");
            }
        }

        if (Parse.User.current()) {
            updateViewsWithUser(Parse.User.current());
            Parse.User.current().fetch().then(function () {
                updateViewsWithUser(Parse.User.current());
            });
        }
    });
</script>
</body>
</html>