 <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Blrt</title>

		<!-- Bootstrap core CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="//s3.amazonaws.com/blrt-cc-images/redirects/css/style-v2.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KDJDMP"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KDJDMP');</script>
		<!-- End Google Tag Manager -->
		<script type="text/javascript">
			dataLayer.push({'event': 'secondaryemailform'});
		</script>

		<div class="site-wrapper">
		  	<div class="site-wrapper-inner">
		    	<div class="cover-container">
		     		<div class="inner cover">
						<img src="//s3.amazonaws.com/blrt-cc-images/redirects/img/blrt-logo.png" />
		        		<h1 class="cover-heading">Add a secondary email address</h1>
		        		<p>Log in to your Blrt account below to add <%- secondary %> as a secondary email address. You will be able to receive Blrts sent to both your primary and secondary email addresses.</p>
		        		<p>Note: If you signed up for Blrt using Facebook, you may need to set a Blrt password before you can use this form. <a class="sem-link" href="<%- facebook_steps %>">Follow the steps here</a>.</p>
		        		<p>&nbsp;</p>
		        		<form class="form-inline" role="form" action="vsem" method="POST">
		        			<div class="form-group">
			        			<input type="hidden" value="<%- secondary %>" name="sem"/>
			        			<p>
	                                <label class="sr-only" for="user">Blrt username</label>
				        			<input class="form-control" type="text" id="user" name="user" placeholder="Blrt username" required/>
			        			</p>
			        			<p>
	                                <label class="sr-only" for="pass">Password</label>
				        			<input class="form-control" type="password" id="pass" name="pass" placeholder="Password" required/>
			        			</p>
		        			</div>
		        			<p><button type="submit" class="btn btn-default">Submit</button></p>
		        		</form>
		        		<% if(typeof errorMsg != "undefined") { %>
		        			<p class="error"><%- errorMsg %></p>
		        		<% } %>
		    		</div>
		    	</div>
			</div>	
		</div>

	</body>
</html>