<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Blrt</title>

		<!-- Bootstrap core CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="//s3.amazonaws.com/blrt-cc-images/redirects/css/style-v2.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<meta property="fb:app_id" content="<%- fb_app_id %>" />
		<meta property="al:ios:app_store_id" content="<%- constants.appStoreId %>" /> 
        <meta property="al:ios:url" content="<%- originalUrl %>" />
        <meta property="al:ios:app_name" content="Blrt" />
        <meta property="al:android:package" content="<%- constants.androidPackageId %>" />
        <meta property="al:android:url" content="<%- blrt_url %>" />
        <meta property="al:android:app_name" content="Blrt" />
		<meta property="og:type"   content="object" />
		<meta property="og:url"    content="<%- page_url %>" />
		<meta property="og:title"  content="Blrt on the App Store" />
		<meta property="og:description"  content="Blrt makes communication fast, clear and easy. Things that would take minutes to explain in email take seconds when you say and draw them in Blrt. And there's no need to arrange a meeting or wait for anyone to return your call. Get it for free on the App Store." />
		<meta property="og:image"  content="http://s3.amazonaws.com/blrt-cc-images/redirects/img/blrt-fb-icon-2.png" />
		<meta name = "twitter:card" content="summary"/>
		<meta name = "twitter:image:src" content="http://s3.amazonaws.com/blrt-cc-images/redirects/img/blrt-fb-icon-2.png"/>
		<meta name = "twitter:site" content = "blrt"/>
		<meta name = "twitter:title" content = "Blrt"/>
		<meta name = "twitter:description" content = "Blrt makes communication fast, clear and easy. Things that would take minutes to explain in email take seconds when you say and draw them in Blrt. Get it for free on the App Store."/>
		<meta name = "twitter:app:name:ipad" content = "blrt"/>
		<meta name = "twitter:app:id:ipad" content = "<%- app_store_id %>"/>
		<meta name = "twitter:app:name:iphone" content = "blrt"/>
		<meta name = "twitter:app:id:iphone" content = "<%- app_store_id %>"/>
	</head>

	<body>
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KDJDMP"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KDJDMP');</script>
		<!-- End Google Tag Manager -->

		<script type="text/javascript">

			dataLayer.push({'event': 'appshare'});

			setTimeout( function(){//give time for tag manager to do it's thing
				

				var now = new Date().valueOf();
				var isAndroid = <%- isAndroid %>;
				var isDesktop = <%- isDesktop %>;
				setTimeout(
					function(){
						if(new Date().valueOf() - now > 2050)
							window.close();
						else if(!isDesktop){
							dataLayer.push({'event': 'iosnotinstalled'});
	    					window.open((isAndroid? "<%- google_play_url %>":"<%- app_store_url %>"), "_self");
						}
					}
				, 2000); // timeout to check if safari has been deactivated (the app is opened)
				if(isDesktop){
					var strs = window.location.href.split("?");
					var paramString = "";
					if(strs.length>1){
						paramString = "?"+strs[1];
					}
					window.open("http://www.blrt.com"+paramString,"_self");
				}
				else
					window.open("<%- blrt_url %>", "_self");
			}, 1000);
		</script>

		<div class="site-wrapper">
		  	<div class="site-wrapper-inner">
		    	<div class="cover-container">
		     		<div class="inner cover">
						<img src="//s3.amazonaws.com/blrt-cc-images/redirects/img/blrt-logo.png" />
		        		<h1 class="cover-heading">Redirecting...</h1>
		    		</div>
		    	</div>
			</div>	
		</div>

	</body>
</html>