<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Terms &amp; Conditions of Use</title>
        <link rel="icon" type="image/png" href="//www.blrt.com/images/blrtfavicon.png"/> 
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="//s3.amazonaws.com/blrt-cc-images/redirects/css/terms-bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="//s3.amazonaws.com/blrt-cc-images/redirects/css/terms.css" rel="stylesheet" type="text/css"/>
        <script>
            var blrt_check = "blrt";
        </script>
    </head>
    <body>
    	<div class="container-fluid container-white">
    		<div class="template slide02 container pad-top-small pad-bot-small">
                <div class="terms-content-wrap">
                    <p  >
                    This copy of BLRT (the Software) and any documentation or other materials accompanying or relating to the Software (collectively Related Materials) is licensed and not sold to you.  BLRT Operations Pty Ltd ACN 168 937 540 (BLRT) retains all Intellectual Property rights in the Software and Related Materials. Your licence to download, install, copy, change or otherwise use the Software or Related Materials is subject to the terms and conditions contained in this document (the Agreement).
                    </p>
<!--                     <p>
                        <ul class="template-ul">
                            <li>This is</li>
                            <li>A List</li>
                            <li>This is another List item</li>
                        </ul>
                    </p> -->
                    <h2>1. DEFINITIONS</h2>
                    <p  >
        			In this Agreement the following words have the following meanings<br/>
                    <strong>Apple</strong> means Apple Inc. of 1 Infinite Loop Cupertino, CA 95014<br/>
                    <strong>User Materials</strong> includes videos, audio recordings, written posts, comments, data, text, photographs, software, scripts, graphics or other information or materials transmitted, uploaded, downloaded or otherwise made available by use of the Software;
                    <br/>
                    <strong>Device</strong> means any object on which the Software may be installed and/or used and includes computers, servers, mobile phones and tablet computers.<br/>
                    <strong>Intellectual Property</strong> includes but not limited to:
                    </p>

                        <p>
                            <ol class="template-ol alpha-ol">
                                <li>inventions, discoveries and novel designs, whether or not registered or registrable as patents or designs, including developments or improvements of equipment, products, Technology, processes, methods or techniques;
                                </li>
                                <li>copyright (including future copyright) throughout the world in all literary works, artistic works, computer Software, and any other works or subject matter in which copyright subsists and may in the future subsist;</li>
                                <li>confidential information and trade secrets;</li>
                                <li>trade and service marks (whether registered or unregistered), business names, trade names, domain names, logos and get-up; and</li>
                                <li>proprietary rights under the Circuit Layouts Act 1989</li>
                            </ol>
                        </p>
                        <p  >
                            <strong>Services</strong> means the Software and/or the Sites and the functionality provided by them;
                        </p>
                        <p  >
                            <strong>Site</strong> means any servers, network or website, which is owned, operated or maintained by BLRT to allow the Software to function.
                        </p>
                        <p  >
                            <strong>Software</strong> means the software program known as BLRT.
                        </p>
                        <p  >

                        </p>
                        <h2>2. INTERPRETATION</h2>
                        <p>In this Agreement:</p>
                        <p>
                            <ol class = "template-ol alpha-ol">
                                <li>a reference to “you” is a reference to the person which has purchased, downloaded, installed or used the Services. Where you are a partnership, body corporate, association, governmental or local authority or agency or other entity (other than a natural person) you are responsible ensuring your directors, officers, employees, contractors and/or agents (collectively Your Representatives) comply with the obligations of this Agreement.  Any breach of the terms or obligations contained in this Agreement by any of Your Representatives shall be deemed to be a breach of this Agreement by you.</li>
                                <li>where any word or phrase is given a defined meaning any other part of speech or other grammatical form of that word or phrase has a corresponding meaning;</li>
                                <li>headings are inserted for convenience and do not affect the interpretation of this Agreement;</li>
                                <li>a reference to a document or instrument includes the document or instrument as novated, altered, supplemented or replaced from time to time;</li>
                                <li>a reference to a party is to a party to this Agreement, and a reference to a party to this or any other document includes the party's executors, administrators, successors and permitted assigns and substitutes;</li>
                                <li>a reference to a person includes a natural person, partnership, body corporate, association, governmental or local authority or agency or other entity;</li>
                                <li>words denoting the singular shall include the plural and vice versa and words denoting any gender shall include all genders</li>
                                <li>a reference to a statute, ordinance, code or other law includes regulations and other instruments under it and consolidations, amendments, re enactments or replacements of any of them;</li>
                                <li>the meaning of general words is not limited by specific examples introduced by including, for example or similar expressions;</li>
                                <li> a rule of construction does not apply to the disadvantage of a party because the party was responsible for the preparation of this Agreement or any part of it; and</li>
                                <li>An agreement on the part of, or in favour of, two or more persons binds or is for the benefit of them jointly and severally.</li>
                            </ol>
                        </p>
                        <h2>3. ACCEPTANCE</h2>
                        <p  >By purchasing, downloading, installing, copying and/or otherwise using the Services or Related Materials you are agreeing to be bound by this Agreement. If you do not agree to be bound by this Agreement then you must immediately cease all use of the Services and Related Materials and cause to be deleted all copies of the Software from any Device, hard drive or other storage medium under your reasonable control on which a copy of the Software is installed or stored. You must further cause to be destroyed or returned to BLRT any Related Materials.
                        </p>
                        <h2 class = "template-h2">4. LICENCE GRANT</h2>
                        <p  >This Licence allows you to install copies of the Software on an unlimited number of devices, subject to the terms of this Agreement.</p>
                        <p  >Usage of the Services is subject to you creating an Account. Your Account is personal to you and may not be transferred to any other person.</p>
                        <h2 class = "template-h2">5. CONDITIONS OF USE</h2>
                        <p  >It is a condition of your use of the Services that you not misuse the Services or use it in contravention of any law. Examples of misuse include, but are not limited to, any use which:</p>
                        <ol class="template-ol alpha-ol">
                            <li>Violates or infringes the Intellectual Property rights or any other rights of any person;</li>
                            <li>Involves the production, publishing or transmission of any material which is unlawfully pornographic, indecent or which breaches any law relating to the prohibition of discrimination or bigotry whether on the grounds of race, gender, religion, sexual orientation or otherwise;</li>
                            <li>Is unlawfully defamatory;</li>
                            <li>Is in violation of any law in force in your country of residence, BLRT’s country of residence or the country of residence of any recipient of any transmission made by you using the Services;</li>
                            <li>Involves the transmission of unsolicited or unauthorized marketing, advertising or promotional material;</li>
                            <li>Involves the sending of unlawfully misleading or deceptive materials;</li>
                            <li>does or attempts to transmit or install any virus, worms, Trojan horse, malicious software or any other software or computer code or files designed or intended to disable, destroy or interfere with any software or equipment;</li>
                            <li>Uses automated scripts, sliders, lots or similar means to harvest or collect information from the Services; or</li>
                            <li>Interferes with or disrupts the Services, software system or any network, whether operated by BLRT or any other person, for example by sending a virus, overloading, flooding, spamming or mail-bombing any such site and/or network cycle.</li>
                        </ol>
                        <h2 class = "template-h2">6. YOUR WARRANTIES</h2>
                         <p  >By entering this Agreement you provide the following representations and warranties:</p>
                        <ol class="template-ol roman-ol-low">
                        <li>That you have the full power and authority and the legal right to enter this Agreement, and to perform its obligations;</li>
                        <li>this Agreement does not contravene any law applicable to you;</li>
                        <li>the obligations undertaken by you in this Agreement are enforceable against you in accordance with the terms of this Agreement;</li>
                        <li>that you are not located in a country that is subject to a U.S Government embargo or that has been designated by the U.S Government as a “terrorist supporting” country; and</li>
                        <li>you are not listed on any U.S. Government list of prohibited or restricted parties.</li>
                        </ol>
                        <h2 class = "template-h2">7. USER MATERIALS</h2>
                        <p  >By submitting User Materials through the Services you grant BLRT a worldwide, non-exclusive, royalty-free, sub-licensable and assignable licence to use, edit, modify, reproduce, or distribute User Materials in connection with the Services and BLRT’s business, solely for the purposes of ensuring the continued functionality and proper running of the Services. BLRT will not use any of you User Material for marketing or promotional purposes without first obtaining your consent.</p>
                        <p  >You warrant that you have all rights to grant the licence referred to in this clause without infringement or violation of any third party rights whether such exist in the Intellectual Property of the User Materials or otherwise.
                        BLRT reserves the right to monitor User Materials for the purposes of ensuring compliance with this Agreement. </p>
                        <p  >BLRT further reserves the right to block, prevent delivery of, modify, edit or remove any User Materials in order to ensure compliance with the obligations of this Agreement or to protect BLRT, you or any other person from potential loss or damage.</p>
                        <p  >You acknowledge that BLRT provides a data transmission service. BLRT takes no responsibility for the content of any User Materials. You release BLRT from any liability for any loss or damage, whether direct or indirect, caused to you or any other person by such User Materials.</p>
                        <h2 class = "template-h2">8. ACCOUNT</h2>
                        <p  >All Services may only be accessed by agreement between you and BLRT. This will require the creation of a user account (Account). Creation of an Account will require a username, password and other information relating to you.</p>
                        <p  >Failure to provide requested information may prevent you from accessing certain Services and/or result in the Services being rendered non-functional. BLRT shall be deemed not to have breached this Agreement and shall in no way be liable to you for any loss or damage, whether direct or indirect, for failure of the Services occasioned by your failure to provide information, or your provision of incorrect or incomplete information, when creating or updating your Account.</p>
                        <p  >By accessing and using the Services, you agree to maintain the confidentiality of your username and password.</p>
                        <p  >BLRT may from time to time offer different types of Account with varying, additional or enhanced functionality (Premium Account). You may elect to create a premium Account by paying a monthly recurring fee. Details of the current fees and Premium Account functionality can be found by accessing the Software, at BLRT’s website: www.blrt.com or by visiting the Apple App Store. Premium Account holders will be billed on an automatically recurring monthly basis unless they cancel their Premium Account at least 24 hours before the next billing cycle. You may elect to downgrade to a free Account at any time, with the change to take effect at the end of the calendar month during which you elected to downgrade your Account.</p>
                        <p  >Your Account (including any Premium Account) and/or use of the Services is subject to such limitations in functionality as BLRT may in its sole discretions decide. These may include, but are not limited to, limitations of the number of transmission you may make during a month, or the length of such transmissions. BLRT may elect to modify or change such limitations at any time with or without notice to you. If you hold a Premium Account, in the event that a change in functionality diminishes the overall functionality available to you immediately prior to the change, then your sole recourse against BLRT will be a refund of any fees paid by you to BLRT in relation to that Premium Account for the calendar month during which the relevant change was made. In all other regards, in the event that BLRT modifies the limitations in functionality of your account you release BLRT from any liability for any loss or damage, whether direct or indirect, caused to you or any other person as a result of such change.</p>
                        <h2 class = "template-h2">9. UPDATES</h2>
                        <p  >From time to time it may become necessary for BLRT to update or release new versions of the Software (collectively the Updates) either to add functionality or to rectify errors which have become apparent with the Services. In such circumstances BLRT may require you to install the Updatesand your ability to use the Services may be limited or suspended until you install the Updates. In some circumstances BLRT may elect, at its sole discretion, to cancel any Account that you have with BLRT until such time as you install the Updates.</p>
                        <p  >In addition to the above paragraph, BLRT may elect, at its sole discretion, not to provide support for previous versions of the Software where an Update has been made available and not installed by you. In such circumstances you release BLRT from any and all liability for loss or damage, whether direct or indirect, to you or any other person incurred as a result of BLRT refusing to provide support for a version of the Software which has been superseded by an Update.</p>
                        <p  >The downloading, installation and use of any Updates is subject to this Agreement.</p>
                        <h2 class = "template-h2">10. THIRD PARTY SERVICES</h2>
                        <p  >From time to time the Services may contain references or links to websites or resources provided by third parties (collectively Third Party Resources). BLRT makes no representations or warranties as to the availability, legality, appropriateness, accuracy or efficacy of the Third Party Resources. When you access or use Third Party Resources you do so entirely at your own risk. You release BLRT from liability, whether direct or indirect, for any loss or damage suffered by you or any other person as a result of your reliance on, access of or other use of any Third Party Resources.</p>
                        <h2 class = "template-h2">11. ASSIGNMENT</h2>
                        <p  >You may not assign, transfer or novate your rights under this Agreement or to the Services to any third party nor may you sell, lease or sublicense your rights under this Agreement to the Services.</p>
                        <p  >BLRT may assign, transfer or novate its rights under this Agreement or to the Services to a third party. In such case you agree to release BLRT from any and all obligations to you relating to or arising from this Agreement or the Services as and from the date that BLRT makes such an assignation, transfer or novation.</p>
                        <h2 class = "template-h2">12. RESTRICTIONS ON USE</h2>
                        <p  >You must not attempt to reverse engineer, disassemble or otherwise attempt to derive or access source code from the Software.</p>
                        <p  >You must only use the Services for its ordinary use in accordance with the purposes for which it was provided to you by BLRT and in compliance with any directions and/or guidelines given to you by BLRT and/or contained in the Related Materials.</p>
                        <h2 class = "template-h2">13. RESTRICTIONS ON ALTERATION</h2>
                        <p  >You must not seek to alter or modifying the Software or to create any alternative or derivative work based on, incorporating, or relating to the Services or the Related Materials. This includes a restriction on translating software into any language other than English.</p>
                        <p  >In the event of a breach of this provision you immediately assign any and all rights to any improvements, alterations or other changes, including new developments, in any way related to the Services, to the BLRT; whether or not such changes or new developments legally constitute adequate differences to be considered new Intellectual Property. You shall take all steps necessary to ensure such rights vest in the BLRT.</p> 
                        <h2 class = "template-h2">14. MAINTENANCE AND SUPPORT</h2>
                        <p  >If you discover that the Services fail to substantially conform with the descriptions and specifications for which the Services was provided, you may notify BLRT of the fact.</p>
                        <p  >Immediately after notifying BLRT, you shall, insofar as you are able to do so, provide BLRT with an example of the defect or error which constitutes the non-conformity. You shall also submit to the BLRT, if requested, a listing of output and any other data which BLRT reasonably requires in order to reproduce operating conditions similar to those present when the non-conformity was discovered.</p>
                        <p  >In the event that you notify BLRT in accordance provision BLRT shall furnish off-site telephone and email support, in the form of consultations, assistance and advice on the use and maintenance of the Services within a reasonable timeframe. BLRT will make all reasonable efforts forthwith to provide you with a correction but cannot promise to do so.</p>
                        <p  >You acknowledge that the maintenance services to be provided in respect of the Services do not include installation of the Software or training in the use of the Software.</p>
                        <p  >Maintenance services under this provision do not include the following:</p>
                        <ol class="template-ol alpha-ol">
                            <li>rectification of defects or errors resulting from any modification of the Software made by any person other than BLRT;</li>
                            <li>rectification of defects or errors resulting from any misuse of the Services, or any use of the Services not in compliance with the instructions contained in any Related Material;</li>
                            <li>rectification of defects or errors resulting from use of the Software on a Device not listed by BLRT as being compatible with the Software;</li>
                            <li>modification of the Software to allow compatibility with a Device not listed by BLRT as being compatible with the Software;</li>
                            <li>any modification of the Software which represents a departure from the descriptions and specifications for which the Software was provided;</li>
                            <li>rectification of errors or defects which are the subject of a warranty under another agreement whether with BLRT or a third party; and</li>
                            <li>rectification of defects, failures or errors attributable in whole or in part to the supply of products or services by a party other than BLRT.</li>
                       </ol>

                        <h2 class = "template-h2">15. BLRT’S INTELLECTUAL PROPERTY</h2>
                        <p  >You recognise that all Intellectual Property used on or in relation to the Services is the property of BLRT.</p>
                        <p  >You will not do or permit to be done any act or thing which might in any way impair or infringe the goodwill or other rights of BLRT in the Intellectual Property, or which might otherwise prejudice or damage the reputation of such Intellectual Property.</p>
                        <h2 class = "template-h2">16. THIRD PARTY INTELLECTUAL PROPERTY
                        </h2>
                        <p  >
                        While BLRT takes infringement of Intellectual Property rights very seriously it simply provides a Content transmission service and is not responsible for monitoring any Content to ensure that it does not infringe the Intellectual Property rights of any person. If you believe your Intellectual Property rights have been infringed then your sole recourse is against the person who created the Content. You release BLRT from any liability for any loss or damage, whether direct or indirect, caused to you or any other person as a result of any infringement of your Intellectual Property rights by any third party..</p>
                        <h2 class = "template-h2">17. DISCLAIMER OF WARRANTIES</h2>
                        <p  >To the extent permitted by law, unless specifically agreed to in writing by BLRT, BLRT makes no warranties, express or implied, in relation to the Services, or its suitability for any purpose save as detailed in this Agreement or the Related Materials. Specifically BLRT makes no warranty that the Services will be secure, error free or free from interruption, delay or communications failure.</p>
                        <p  >It is your responsibility to determine whether the Services are sufficiently fit to meet your requirements with regards to functionality, security, stability or any other purpose. To the extent permissible by law BLRT will bear no responsibility or liability for any loss or damage incurred by you or any other person due to the failure of the Services to meet your requirements save where BLRT has specifically and in writing advised to you that the Services will meet those requirements.</p>
                        <p  >To the extent permissible by law BLRT makes no warranties and you release BLRT from any liability, whether direct or indirect, for any loss or damage relating to any problems or difficulties relating to the Services due to internet connections, telephone lines, computer systems, Devices, third party providers (including internet service providers) or any technical problems or traffic congestion on the internet or any website.</p>
                        <p  >To the extent permissible by law any and all warranties only cover defects arising under the normal use of the Services and to not include, damage, malfunctions or failure resulting from misuse, abuse, neglect, alteration (other than with the express written consent of BLRT), problems with electrical power, acts of God, improper installation or damage determined by BLRT to have been caused by you. The warranties contained in this Agreement and/or the Related Materials are granted only to you and are non-transferable.</p>
                        <p  >The Services come with guarantees that cannot be excluded under the Australian Consumer Law. You are entitled to a replacement or refund for a major failure and compensation for any other reasonably foreseeable loss or damage. You are also entitled to have the goods repaired or replaced if the goods fail to be of acceptable quality and the failure does not amount to a major failure.</p>
                        <h2 class = "template-h2">18. WAIVER OF LIABILITY</h2>
                        <p  >To the extent permissible by law BLRT, its directors, officers, employees or agents will not be liable to you or any other party for any indirect, consequential, special, incidental, punitive or exemplary damages of any kind (including lost revenues and profits or loss of business) resulting from this Agreement or from the provision, performance, installation or use of the Services, whether due to breach of contract, negligence or otherwise, even if BLRT is advised before end of the possibility of such loss or damage.</p>
                        <h2 class = "template-h2">19. LIMITATION OF LIABILITY</h2>
                        <p  >Where permissible by law, in the event that BLRT breaches this Agreement, or any warranty or guarantee in relation to the Services, whether imposed by contract, common law or legislation then your remedy in relation to that breach is limited to the repair or replacement of the Software. The determination of whether to repair or replace the Software shall be at the sole discretion of BLRT. BLRT reserves the right to substitute are functionally equivalent copy of the Software as a replacement if it deems it necessary in its sole discretion. Should BLRT determine that repair or replacement of the Software is not possible or practicable then your sole alternate remedy shall be a refund of the purchase price paid by you to BLRT for the Services.</p>
                        <h2 class = "template-h2">20. INDEMNITY</h2>
                        <p  >You agree to indemnify and hold BLRT harmless from all claims, judgements, liabilities, damages, expenses or costs arising from your breach of this Agreement, any other agreement relating to your purchase, installation, downloading or other use of the Software, use of the Services and/or your acts or omissions, whether negligent or otherwise. Such expenses or costs may include, but not limited to, any legal fees incurred by BLRT on a solicitor/client basis.</p>
                        <h2 class = "template-h2">21. CONSEQUENCES OF BREACH AND TERMINATION
                        </h2>
                        <p  >Without limiting any other clause in this Agreement, BLRT may terminate this Agreement and/or any other agreements between BLRT and you relating to your purchase or use of the Services (collectively the Contracts) immediately by providing you notice in writing if:</p>
                        <ol class="template-ol alpha-ol">
                            <li>you are in breach of an essential term of the Contracts;
                            </li>
                            <li>You are in breach of any term of the Contracts and such breach is not remedied within 14 days of Blrt providing written notification to remedy breach;</li>
                        </ol>
                            <p  >If you are in breach of this Agreement, BLRT may, in addition to, or as an alternative to terminating the Contracts (such determination to be at BLRT’s sole discretion):</p>
                        <ol class="template-ol alpha-ol" start="3">
                            <li>Provide you with notice requiring that you destroy any copies of the Software or the Related Materials in your possession, custody or control, such destruction to take place within three days of BLRT providing such notice</li>
                            <li>Take any available steps to ensure your compliance with paragraph (e) of this provision, including, but not limited to, taking steps to remotely remove the Software from your Devices, where possible;</li>
                            <li>Suspend and/or cancel any Account that you have with BLRT;</li>
                            <li>Be regarded as discharged from any further obligations under this Agreement; and</li>
                            <li>Pursue any additional alternative remedies provided by this Agreement or any law.</li>
                       </ol>

                        <h2 class = "template-h2">22. RIGHTS TO SURVIVE TERMINATION</h2>
                         <p  >Termination of this Agreement or any other agreement between you and BLRT will not release you from the obligations of this Agreement regarding the use of the Services or from any liability or right of action which at the time of expiry or termination has already accrued to BLRT or which may thereafter accrue in respect of any act or omission prior to such termination.</p>
                        <h2 class = "template-h2">23. RIGHTS NOT AFFECTED BY FAILURE TO ENFORCE</h2>
                         <p  >The failure of BLRT at any time to enforce any of the provisions of this Agreement or any rights in respect to this Agreement or to exercise any election provided in this Agreement will not be a waiver of such provisions, rights or elections or affect the validity of this Agreement.</p>
                        <h2 class = "template-h2">24. APPLE</h2>
                         <p  >You acknowledge that Apple is not responsible for:</p>
                        <ol class="template-ol alpha-ol">
                            <li>Compliance with the terms of this Agreement;</li>
                            <li>Provision of any maintenance or support in relation to the Services;</li>
                            <li>Any warranties in relation to the Services, whether contained in this Agreement or applicable under any law;</li>
                            <li>Any claims for liability relating to the use of the Services, whether founded in contract, tort or otherwise;</li>
                            <li>Any breach of any person’s Intellectual Property rights in relation to the Services;</li>
                        </ol>
                          <p  >You acknowledge that Apple and Apple’s subsidiaries are third party beneficiaries under this Agreement and that by entering this Agreement you agree to Apple having the right to enforce the provisions of this Agreement.</p>
                        <h2 class = "template-h2">25. GOVERNING LAW AND SUBMISSION TO JURISDICTION</h2>
                         <p  >This Agreement will be governed by and construed in accordance with the laws in force in the State of New South Wales, Australia</p>
                         <p  >Each party irrevocably and unconditionally submits to the non-exclusive jurisdiction of the courts of the State New South Wales, Australia and courts of appeal from them for determining any dispute concerning this Agreement or the transactions contemplated by it.</p>
                         <p  >Each party waives any right it has to object to an action being brought in those courts including, but not limited to, claiming that the action has been brought in an inconvenient forum or that those courts do not have jurisdiction.</p>
                        <h2 class = "template-h2">26. SEVERABILITY</h2>
                        <p  >This provision applies in respect of reading down or severing the provisions of this Agreement.</p>
                        <p  >A word or provision must be read down if the Agreement or provision is void, voidable, or unenforceable if it is not read down and the word or provision is capable of being read down.</p>
                        <p  >
                        A word or provision must be severed if, despite the operation of the above paragraph the Agreement or provision is void, voidable or unenforceable if the word or provision is not severed and the remainder of this Agreement has full effect even if this paragraph applies.</p>
                        <h2 class = "template-h2">27. CONSENT</h2>
                        <p  >
                        Where this Agreement gives BLRT a right or power to consent or approve in relation to a matter under this Agreement, BLRT may withhold any consent or approval or give consent or approval conditionally or unconditionally. For the consent to be valid you must comply with any conditions BLRT imposes on its consent or approval.</p>
                        <h2 class = "template-h2">28. PRIVACY</h2>
                        <p  >
                        BLRT takes individual’s privacy seriously. A copy of BLRT’s privacy policy can be found on its website at: 
                        <a href="//m.blrt.com/privacy">www.blrt.com/privacy</a></p>
                        <h2 class = "template-h2">29. CONTACT</h2>
                        <p  >If you have any queries regarding this Agreement or the Services then you may contact BLRT by the following means:</p>
                        <p  >Email: support@blrt.com</p>
                        <p  >Post: PO Box 340, Surry Hills NSW 2010 Australia</p>
                       
                       <!--- TEMPLATE USE-->
<!--                     <p class="text-center-not-xs">
                        Blrt has all the benefits of email, phone calls and meetings, without the hassles and limitations.
                        Is it like a video conference? Perhaps, but without the huge bandwidth or a fixed time!
                    </p> -->
                </div>

    

    		</div>
    	</div>
    	
    </body>
</html>
