<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1, user-scalable=no"/>
        <title>Blrt</title>
        <link rel="icon" type="image/png" href="<%- web_root %>/images/blrtfavicon.png"/> 
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="<%- web_root %>/css/styles.css?v7" rel="stylesheet" type="text/css"/>
        <link href="<%- web_root %>/css/promo.css?v3" rel="stylesheet" type="text/css"/>        
        <link href="<%- web_root %>/css/responsive.css" rel="stylesheet" type="text/css"/>

        <style>
            #loader {
                display: table;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                z-index: 100;
            }
            #loader > div {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        </style>
     </head>
    <body>
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNGPWL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WNGPWL');</script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1451170328452442&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div id="loader" class="section hidden">
            <div>
                <img src="<%- web_root %>/images/loading.gif" alt=""/>
            </div>
        </div>

        <div id="main" class="section">
            <div id="emailcontainer" class="container-fluid container-white pad-bot-tab">
                <div class="slide02 container container-tab pad-top-big pad-top-not-xs pad-bot premium-container-tab vert-margin">                    
                    <div class="premium-wrap para-wrap remove-margin-bot">

                        <p class="text-mid">
                            <img src="<%- web_root %>/images/blrt-logo-blk@2x.png" alt="Blrt" class="blrt-logo premium-blrt-logo">
                        </p>

                        <a id="upgrade"></a>

                        <h1 class="entry-title text-mid">Subscribe&nbsp;to <strong>Blrt&nbsp;Premium</strong></h1>
                    </div>

                    <select id="upgrade-country-dropdown">
                        <option value="">&nbsp;Select country</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AS">American Samoa</option>
                        <option value="AD">Andorra</option>
                        <option value="AG">Angola</option>
                        <option value="AI">Anguilla</option>
                        <option value="AG">Antigua &amp; Barbuda</option>
                        <option value="AR">Argentina</option>
                        <option value="AA">Armenia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia</option>
                        <option value="BL">Bonaire</option>
                        <option value="BA">Bosnia &amp; Herzegovina</option>
                        <option value="BW">Botswana</option>
                        <option value="BR">Brazil</option>
                        <option value="BC">British Indian Ocean Ter</option>
                        <option value="BN">Brunei</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CA">Canada</option>
                        <option value="IC">Canary Islands</option>
                        <option value="CV">Cape Verde</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="CF">Central African Republic</option>
                        <option value="TD">Chad</option>
                        <option value="CD">Channel Islands</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CI">Christmas Island</option>
                        <option value="CS">Cocos Island</option>
                        <option value="CO">Colombia</option>
                        <option value="CC">Comoros</option>
                        <option value="CG">Congo</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CR">Costa Rica</option>
                        <option value="CT">Cote D'Ivoire</option>
                        <option value="HR">Croatia</option>
                        <option value="CU">Cuba</option>
                        <option value="CB">Curacao</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="DK">Denmark</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="TM">East Timor</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egypt</option>
                        <option value="SV">El Salvador</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="ER">Eritrea</option>
                        <option value="EE">Estonia</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FA">Falkland Islands</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="FJ">Fiji</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="GF">French Guiana</option>
                        <option value="PF">French Polynesia</option>
                        <option value="FS">French Southern Ter</option>
                        <option value="GA">Gabon</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="DE">Germany</option>
                        <option value="GH">Ghana</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GB">Great Britain</option>
                        <option value="GR">Greece</option>
                        <option value="GL">Greenland</option>
                        <option value="GD">Grenada</option>
                        <option value="GP">Guadeloupe</option>
                        <option value="GU">Guam</option>
                        <option value="GT">Guatemala</option>
                        <option value="GN">Guinea</option>
                        <option value="GY">Guyana</option>
                        <option value="HT">Haiti</option>
                        <option value="HW">Hawaii</option>
                        <option value="HN">Honduras</option>
                        <option value="HK">Hong Kong</option>
                        <option value="HU">Hungary</option>
                        <option value="IS">Iceland</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IA">Iran</option>
                        <option value="IQ">Iraq</option>
                        <option value="IR">Ireland</option>
                        <option value="IM">Isle of Man</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japan</option>
                        <option value="JO">Jordan</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="KE">Kenya</option>
                        <option value="KI">Kiribati</option>
                        <option value="NK">Korea North</option>
                        <option value="KS">Korea South</option>
                        <option value="KW">Kuwait</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="LA">Laos</option>
                        <option value="LV">Latvia</option>
                        <option value="LB">Lebanon</option>
                        <option value="LS">Lesotho</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libya</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MO">Macau</option>
                        <option value="MK">Macedonia</option>
                        <option value="MG">Madagascar</option>
                        <option value="MY">Malaysia</option>
                        <option value="MW">Malawi</option>
                        <option value="MV">Maldives</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MQ">Martinique</option>
                        <option value="MR">Mauritania</option>
                        <option value="MU">Mauritius</option>
                        <option value="ME">Mayotte</option>
                        <option value="MX">Mexico</option>
                        <option value="MI">Midway Islands</option>
                        <option value="MD">Moldova</option>
                        <option value="MC">Monaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="MS">Montserrat</option>
                        <option value="MA">Morocco</option>
                        <option value="MZ">Mozambique</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Nambia</option>
                        <option value="NU">Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="AN">Netherland Antilles</option>
                        <option value="NL">Netherlands (Holland, Europe)</option>
                        <option value="NV">Nevis</option>
                        <option value="NC">New Caledonia</option>
                        <option value="NZ">New Zealand</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeria</option>
                        <option value="NW">Niue</option>
                        <option value="NF">Norfolk Island</option>
                        <option value="NO">Norway</option>
                        <option value="OM">Oman</option>
                        <option value="PK">Pakistan</option>
                        <option value="PW">Palau Island</option>
                        <option value="PS">Palestine</option>
                        <option value="PA">Panama</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Peru</option>
                        <option value="PH">Philippines</option>
                        <option value="PO">Pitcairn Island</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="QA">Qatar</option>
                        <option value="ME">Republic of Montenegro</option>
                        <option value="RS">Republic of Serbia</option>
                        <option value="RE">Reunion</option>
                        <option value="RO">Romania</option>
                        <option value="RU">Russia</option>
                        <option value="RW">Rwanda</option>
                        <option value="NT">St Barthelemy</option>
                        <option value="EU">St Eustatius</option>
                        <option value="HE">St Helena</option>
                        <option value="KN">St Kitts-Nevis</option>
                        <option value="LC">St Lucia</option>
                        <option value="MB">St Maarten</option>
                        <option value="PM">St Pierre &amp; Miquelon</option>
                        <option value="VC">St Vincent &amp; Grenadines</option>
                        <option value="SP">Saipan</option>
                        <option value="SO">Samoa</option>
                        <option value="AS">Samoa American</option>
                        <option value="SM">San Marino</option>
                        <option value="ST">Sao Tome &amp; Principe</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SN">Senegal</option>
                        <option value="RS">Serbia</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SG">Singapore</option>
                        <option value="SK">Slovakia</option>
                        <option value="SI">Slovenia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="OI">Somalia</option>
                        <option value="ZA">South Africa</option>
                        <option value="ES">Spain</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SD">Sudan</option>
                        <option value="SR">Suriname</option>
                        <option value="SZ">Swaziland</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="SY">Syria</option>
                        <option value="TA">Tahiti</option>
                        <option value="TW">Taiwan</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TZ">Tanzania</option>
                        <option value="TH">Thailand</option>
                        <option value="TG">Togo</option>
                        <option value="TK">Tokelau</option>
                        <option value="TO">Tonga</option>
                        <option value="TT">Trinidad &amp; Tobago</option>
                        <option value="TN">Tunisia</option>
                        <option value="TR">Turkey</option>
                        <option value="TU">Turkmenistan</option>
                        <option value="TC">Turks &amp; Caicos Is</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UG">Uganda</option>
                        <option value="UA">Ukraine</option>
                        <option value="AE">United Arab Emirates</option>
                        <option value="GB">United Kingdom</option>
                        <option value="US">United States of America</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VS">Vatican City State</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Vietnam</option>
                        <option value="VB">Virgin Islands (Brit)</option>
                        <option value="VA">Virgin Islands (USA)</option>
                        <option value="WK">Wake Island</option>
                        <option value="WF">Wallis &amp; Futana Is</option>
                        <option value="YE">Yemen</option>
                        <option value="ZR">Zaire</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>

                    <div class="premium-pullout">
                        <!--<h3>$300/year</h3>-->
                        <!--<h2>$149.99/year</h2>-->
                        <!--<p>50% off for a limited time</p>-->
                    </div>

                    <a href="#" class="checkout">
                        <div class = "premium-upgrade  remove-margin-top btn-1 premium-btn">
                            <h3>Upgrade Now</h3>
                        </div>
                    </a>

                    <% if(email) { %>
                        <div class = "premium-support-reminder">
                            <p><span>for <%- email %></span></p>
                            <p>Not you? <a href="#" class="checkout clear-email">Upgrade a different account</a></p>
                        </div>
                    <% } %>

                    <p class="text-mid"><a href="#" id="promo-show">Have a promo code?</a></p>

                    <form id="promo-form" class="promoform hidden">
                        <table>
                        <tr>
                            <td>
                                <input id="coupon" type="text" name="promocode" placeholder="Promo code">
                            </td>
                            <td>
                                <button>Verify</button>
                            </td>
                        </tr>
                        </table>
                    </form>
                    <p id="pcode-invalid" class="promo-msg hidden"></p>
                    <p id="pcode-failed" class="promo-msg hidden"></p>
                    <p id="pcode-applied" class="promo-msg hidden"></p>

                    <div class ="premium-wrap para-wrap">
  
                        <div class="clearfix premium-content">
                            <img src="<%- web_root %>/images/longerblrts@2x.png?v2" alt="" class="premium-featured-image">
                            <p class="premium-featured-text">
                               <strong>Longer Blrts</strong>
                               <br>Don't fit it in 2 minutes. Enjoy&nbsp;ten-minute&nbsp;Blrts.
                            </p>
                        </div>
                        <div class="clearfix premium-content">
                            <img src="<%- web_root %>/images/morepeople@2x.png" alt="" class="premium-featured-image">
                            <p class="premium-featured-text">
                               <strong>More people</strong>
                               <br>Add up to 20 users to a Blrt conversation.
                            </p>
                        </div>
                        <div class="clearfix premium-content">
                            <img src="<%- web_root %>/images/conversation-controls@2x.png" alt="" class="premium-featured-image">                    
                            <p class="premium-featured-text">
                              <strong>Extra conversation controls</strong>
                                <br>Restrict others from inviting people into conversations, or making public Blrts.
                            </p>
                        </div>
                        <div class="clearfix premium-content">
                            <img src="<%- web_root %>/images/bigger-pdfs@2x.png" alt="" class="premium-featured-image">    
                            <p class="premium-featured-text">
                               <strong>Bigger PDFs</strong>
                                <br>Go wild with 10 MB, 100-page PDFs.
                            </p>
                        </div>
                        <div class="clearfix premium-content">
                            <img src="<%- web_root %>/images/extra-images@2x.png" alt="" class="premium-featured-image">    
                            <p class="premium-featured-text"><strong>Extra images</strong> 
                                <br>Make Blrts with up to 25 images, not 10.
                            </p>          
                        </div>
                        <div class="clearfix premium-content">
                            <img src="<%- web_root %>/images/priority-support@2x.png" alt="" class="premium-featured-image">    
                            <p class="premium-featured-text">
                                <strong>Priority support</strong>
                                <br> Need help? Premium members are always at the front of the queue.
                            </p>
                        </div>                                                              
                    </div>

                    <a href="#upgrade">
                        <div class = "btn-1 premium-btn premium-subscribe margin-small-top">
                            <h3>Upgrade to Blrt Premium</h3>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="blrt-footer container-fluid container-black text-center">
                <div class="container container-no-tab pad-top-big pad-bot-big">
                    
                    <img src="<%- web_root %>/images/blrt-logo-grn@2x.png" alt="Blrt" class="blrt-logo img-center">
                    <div class = "paragraph-btn">
                        <h1 class="text-center">
                            Available now.  
                        </h1>
                        <a id="appstore2" onclick="ga('send','event','button','click','app store 2');" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8"> 
                            <div class = "btn-1 app-store-btn  img-center img-center-not-xs">
                                <img src="<%- web_root %>/images/apple-logo-blue@2x.png">
                                <div class="text">
                                    <h4> Download on the </h4>
                                    <h1> App Store</h1>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                </div>
            </div>
            <div class="container-fluid container-light-grey">
                <div class="think-footer container container-no-tab pad-top-small pad-bot-small">
                    <p>&copy; 2014 Blrt</p>
                    <ul class="list-inline text-center">
                        <li><a href="<%- web_root %>/blog">Blog</a></li>
                        <li><a href="//help.blrt.com/">Support</a></li>
                        <!--<li><a href="//www.blrt.com/press">Press</a></li>-->
                        <li><a href="<%- web_root %>/privacy">Privacy</a></li>
                        <li><a href="<%- web_root %>/terms/">Terms</a></li>
                        <li><a onclick="ga('send','event','button','click','twitter footer');" href="https://www.twitter.com/blrt">@blrt</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="success" class="section hidden">
            <div id="emailcontainer" class="container-fluid container-white pad-bot-tab">
                <div class="slide02 container container-tab pad-top-big pad-top-not-xs pad-bot premium-container-tab vert-margin">
                    <div class="premium-wrap para-wrap remove-margin-bot">
                        <h1 class="remove-pad-bot">Thanks for subscribing to <br><strong>Blrt Premium</strong></h1>
                        <p>You're the world's newest Blrt Premium member. For an entire year, you'll enjoy the features that make this handy communication app even better.
                        </p>
                        <p>
                        <strong>Your Premium features will become available the next time you start the Blrt app.</strong>
                        </p>
                        <p>
                            <strong>
                                Interested in Blrt for Android and Windows, or perhaps our API for your own apps?
                                <a href="<%- web_root %>/blog/contact">Stay in the know</a> with Blrt email updates.
                            </strong>
                        </p>
                        <p>If you're enjoying Blrt, why not take a moment to:</p>
                        <ul>
                            <li class="first">
                                <a id="appstore1" target="_blank" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8"> 
                                    <div class = "btn-1 app-store-btn img-center rate-us-btn">
                                        <div><img src="<%- web_root %>/images/apple-logo-blue@2x.png"></div>
                                        <div class="text">
                                        <h4> Rate us on the </h4>
                                        <h1> App Store</h1>
                                        </div>
                                    </div>
                                </a>                                
                            </li>

                            <li><p>Follow us</p>
                                <a href="https://twitter.com/blrt" class="twitter-follow-button" data-show-count="false">Follow @blrt</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </li>
                            <li class="last">
                                <p>Like us</p>
                                <div class="fb-like" data-href="https://www.facebook.com/blrtapp" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-ref="blrt.com"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="blrt-footer container-fluid container-black text-center">
                <div class="container container-no-tab pad-top-big pad-bot-big">
                    
                    <img src="<%- web_root %>/images/blrt-logo-grn@2x.png" alt="Blrt" class="blrt-logo img-center">
                    <div class = "paragraph-btn">
                        <h1 class="text-center">
                            Available now.  
                        </h1>
                        <a id="appstore2" onclick="ga('send','event','button','click','app store 2');" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8"> 
                            <div class = "btn-1 app-store-btn  img-center img-center-not-xs">
                                <img src="<%- web_root %>/images/apple-logo-blue@2x.png">
                                <div class="text">
                                    <h4> Download on the </h4>
                                    <h1> App Store</h1>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                </div>
            </div>
            <div class="container-fluid container-light-grey">
                <div class="think-footer container container-no-tab pad-top-small pad-bot-small">
                    <p>&copy; 2014 Blrt</p>
                    <ul class="list-inline text-center">
                        <li><a href="<%- web_root %>/blog">Blog</a></li>
                        <li><a href="//help.blrt.com/">Support</a></li>
                        <!--<li><a href="<%- web_root %>/press">Press</a></li>-->
                        <li><a href="<%- web_root %>/privacy">Privacy</a></li>
                        <li><a href="<%- web_root %>/terms/">Terms</a></li>
                        <li><a onclick="ga('send','event','button','click','twitter footer');" href="https://www.twitter.com/blrt">@blrt</a></li>
                    </ul>
                </div>
            </div>
 
        </div>

        <div id="error" class="section hidden">
            <div id="emailcontainer" class="container-fluid container-white pad-bot-tab">
                <div class="slide02 container container-tab pad-top-big pad-top-not-xs pad-bot premium-container-tab vert-margin">
                    <div class="premium-wrap para-wrap remove-margin-bot">
                        <h3>Upgrade failed</h3>
                        <p><span class="text-red">Something went wrong with your upgrade</span></p>
                        <p>Error: <span id="error-message"></span></p>
                        <P>Try again by clicking the button below. You cannot be charged twice for this transaction.
                        If you continue to see this message, <a href="//help.blrt.com/">contact Blrt support</a>.</P>
                        <a href="#" class="checkout clear-email">
                            <div class = "premium-upgrade  remove-margin-top btn-1 premium-btn error-btn-margin-top">
                                <h3>Upgrade Now</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="blrt-footer container-fluid container-black text-center">
                <div class="container container-no-tab pad-top-big pad-bot-big">
                    
                    <img src="<%- web_root %>/images/blrt-logo-grn@2x.png" alt="Blrt" class="blrt-logo img-center">
                    <div class = "paragraph-btn">
                        <h1 class="text-center">
                            Available now.  
                        </h1>
                        <a id="appstore2" onclick="ga('send','event','button','click','app store 2');" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8"> 
                            <div class = "btn-1 app-store-btn  img-center img-center-not-xs">
                                <img src="<%- web_root %>/images/apple-logo-blue@2x.png">
                                <div class="text">
                                    <h4> Download on the </h4>
                                    <h1> App Store</h1>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                </div>
            </div>
            <div class="container-fluid container-light-grey">
                <div class="think-footer container container-no-tab pad-top-small pad-bot-small">
                    <p>&copy; 2014 Blrt</p>
                    <ul class="list-inline text-center">
                        <li><a href="<%- web_root %>/blog">Blog</a></li>
                        <li><a href="//help.blrt.com/">Support</a></li>
                        <!--<li><a href="<%- web_root %>/press">Press</a></li>-->
                        <li><a href="<%- web_root %>/privacy">Privacy</a></li>
                        <li><a href="<%- web_root %>/terms/">Terms</a></li>
                        <li><a onclick="ga('send','event','button','click','twitter footer');" href="https://www.twitter.com/blrt">@blrt</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <script src="//checkout.stripe.com/checkout.js"></script>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
            jQuery(function ($) {
                function monify(cents) {
                    var str = (parseInt(cents) / 100).toString();
                    if(str.substr(-2, 1) == ".") str += "0";

                    return str;
                }

                var handleUrl = "<%- server_url %>";
                var couponUrl = "<%- coupon_url %>";
                var stripePublicKey = "<%- stripe_public_key %>";
                var countryPrice = <%- JSON.stringify(stripe_premium_price) %>;
                var description = "<%- stripe_premium_description %>";
                var email = "<%- email %>";
                var blrtLogoPath = "<%- web_root %>/images/blrt-logo-128.png";

                var loading = false;
                var price = false;

                function beginLoading() {
                    if(loading)
                        return;

                    $("#loader").removeClass("hidden");

                    loading = true;
                }
                function endLoading() {
                    if(!loading)
                        return;

                    $("#loader").addClass("hidden");

                    loading = false;
                }

                var triedCouponVerification = false;
                var coupon = false;
                var couponName = "";
                var discount = false;
                var directPrice = false;

                function showPromoMsg(type, msg) {
                    dataLayer.push({'event': 'coupon-' + type});

                    return $(".promo-msg")
                        .addClass("hidden")
                        .filter("#pcode-" + type)
                        .text(msg)
                        .removeClass("hidden");
                }

                function validateCoupon(callback) {
                    coupon = $("#coupon").val();
                    if(typeof coupon == "string") coupon = coupon.trim().toLowerCase();

                    if(!coupon) {
                        if(!callback) showPromoMsg("invalid", "Invalid promo code");
                        else          $(".promo-msg").addClass("hidden");

                        triedCouponVerification = false;
                        discount = false;
                        directPrice = false;
                        couponName = "";

                        calculatePrice();
                        return callback ? callback() : null;
                    }

                    beginLoading();

                    $.ajax({
                        url: couponUrl,
                        dataType: "jsonp",
                        method: "GET",
                        data: { coupon: coupon },
                        success: function (json) {
                            if(json.success) showPromoMsg("applied", "Successfully applied promo code");
                            else             showPromoMsg(json.tried ? "invalid" : "failed", json.message);

                            discount = json.success ? json.discount : false;
                            directPrice = json.success? json.directPirce: false;
                            couponName = json.marketingName;
                            triedCouponVerification = json.tried ? coupon : false;
                        },
                        error: function () {
                            showPromoMsg("failed", "Connection error, please try again");

                            triedCouponVerification = false;
                        },
                        complete: function () {
                            endLoading();

                            calculatePrice();
                            if(callback) callback();
                        }
                    });
                }

                var oldToken = null;
                var handler = StripeCheckout.configure({
                    key: stripePublicKey,
                    image: blrtLogoPath,
                    token: tokenHandler
                });

                function doCheckout() {
                    if(oldToken == null) {
                        var config = {
                            name: "Blrt",
                            description: description + (country == "AU" ? " incl GST" : ""),
                            amount: parseInt(price.amount),
                            currency: price.currency
                        };

                        if(email)
                            config.email = email;
                        else // Stripe holds onto the old email for some reason
                            config.email = "";

                        handler.open(config);
                    } else
                        tokenHandler(oldToken);
                }

                function showSection(section) {
                    if(section != "main")
                        dataLayer.push({'event': 'upgrade-' + section});

                    $(window).scrollTop(0);

                    return $(".section")
                        .addClass("hidden")
                        .filter("#" + section)
                        .removeClass("hidden");
                };

                var country = false;

                function tokenHandler(token) {
                    oldToken = token;

                    beginLoading();

                    $.ajax({
                        url: handleUrl,
                        dataType: "jsonp",
                        method: "GET",
                        data: { token: token, coupon: coupon, country: country },
                        success: function (json) {
                            if(json.success)
                                showSection("success");
                            else {
                                showSection("error")
                                    .find("#error-message")
                                    .html(json.message);

                                if(json.dropToken)
                                    oldToken = null;
                            }
                        },
                        error: function () {
                            showSection("error")
                                .find("#error-message")
                                .html("There was a connection error when trying to process your payment");
                        },
                        complete: function () {
                            endLoading();
                        }
                    });
                };

                $(".checkout").click(function () {
                    if($(this).hasClass("clear-email")) {
                        email = "";
                        $(".premium-support-reminder").remove();
                    }

                    if(price === false || country === false) {
                        $("#upgrade-country-dropdown")
                            .focus()
                            .addClass("country-required");

                        return false;
                    }

                    var coupon = $("#coupon").val();
                    if(typeof coupon == "string") coupon = coupon.trim().toLowerCase();

                    if((coupon && !triedCouponVerification) || (triedCouponVerification != coupon))
                        validateCoupon(doCheckout);
                    else
                        doCheckout();

                    return false;
                });

                $("#promo-show").click(function () {
                    $(this).remove();
                    $("#promo-form")
                        .removeClass("hidden")
                        .find("#coupon")
                        .focus();

                    return false;
                });

                $("#promo-form").submit(function () {
                    validateCoupon();
                    return false;
                });

                function calculatePrice() {
                    country = $("#upgrade-country-dropdown").val();
                    var html = "";

                    if(country) {
                        var convertedCountry = country;
                        if(!(country in countryPrice))
                            convertedCountry = "base";

                        price = { amount: countryPrice[convertedCountry].amount, currency: countryPrice[convertedCountry].currency };

                        var beforeDiscount = false;
                        if(discount) {
                            var discountCountry = country;
                            if(!(discountCountry in discount))
                                discountCountry = "base";
                            
                            beforeDiscount = price.amount;

                            var reduction = discount[discountCountry];
                            if(reduction < 1)
                                parseInt(price.amount *= 1 - reduction);
                            else
                                price.amount = parseInt(reduction * 100);
                        }else if(directPrice){
                            var discountCountry = country;
                            if(!(discountCountry in directPrice))
                                discountCountry = "base";

                            beforeDiscount = price.amount; 
                            price.amount = parseInt(directPrice[discountCountry].amount * 100);
                            price.currency = directPrice[discountCountry].currency; 
                        }

                        html += "<h3>" + ((discount || directPrice)? "<s>$" + monify(beforeDiscount / 12) + "</s> ": "") + "$" + monify(price.amount / 12) + "/month paid annually</h3>"
                        html += "<p>" + ((discount || directPrice)? "<s>$" + monify(beforeDiscount) + "</s> ": "") + price.currency + "$" + monify(price.amount) + "/year" + (convertedCountry == "AU" ? " incl GST" : "") + "</p>";
                        if(discount|| directPrice) html += '<p class="promo-callout">' + couponName + "</p>";
                    } else {
                        price = false;
                    }
                    
                    $(".premium-pullout").html(html);
                }

                function clearCountryRequired() { $(this).removeClass("country-required"); }
                $("#upgrade-country-dropdown")
                    .focus(clearCountryRequired)
                    .change(clearCountryRequired)
                    .change(calculatePrice);
            });
        </script>
    </body>
</html>