<!DOCTYPE html>
<html>
	<head>
		<% var usingPlayer = true; %>
		<%- include partial/landing_page_common_header %>
		<link href="<%- resourceHost %>/css/player<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet" type="text/css"/>
		<link href="<%- resourceHost %>/css/player_landing<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet" type="text/css"/>
		<script defer src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script defer src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
		<script async src="<%- resourceHost %>/js/loggly<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
		<script async src="<%- resourceHost %>/js/ua-parser<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
		<script defer src="<%- resourceHost %>/js/blrt_share<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
		<script defer src="<%- resourceHost %>/js/webplayer_nacl<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.04.22.01"></script>
		<script defer src="<%- resourceHost %>/js/webplayer_landing_page<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
		<script defer src="<%- resourceHost %>/js/register_sec<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
		<script defer src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script defer src="//www.blrt.com/js/script.js?v=1.1"></script>
		<script defer src="//www.blrt.com/js/pdf.js"></script>
	</head>
	<body>
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNGPWL"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WNGPWL');
		</script>
		<div id="fb-root"></div>
		<a href="//plus.google.com/112993209082343780073" rel="publisher"></a>
		<div class="first-slide container-green pad-bot-tab udp-pad">
			<p class="text-mid">
				<a href="//www.blrt.com"><img src="//www.blrt.com/images/blrt-logo-blk@2x.png" alt="Blrt" class="blrt-logo premium-blrt-logo udp-blrt-logo"></a>
			</p>
			<div class ="UDP-link-pup">
				<p> What's a Blrt?
					Blrt combines your voice and visuals to work like a video but is up to 50 times lighter than video. 
				</p>
				<p>You have to see a Blrt to believe it.</p>
			</div>
		</div>
		<div class="container-fluid container-black" style="text-align: center;">
			<div class="bwp-container container-tab bwp-pad-top pad-bot udp-pad-bot">
				<div class="bwp-size-control">
					<%- include partial/webplayer %>
				</div>
				<div id="landing-info-sec" class="bwp-landing-tab">
					<div id="landing-info-sec-left">
						<p id="landing-info-sec-left-title"><%= blrt.title %></p>
						<div id="landing-info-sec-left-public">
							<%- blrt.isPublicBlrt ? ('<img alt="" src="' + resourceHost + '/img/public_blrt.png"/><p>Public</p>') : ('<img alt="" src="' + resourceHost + '/img/private_blrt.png"/><p>Private</p>') %>
							<img id="landing-info-sec-left-public-logo" alt="Blrt" src="<%- resourceHost %>/img/blrt_white.png">
	  					</div>
					</div>
					<div id="landing-info-sec-right">
						<div>
							<p>Share this Blrt</p>
		   					<% if (blrt.isPublicBlrt) { %>
		   					<div id="landing-share-fb" class="bwp-after-play-share-icon-bg mouse-cursor-clickable">
				    			<img class="bwp-after-play-share-icon" alt="f" src="<%- resourceHost %>/img/fb_small.png">
				    		</div>
				    		<div id="landing-share-twitter" class="bwp-after-play-share-icon-bg mouse-cursor-clickable">
				    			<img class="bwp-after-play-share-icon" alt="t" src="<%- resourceHost %>/img/twitter_small.png">
				    		</div>
				    		<div id="landing-share-google" class="bwp-after-play-share-icon-bg mouse-cursor-clickable">
				    			<img class="bwp-after-play-share-icon" alt="g" src="<%- resourceHost %>/img/google_small.png">
				    		</div>
				    		<% } %>
				    		<div id="landing-share-email" class="bwp-after-play-share-icon-bg mouse-cursor-clickable">
				    			<img class="bwp-after-play-share-icon" alt="e" src="<%- resourceHost %>/img/email_small.png">
				    		</div>
				    		<div id="landing-share-code" class="bwp-after-play-share-icon-bg mouse-cursor-clickable">
				    			<img class="bwp-after-play-share-icon" alt="c" src="<%- resourceHost %>/img/embed_code.png">
				    		</div>
						</div>
					</div>
				</div>
				<%- include partial/landing_page_embed_code %>
			</div>
		</div>
		<% var forceYouTubeHTML5 = false;%>
		<%- include partial/landing_page_common_body %>
		<%- include partial/webplayer_body_script %>
	</body>
</html>