<!--<html>-->
	<!--<head>-->
		<!--<title>Blrt Web Recorder</title>-->
		<!--<meta charset="utf-8"/>-->
		<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
		<!--<script defer src="//code.jquery.com/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>-->
		<!--<script defer src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
		<!--<link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>-->
		<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">-->
		<!--<link href="<%- resourceHost %>/css/recorder<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.06.24.01" rel="stylesheet" type="text/css"/>-->
		<!--<script defer src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>-->
		<!--<script defer src="<%- resourceHost %>/js/svg_sprite<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.06.24.01"></script>-->
		<!--<script defer src="//www.parsecdn.com/js/parse-1.6.14.min.js"></script>-->
		<!--<script defer src="//s3.amazonaws.com/blrt-webplayer/lib/js/pdf.min.js"></script>-->
		<!--<script defer src="//cdn.jsdelivr.net/fingerprintjs2/1.1.0/fingerprint2.min.js"></script>-->
		<!--<script async src="<%- resourceHost %>/js/loggly<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.04.18.01"></script>-->
		<!--<script async src="<%- resourceHost %>/js/ua-parser<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>-->
		<!--<script defer src="<%- resourceHost %>/js/webrecorder_nacl<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.06.24.02"></script>-->
	<!--</head>-->
	<!--<body>-->
		<!--<input id="blrt-web-recorder-record-data" type="hidden" value='<%= naclarg%>' />-->
		<!--<div id="svg-predefine"></div>-->
		<!--<div id="bwri-body-container">-->
			<!--<div id="bwri-canvas-area">-->
				<!--<div id="bwri-canvas-area-canvas">-->
					<!--<div id="blrt-web-recorder-listener"></div>-->
					<!--<div id="bwri-canvas-page-number">-->
						<!--<button id="bwri-page-pre" class="ui icon button bwrc-page-btn">-->
							<!--<div class="svg-placeholder" data-svg-id="pre_page"></div>-->
						<!--</button>-->
						<!--<button id="bwri-page-next" class="ui icon button bwrc-page-btn">-->
							<!--<div class="svg-placeholder" data-svg-id="next_page"></div>-->
						<!--</button>-->
						<!--<button id="bwri-page-num" class="ui icon button">-->
							<!--0 / 0-->
						<!--</button>-->
					<!--</div>-->
					<!--<div id="microphone" class="ui basic modal bwrc-modal-centeralise">-->
						<!--<div class="header">Microphone Access Required</div>-->
						<!--<div class="content">-->
							<!--<p>Click Allow to give Blrt microphone access</p>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div id="download" class="ui basic modal bwrc-modal-centeralise">-->
						<!--<div class="header">Downloading Blrt</div>-->
						<!--<div class="content">-->
							<!--<div id="bwri-download-progress-control" class="ui tiny progress bwrc-hidden" data-percent="0">-->
								<!--<div class="bar"></div>-->
								<!--<div id="bwri-download-progress" class="label" style="color:white;">0%</div>-->
							<!--</div>-->
							<!--<div id="bwri-download-connecting-control" class="ui active large text loader">Loading</div>-->
						<!--</div>-->
					<!--</div>-->
					<!---->
					<!--<div id="upload" class="ui basic modal bwrc-modal-centeralise">-->
						<!--<div class="header">Uploading Blrt</div>-->
						<!--<div class="content">-->
							<!--<div id="bwri-upload-progress-control" class="ui tiny progress" data-percent="0">-->
								<!--<div class="bar"></div>-->
								<!--<div id="bwri-upload-progress" class="label" style="color:white;">0%</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div id="finished" class="ui basic modal bwrc-modal-centeralise">-->
						<!--<div class="header">Blrt uploaded to cloud</div>-->
						<!--<div class="actions bwrc-modal-centeralise">-->
							<!--<button id="finish-btn" class="ui button">Close</button>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div id="upload-failed" class="ui basic modal bwrc-modal-centeralise">-->
						<!--<div class="header">Blrt failed to upload</div>-->
						<!--<div class="actions bwrc-modal-centeralise">-->
							<!--<button class="ui approve button">Retry</button>-->
							<!--<button class="ui cancel button">Close</button>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div id="confirm-close" class="ui page dimmer">-->
						<!--<div id="confirm-close-main">-->
							<!--<div class="ui shape">-->
								<!--<div class="sides">-->
									<!--<div class="side active">-->
										<!--<div class="bwrc-confirm-close-side-size">-->
											<!--<p class="bwrc-confirm-close-title">Erase Blrt</p>-->
											<!--<p class="bwrc-confirm-close-text">Would you like to erase your recording progress?</p>-->
											<!--<div class="bwrc-confirm-close-buttons">-->
												<!--<button id="confirm-close-reset" class="fluid ui button">Start again</button>-->
												<!--<button id="confirm-close-edit" class="fluid ui button">Edit pages</button>-->
												<!--<button id="confirm-close-close" class="fluid ui button">Exit Recording</button>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="side">-->
										<!--<div class="bwrc-confirm-close-side-size">-->
											<!--<p class="bwrc-confirm-close-title">Edit pages</p>-->
											<!--<p class="bwrc-confirm-close-text">Your recording progress will be erased if you edit pages.</p>-->
											<!--<div class="bwrc-confirm-close-buttons">-->
												<!--<button id="confirm-close-confirmed" class="fluid ui button">Edit pages</button>-->
												<!--<button id="confirm-close-back" class="fluid ui button">Back</button>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div id="recorder-alert" class="ui small modal">-->
						<!--<div class="header"></div>-->
						<!--<div class="content">-->
							<!--<div class="description"></div>-->
						<!--</div>-->
						<!--<div class="actions">-->
							<!--<button id="recorder-alert-yes" class="ui approve positive button"></button>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div id="bwri-lowertab">-->
					<!--<p id="bwri-time-lbl-elapsed" class="bwrc-time">00:00</p>-->
					<!--<div id="bwri-lowertab-progress" class="bwrc-recording">-->
						<!--<input type="range" value="0" min="0" max="1000" />-->
					<!--</div>-->
					<!--<p id="bwri-time-lbl-total" class="bwrc-time">02:00</p>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div id="bwri-tool-area">-->
				<!--<div id="bwri-tool-area-inner">-->
					<!--<div class="bwrc-flex-helper-start"></div>-->
					<!--<div id="bwri-tool-area-middle">-->
						<!--<div id="bwri-tool-area-middle-tools">-->
							<!--<div class="bwrc-titled-tool-sec" align="right">-->
								<!--<p>Talk</p>-->
								<!--<div class="svg-placeholder" data-svg-id="microphone" data-ele-id="bwri-tool-vol-indicator" data-ele-class="bwrc-deactivated"></div>-->
							<!--</div>-->
							<!--<div class="bwrc-titled-tool-sec" align="right">-->
								<!--<p>Point</p>-->
								<!--<button id="tool_finger" class="bwrc-icon-btn bwrc-tool-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="finger"></div>-->
								<!--</button>-->
							<!--</div>-->
							<!--<div class="bwrc-titled-tool-sec" align="right">-->
								<!--<p>Draw</p>-->
								<!--<button id="tool_pen" class="bwrc-icon-btn bwrc-tool-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="pen"></div>-->
								<!--</button>-->
							<!--</div>-->
							<!--<div id="bwri-tool-area-middle-tools-other" align="center">-->
								<!--<button id="tool_square" class="bwrc-icon-btn bwrc-tool-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="square"></div>-->
								<!--</button>-->
								<!--<button id="tool_circle" class="bwrc-icon-btn bwrc-tool-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="circle"></div>-->
								<!--</button>-->
								<!--<button id="tool_line" class="bwrc-icon-btn bwrc-tool-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="line"></div>-->
								<!--</button>-->
							<!--</div>-->
							<!--<div id="bwri-tool-area-middle-tools-width" align="center">-->
								<!--<button id="width1" class="bwrc-icon-btn bwrc-width-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="width1"></div>-->
								<!--</button>-->
								<!--<button id="width2" class="bwrc-icon-btn bwrc-width-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="width2"></div>-->
								<!--</button>-->
								<!--<button id="width3" class="bwrc-icon-btn bwrc-width-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="width3"></div>-->
								<!--</button>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div id="bwri-tool-area-middle-colors" align="center">-->
							<!--<button id="color1" class="bwrc-icon-btn bwrc-color-btn" style="background-color:rgb(255,255,255)"></button>-->
							<!--<button id="color6" class="bwrc-icon-btn bwrc-color-btn" style="background-color:rgb(  0,  0,  0)"></button>-->
							<!--<button id="color4" class="bwrc-icon-btn bwrc-color-btn" style="background-color:rgb(255,176,  0)"></button>-->
							<!--<button id="color3" class="bwrc-icon-btn bwrc-color-btn" style="background-color:rgb( 79,153,200)"></button>-->
							<!--<button id="color5" class="bwrc-icon-btn bwrc-color-btn" style="background-color:rgb(  0,245,165)"></button>-->
							<!--<button id="color2" class="bwrc-icon-btn bwrc-color-btn" style="background-color:rgb(226, 26, 69)"></button>-->
						<!--</div>-->
						<!--<div id="bwri-tool-area-middle-undo-redo" align="center">-->
							<!--<button id="undo" class="bwrc-icon-btn">-->
								<!--<div class="svg-placeholder" data-svg-id="undo"></div>-->
							<!--</button>-->
							<!--<button id="redo" class="bwrc-icon-btn">-->
								<!--<div class="svg-placeholder" data-svg-id="redo"></div>-->
							<!--</button>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div id="bwri-tool-area-bottom" align="center">-->
						<!--<div id="bwri-tool-area-bottom-rec-pb" align="center">-->
							<!--<div id="bwri-tool-area-bottom-pb" class="bwrc-hidden">-->
								<!--<button class="bwrc-icon-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="play"></div>-->
								<!--</button>-->
								<!--<p>Play<br>back</p>-->
							<!--</div>-->
							<!--<div id="bwri-tool-area-bottom-rec">-->
								<!--<button class="bwrc-icon-btn">-->
									<!--<div class="svg-placeholder" data-svg-id="record"></div>-->
								<!--</button>-->
								<!--<p>Record<br>&nbsp;</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<button id="save" class="bwrc-icon-btn bwrc-transparent" disabled>-->
							<!--<div class="svg-placeholder" data-svg-id="save_btn" data-ele-id="bwri-tool-area-bottom-save-btn"></div>-->
						<!--</button>-->
					<!--</div>-->
					<!--<div class="bwrc-flex-helper-end"></div>-->
				<!--</div>-->
				<!--<a href="http://www.blrt.com" target="_blank">-->
					<!--<div class="svg-placeholder" data-svg-id="blrt_logo" data-ele-id="bwri-tool-area-logo"></div>-->
				<!--</a>-->
				<!--<button id="bwri-tool-area-close" class="bwrc-icon-btn">-->
					<!--<div class="svg-placeholder" data-svg-id="close"></div>-->
				<!--</button>-->
			<!--</div>-->
			<!--<div id="media-picker" style="display:none">-->
				<!--<div id="bwri-mp-dropzone" class="bwrc-mp-main-canvas">-->
					<!--<div class="bwrc-mp-drop-layer">-->
						<!--<div class="bwri-mp-border-layer">-->
							<!--<div class="bwrc-text">-->
							<!--Drop images and PDF files here-->
							<!--</div>-->
							<!--<img id="bwri-mp-img-drag-preview">-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="bwrc-mp-main-info"> -->
						<!--<input id="bwri-mp-local-file" type="file" accept="application/pdf,image/jpeg,image/png,image/gif" multiple style="display:none" >-->
						<!--<button id="bwri-mp-add-file" data-src="file">-->
							<!--<div class="svg-placeholder" data-svg-id="file"></div>-->
							<!--Files-->
						<!--</button>-->
						<!--<button id="bwri-mp-add-camera" data-src="camera">-->
							<!--<div class="svg-placeholder" data-svg-id="camera"></div>-->
							<!--Camera-->
						<!--</button>-->
						<!--<div id="bwrc-mp-main-info-separator">-->
							<!--<p>or</p>-->
							<!--<p>Drop files here</p>-->
						<!--</div>-->
						<!--<div class="bwrc-mp-restriction-container">-->
							<!--<div> Conversation size </div>-->
							<!--<div class="bwrc-mp-convo-restriction">-->
								<!--<div id="bwrc-mp-restriction-convo-bar"><span>0MB</span></div>-->
								<!--<span>100MB</span>-->
							<!--</div>-->
							<!--<div> Blrt pages </div>-->
							<!--<div class="bwrc-mp-convo-restriction">-->
								<!--<div id="bwrc-mp-restriction-page-bar"><span>0</span></div>-->
								<!--<span>300</span>-->
							<!--</div>-->
							<!--<div> Blrt size </div>-->
							<!--<div class="bwrc-mp-convo-restriction">-->
								<!--<div id="bwrc-mp-restriction-size-bar"><span>0MB</span></div>-->
								<!--<span>20MB</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="bwrc-mp-canvas-content"> -->
						<!--<ul id="bwri-mp-sortable"></ul>-->
					<!--</div>-->
				<!--</div>-->
		<!---->
				<!--<div id="bwri-mp-previewzone">-->
					<!--<div class ="bwrc-mp-preview-top">-->
						<!--<div class="bwrc-mp-preview-top-button">-->
							<!--<div class="svg-placeholder" data-svg-id="back"></div>-->
							<!--<span>Back to pages</span>-->
						<!--</div>-->
						<!--<div class="bwrc-mp-preview-meta">-->
							<!--<div class="bwrc-title">Preview</div>-->
							<!--<div class="bwrc-name"></div>-->
							<!--<div class="bwrc-page"></div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="bwrc-mp-preview-canvas" tabindex="0">-->
						<!--<img src="">-->
						<!--<div class="bwrc-mp-preview-canvas-arrow">-->
							<!--<div class="bwrc-mp-preview-canvas-arrow-left">-->
								<!--<div class="svg-placeholder" data-svg-id="pre_page"></div>-->
							<!--</div>-->
							<!--<div class="bwrc-mp-preview-canvas-arrow-right">-->
								<!--<div class="svg-placeholder" data-svg-id="next_page"></div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="bwrc-mp-preview-bottom">-->
						<!--<div class="bwrc-mp-preview-bottom-hide bwrc-mp-pg-showing">-->
							<!--<div class="svg-placeholder" data-svg-id="visibility"></div>-->
							<!--<div>Hide</div>-->
						<!--</div>-->
						<!--<div class="bwrc-mp-preview-bottom-remove">-->
							<!--<div class="svg-placeholder" data-svg-id="dustbin"></div>-->
							<!--<div>Remove</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
		<!---->
				<!--<div class="bwrc-mp-sidebar">-->
					<!--<div id="bwri-mp-gbf">-->
						<!--<div class="bwrc-switch">-->
							<!--<input id="bwri-mp-sidebar-switch-toggle" type="checkbox" checked="true">-->
							<!--<label for="bwri-mp-sidebar-switch-toggle"> -->
							<!--</label>-->
						<!--</div>-->
						<!--<div class="bwrc-text">Group by file</div>-->
					<!--</div>-->
					<!--<div class="bwrc-mp-sidebar-create-section">-->
						<!--<p>Select your media<br>and</p>-->
						<!--<button class="bwrc-mp-sidebar-create-button">-->
							<!--<div class="svg-placeholder" data-svg-id="create_btn"></div>-->
						<!--</button>-->
					<!--</div>-->
					<!--<div class="bwrc-mp-sidebar-tip-section">-->
						<!--<div class="svg-placeholder" data-svg-id="tip"></div>-->
						<!--<span> TIP </span>-->
						<!--<p> You can drag files directly from your desktop. </p>-->
					<!--</div>-->
				<!--</div>-->
		<!---->
				<!--<div class="bwrc-mp-preview-sidebar"></div>-->
		<!---->
				<!--<div class="bwrc-mp-overlay">-->
					<!--<div class="bwrc-warning bwrc-group-by-file">-->
						<!--<p>Are you sure you want to group pages by file? Some custom ordering may be lost.</p>-->
						<!--<div class="bwrc-cancel">Cancel</div>-->
						<!--<div class="bwrc-accept">OK</div>-->
					<!--</div>-->
					<!--<div class="bwrc-mp-camera-content">-->
						<!--<div class="bwrc-main-content">-->
							<!--<div class="bwrc-title"> Camera </div>-->
							<!--<div class="bwrc-mp-camera-content-available">-->
								<!--<video id="bwri-mp-camera-video" ></video>-->
								<!--<canvas id="bwri-mp-camera-canvas" style="display:none;"></canvas>-->
								<!--<img id="bwri-mp-camera-snapshot" src="" style="display:none;" >-->
								<!--<div class="bwrc-mp-camera-capture-button">-->
									<!--<div class="svg-placeholder" data-svg-id="camera"></div>-->
								<!--</div>-->
								<!--<div class="bwrc-mp-camera-image-taken">-->
									<!--<div class="bwrc-mp-camera-retry"> Retry </div>-->
									<!--<div class="bwrc-mp-camera-add"> Add this image </div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="bwrc-mp-camera-content-unavailable">-->
							<!--<div class="bwrc-title"> Camera </div>-->
							<!--<div class="bwrc-mp-camera-add">-->
								<!--<img src="<%- resourceHost %>/img/camera/camera_found.png">-->
							<!--</div>-->
							<!--<p> Camera not found. Connect a camera to take photos on Blrt Web.</p>-->
						<!--</div>-->
					<!--</div>-->
					<!---->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<script type="text/javascript">-->
			<!--window.blrtpai = "<%- constants.parseApplicationId %>";-->
			<!--window.blrtpjk = "<%- constants.parseJavascriptKey %>";-->
			<!--window.blrtwpa = "<%- constants.webrecorderUrl %>";-->
			<!--window.blrtvs = "<%= constants.stream == 'm' ? '': constants.stream %>";-->
			<!--window.blrtrh = "<%- resourceHost %>";-->
	<!--<%-->
		<!--if ('undefined' != typeof locals.blrtServerUrl) {-->
	<!--%>-->
			<!--window.blrtServerUrl = "<%- blrtServerUrl %>";-->
	<!--<%-->
		<!--}-->
		<!--if ('undefined' != typeof locals.blrtRestKey) {-->
	<!--%>-->
			<!--window.blrtRestKey = "<%- blrtRestKey %>";-->
	<!--<% -->
		<!--}-->
		<!--if ('undefined' != typeof locals.authType) {-->
			<!--switch (authType) {-->
				<!--case 1:-->
	<!--%>-->
					<!--window.blrtat = 1;-->
					<!--window.blrtmsg = [];-->
					<!--window.addEventListener("message", receiveMessage);-->
					<!--function receiveMessage(event) {-->
						<!--window.blrtmsg.push(event);-->
					<!--}-->
					<!--window.blrtf_removeMessageListener = function() {-->
						<!--window.removeEventListener("message", receiveMessage);-->
					<!--}-->
	<!--<%-->
					<!--break;-->
				<!--case 2:-->
				<!--default:-->
	<!--%>-->
					<!--window.blrtat = <%- authType %>;-->
	<!--<%-->
					<!--break;-->
			<!--}-->
		<!--} -->
	<!--%>-->
			<!---->
			<!--window._LTracker = window._LTracker || [];-->
			<!--window._LTracker.push({-->
				<!--logglyKey: '<%- constants.logglyToken %>',-->
				<!--sendConsoleErrors : true,-->
				<!--appPrefix: '<%- constants.appProtocol %>',-->
				<!--appName: "recorder"-->
			<!--});-->
		<!--</script>-->
	<!--</body>-->
<!--</html>-->