<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <!--OPEN GRAPH METADATA STARTS HERE -->
        <meta property = "og:image" content = "http://s3.amazonaws.com/blrt-cc-images/redirects/img/blrt-fb-icon.png">
        <meta property = "og:title" content = "Blrt"/>
        <meta property = "og:description" content = "Blrt makes communication fast, clear and easy. Things that would take minutes to explain in email take seconds when you say and draw them in Blrt. And there's no need to arrange a meeting or wait for anyone to return your call. Get it for free on the App Store."/>
        <meta property = "og:url" content = "http://www.blrt.com/"/>
        <meta property = "fb:app_id" content = "1451170328452442" />
        <!--OPEN GRAPH METADATA ENDS HERE -->
        <!--TWITTER METADATA STARTS HERE -->
        <meta name = "twitter:card" content="summary"/>
        <meta name = "twitter:image:src" content="//s3.amazonaws.com/blrt-cc-images/redirects/img/blrt-fb-icon.png"/>
        <meta name = "twitter:site" content = "blrt"/>
        <meta name = "twitter:title" content = "Blrt"/>
        <meta name = "twitter:description" content = "Blrt makes communication fast, clear and easy. Things that would take minutes to explain in email take seconds when you say and draw them in Blrt. Get it for free on the App Store."/>
        <meta name = "twitter:app:name:ipad" content = "blrt"/>
        <meta name = "twitter:app:id:ipad" content = "874881426"/>
        <!--TWITTER DATA ENDS HERE -->
        <meta name="viewport" content="width=viewport-width; initial-scale=1.0, maximum-scale = 1, user-scalable=no"/>
        <title>Blrt</title>
        <link rel="icon" type="image/png" href="//www.blrt.com/images/blrtfavicon.png"/>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="//blrt.com/css/styles.css?v6" rel="stylesheet" type="text/css"/>
        <link href="//blrt.com/css/responsive.css" rel="stylesheet" type-"text/css"/>
        <link href="<%- resourceHost %>/css/player_parent-np<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet" type="text/css"/>
        <link href="<%- resourceHost %>/css/request_landing<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet" type="text/css"/>
        <script defer src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script defer src="<%- resourceHost %>/js/register_sec<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
        <script defer src="//www.blrt.com/js/script.js?v=1.1"></script>
    </head>
    <body>
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNGPWL"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WNGPWL');
        </script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1451170328452442&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <a href="//plus.google.com/112993209082343780073" rel="publisher"></a>

        <div class="first-slide container-green pad-bot-tab udp-pad" style="text-align: center;">
            <div class="bwp-landing-tab-content">
                <div class="UDP-sect1 clearfix">
                    <div class = "UDP-thumb-wrap">
                        <a href="//www.blrt.com">
                            <div class = "logo">
                                <img src="//www.blrt.com/images/blrt-logo-blk@2x.png" alt="Blrt" class="blrt-logo premium-blrt-logo udp-blrt-logo">
                                <p class="h4request">Request</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid container-black" style="text-align: center;">
            <div class="bwp-container container-tab bwp-pad-top pad-bot udp-pad-bot bwp-landing-tab">
                <div class="bwp-landing-tab-content">
                    <div class="para-wrap UDP-sect1 clearfix">
                        <div class="bwp-landing-tab-content">

                            <div class = "UDP-thumb-wrap col-xs-12 col-sm-6">
                                <div class = "UDP-thumbnail-wrap frame-square">
                                    <div class="crop" style="background-image: url(<%- thumbnail %>);"></div>
                                </div>
                            </div>

                            <div class="reqCont">
                                <div><h3 class="title"><%= typeof convoTitle!='undefined' ? convoTitle : '' %></h3></div>
                                <div class = "avatar">
                                    <img src="<%= typeof user_avatar!='undefined' ? user_avatar : '' %>" alt="avartar">
                                    <div class="text"><h4><%= typeof creatorName!='undefined' ? creatorName : '' %></h4></div>
                                </div>
                                <div><h4 class="message"><%= typeof message!='undefined' ? message : '' %></h4></div>
                                <div><h4 class="contents">CONTENTS</h4></div>
                                <div><h4 class="requestItems"><%= typeof requestItems!='undefined' ? requestItems : '' %></h4></div>
                            </div>

                            <div class="reqBox">
                                <div class="reqInfo">
                                    <img src="<%- resourceHost %>/img/request_info.png">
                                    <h4><%= typeof creatorName!='undefined' ? creatorName : '' %> has requested your feedback, via Blrt. Get the free Blrt app to talk, point and draw over the documents you’ve been sent to respond to <%= typeof creatorName!='undefined' ? creatorName : '' %>.</h4>
                                </div>
                                <div id="btn-set-request"><%- include partial/get_app_buttons %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% var forceYouTubeHTML5 = true;%>
        <%- include partial/landing_page_common_body %>

        <script type="text/javascript">
        window.fbAsyncInit = function() {
            const facebookApplicationId = "<%- constants.fbAppId %>";
            FB.init({
                appId      : facebookApplicationId,
                cookie     : true,  // enable cookies to allow the server to access 
                // the session
                xfbml      : true,  // parse social plugins on this page
                version    : "v2.0" // change to v2
            });
        };
    
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>