<!DOCTYPE html>
<html>
<head>
    <meta property="al:ios:app_store_id" content="<%- constants.appStoreId %>"/>
    <meta property="al:ios:url" content="<%- originalUrl %>"/>
    <meta property="al:ios:app_name" content="Blrt"/>
    <meta property="al:android:package" content="<%- constants.androidPackageId %>"/>
    <meta property="al:android:url" content="<%- blrt_url %>"/>
    <meta property="al:android:app_name" content="Blrt"/>
    <meta charset="utf-8"/>
    <!--OPEN GRAPH METADATA STARTS HERE -->
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%- thumbnail %>">
    <meta property="og:title" content="Blrt conversation: <%- convoTitle %>"/>
    <meta property="og:description"
          content="Click to view this Blrt conversation in the free Blrt app for iOS and Android. Talk, point and draw over websites, images and documents and get everyone on the same page."/>
    <meta property="og:url" content="<%- thisUrl %>"/>
    <meta property="fb:app_id" content="<%- constants.fbAppId %>"/>
    <!--OPEN GRAPH METADATA ENDS HERE -->
    <!--TWITTER METADATA STARTS HERE -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image:src" content="<%- thumbnail %>"/>
    <meta name="twitter:site" content="@blrt"/>
    <meta name="twitter:title" content="Blrt conversation: <%- convoTitle %>"/>
    <meta name="twitter:description"
          content="Click to view this Blrt conversation in the free Blrt app for iOS and Android. Talk, point and draw over websites, images and documents and get everyone on the same page."/>
    <meta name="twitter:app:name:ipad" content="blrt"/>
    <meta name="twitter:app:id:ipad" content="<%- constants.appStoreId %>"/>
    <meta name="twitter:app:url:ipad" content="<%- deeplink %>"/>
    <meta name="twitter:app:name:iphone" content="blrt"/>
    <meta name="twitter:app:id:iphone" content="<%- constants.appStoreId %>"/>
    <meta name="twitter:app:url:iphone" content="<%- deeplink %>"/>
    <meta name="twitter:app:name:googleplay" content="blrt"/>
    <meta name="twitter:app:id:googleplay" content="<%- constants.androidPackageId %>"/>
    <meta name="twitter:app:url:googleplay" content="<%- deeplink %>"/>
    <!--TWITTER DATA ENDS HERE -->
    <meta name="viewport" content="width=viewport-width; initial-scale=1.0, maximum-scale = 1, user-scalable=no"/>
    <title>Blrt conversation: <%- convoTitle %></title>
    <link rel="icon" type="image/png" href="//www.blrt.com/images/blrtfavicon.png"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="//www.blrt.com/css/styles.css?v6" rel="stylesheet" type="text/css"/>
    <link href="//www.blrt.com/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="<%- resourceHost %>/css/player_parent-np<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet"
          type="text/css"/>
    <link href="<%- resourceHost %>/css/conversation<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet"
          type="text/css"/>
    <!--<script defer src="//code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script defer src="<%- resourceHost %>/js/register_sec<%- (isBlrtDebug ? '' : '.min') %>.js?v=2016.01.26.01"></script>
    <script defer src="//www.blrt.com/js/script.js?v=1.1"></script>
    <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>




    <link href="<%- resourceHost %>/css/player_parent-np<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet" type="text/css">
    <link href="<%- resourceHost %>/css/player<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet" type="text/css">
    <link href="<%- resourceHost %>/css/player_landing<%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet" type="text/css">
    <link href="/css/conversation-landing.css" rel="stylesheet" type="text/css">

    <script defer src="/js/login.js"></script>

</head>
<body>
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNGPWL"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WNGPWL');
</script>
<div id="fb-root"></div>
<a href="//plus.google.com/112993209082343780073" rel="publisher"></a>

<div class="first-slide container-green pad-bot-tab udp-pad">
    <p class="text-mid">
        <a href="//www.blrt.com"><img src="//www.blrt.com/images/blrt-logo-blk@2x.png" alt="Blrt"
                                      class="blrt-logo premium-blrt-logo udp-blrt-logo"></a>
    </p>

    <div class="UDP-link-pup conv-alert">
        <p id="top-alert">Blrt is an app that enables you to talk, point and draw over images, documents and
            websites.</p>
        <p>The output is a recording called a Blrt. <a href="//blrt.com/tour" target="_blank">Find out more here.</a>
        </p>
    </div>
</div>
<div class="container-fluid container-black conv-cont">
    <div style="margin-bottom: -60px;" class="bwp-container container-tab bwp-pad-top pad-bot udp-pad-bot bwp-landing-tab">
        <div class="bwp-landing-tab-content" style="padding-top: 30px;">
            <div class="para-wrap UDP-sect1 clearfix conv-btn">
                <a  href="#login" class="no-jump" >
                    <div   class=" UDP-thumb-wrap col-xs-12 col-sm-6" style="position: relative">
                        <div id="show" class="show UDP-thumbnail-wrap item">
                            <img class="UDP-thumbnail" src="<%- thumbnail %>"/>
                            <!--<div class="UDP-play-btn"></div>-->
                        </div>
                        <div class="UDP-play-btn"></div>
                    </div>
                    <!--<div class="UDP-play-btn"></div>-->


                </a>
                <div class="col-xs-12 col-sm-6 udp-marg-left-not-xs udp-sect1-text conv">
                    <h3><img id="landing-info-sec-logo" alt="Blrt" src="<%- resourceHost %>/img/blrt_green.png">
                        Conversation
                        <div id="udp-convo-help" class="mouse-cursor-clickable udp-blrt-link">
                            <div>?</div>
                        </div>
                    </h3>
                    <p class="bwp-landing-info-item-subtitle">This is the web page for a Blrt conversation, containing
                        more than one Blrt.</p>

                    <p class="bwp-landing-info-item-head">TITLE</p>

                    <p class="bwp-landing-info-item-body"><%= convoTitle %></p>

                    <p class="bwp-landing-info-item-head">CREATOR</p>

                    <p class="bwp-landing-info-item-body"><%= creatorName %></p>

                    <!--<p class="conv-buttons">View this in the free Blrt app</p>-->
                    <%- include partial/get_app_buttons %>
                    <p class="conv-buttons" id="first-section-info">Login below to view the Blrts in this conversation, or to see the full
                        conversation, get the free Blrt app.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% var forceYouTubeHTML5 = true; %>
<%- include partial/conversation_landing_page_body %>
<script type="text/javascript">
    window.blrtes = "<%- constants.embedServer %>";
    window.blrtpai = "<%- constants.parseApplicationId %>";
    window.blrtpjk = "<%- constants.parseJavascriptKey %>";
    window.fbAsyncInit = function () {
        const facebookApplicationId = "<%- constants.fbAppId %>";
        FB.init({
            appId: facebookApplicationId,
            cookie: true,  // enable cookies to allow the server to access
            // the session
            xfbml: true,  // parse social plugins on this page
            version: "v2.0" // change to v2
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>








</body>
</html>