.UDP-play-btn {
    background: #00e7a8;
}

.UDP-play-btn:hover {
    opacity: 0.5;
}

#jump-to-signUp {
    color: #2c353e;
    text-decoration: underline;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 8px;
    float: right;
}
.btn-set {
    margin-top: -5px;
    margin-left: -8px;
    margin-bottom: -8px;
}
img#landing-info-sec-logo {

    margin-left: -1px;
}
#blrt-web-player-login-page-login-btn {
    border: none;

}

.alert-danger {
    display: none;
    position: relative;
    top: 10px;
    clear: both;
    color: #e21a45;
    background: #fff;
    margin-top: 9px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}

.show:hover {
    background-color: aliceblue;
    opacity: 0.5;
}

.UDP-play-btn:hover {
    background: #00e7a8;
    opacity: 0.5;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: -50px;
    left: 50%;
    top: 50%;
    position: absolute;
}


#blrt-web-player-login-page-forgot-pwd {
    float: left;
    margin-top: 8px;
}

#blrt-web-player-login-page-subtitle {
    margin-top: -21px;
    margin-bottom: -14px;
    font-size: 30pt;
    font-weight: inherit;
    line-height: 1em;
    margin-top: -25px;
    font-size: 30pt;
    font-weight: normal;
}

#blrt-web-player-cover-request-access-area {
    display: inherit;
}

.container-blue,
.container-blue > .container-tab {
    background-color: #0b97c4;
}

.container-gray > .container-tab {
    background-color: gray;
}

.buttonDiv {
    border-radius: 8px;
    display: inline-block;
    background-color: #58697c;
    width: 100%;
    height: 100%;
    border-style: none;
    color: white;
}

.buttonDiv:hover {
    transition: background-color .5s ease;
    background-color: #5b7085;
}

.buttonDiv:focus {
    outline: none;
}

.button-img {
    float: left;
    width: 28%;
    height: 100%;

}

.button-txt {
    float: left;
    width: 60%;
    height: 100%;

}

.button-img > img {
    height: 100%;
    float: left;
}

.button-txt > p {
    float: left;
    font-size: 13pt;
    /*color: white;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.login-form {
    width: 80%;
    display: block;
    margin-top: 10px;
    text-align: center;

}

.login-form input {
    border: none;
    border-bottom: 3px solid #e3e3e3;
    border-left: 2px solid #e3e3e3;
    font-size: 17px;
}

.login-input {
    width: 100%;
    height: 100%;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

#blrt-web-player-login-page-forgot-pwdd {
    padding-left: 5px;
    font-size: 10pt;
    color: #2c353e;
    text-decoration: underline;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    float: left;
    margin-top: 8px;
}

#email {
    height: 42px;
}

#password {
    height: 42px;
}

#loginButton {
    height: 42px;
}

@media screen and (max-width: 750px) {
    #landing-intro-sec-media-youtube-iframe {
        width: 100%;
    }

    #email {
        width: 100%;
        display: block;

    }

    #password {
        width: 100%;
        display: block;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
    }


    #loginButton {
        margin-left: 0.5px;
        width: 35%;
        vertical-align: middle;
        margin-top: 6px;
        /*float: right;*/
    }

    .button-img {
        float: left;
        width: 40%;
        height: 100%;

    }

    .button-txt {
        float: left;
        width: 60%;
        height: 100%;

    }

    .second-part {
        margin-top: 6px;
    }

    #email, #password {
        font-size: 17px;
    }

}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    #password {
        width: 81%;
    }

    #loginButton {
        margin-left: 0.5px;
        width: 18%;
        vertical-align: middle;
        float: right;
    }

    .button-img {
        float: left;
        width: 40%;
        height: 100%;

    }

    .button-txt {
        float: left;
        width: 60%;
        height: 100%;

    }

    .second-part {
        margin-top: 6px;
        text-align: left;
    }

}

@media screen and (min-width: 1000px) {
    .login-form {
        width: 70%;
    }

    .second-part {
        margin-top: 6px;
        text-align: left;
    }


    #password {
        width: 83%;
    }

    #loginButton {
        margin-left: 1px;
        width: 16%;
        vertical-align: middle;
        float: right;
    }

    .button-img {
        float: left;
        width: 40%;
        height: 100%;

    }

    .button-txt {
        float: left;
        width: 60%;
        height: 100%;

    }
}

@media screen and (min-width: 1450px) {

    .login-form {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {

    .bwp-landing-tab-content {
        width: 100%;
    }
}


