<div id="landing-user-sec" class="container-fluid container-green" style="text-align: center;">
    <div class="bwp-container container-tab bwp-pad-top pad-bot udp-pad-bot bwp-landing-tab">
        <div class="bwp-landing-tab-content" id="loginOrList">
            <div id="login">
                <h2
                        style="margin-top: -25px;font-weight: 600">Please log in to view the Blrts in this
                    conversation</h2>

                <form class="login-form margin-center">

                    <div class=" margin-center">
                        <input class="login-input" id="email" placeholder=" Email address"/>
                    </div>

                    <div class="margin-center second-part">
                        <input id="password" type="password" class="login-input" placeholder=" Password">
                        <button id="loginButton" data-loading-text="Logging in..." class="buttonDiv">
                            <div class="button-img">
                                <img src="https://s3.amazonaws.com/blrt-webplayer/d/img/B_I_icon.png">
                            </div>
                            <div class="button-txt"><p>Log-in</p></div>
                        </button>
                    </div>

                    <div style="padding-left: inherit;padding-right: inherit">
                        <a id="blrt-web-player-login-page-forgot-pwdd" onclick="forgetPassword()"
                           href="javascript:void(0)">Forgot Password?</a>
                        <a id="blrt-web-player-login-page-forgot-pwdd" class="no-jump focus-register"
                           style="margin-left: 10px" href="#not-on-blrt">Sign up</a>

                        <p id="loginError" class="alert-danger"></p>
                    </div>
                </form>
            </div>

        </div>
    </div>


</div>


<div id="landing-user-sec" class="container-fluid container-blue not-on-blrt" style="text-align: center;">
    <div class="bwp-container container-tab bwp-pad-top pad-bot udp-pad-bot bwp-landing-tab">
        <div id="not-on-blrt" class="bwp-landing-tab-content">
            <h2>Not on Blrt yet?</h2>

            <p>Blrt Basic is free. Get started here.</p>
            <input id="landing-user-sec-email" type="email" placeholder="Email address">
            <button id="landing-user-sec-btn">GET BLRTING</button>
        </div>
    </div>
</div>


<div id="landing-intro-sec" class="container-fluid container-white" style="text-align: center;">


    <div class="bwp-container container-tab bwp-pad-top pad-bot udp-pad-bot bwp-landing-tab">

        <div class="bwp-landing-tab-content">
            <h2>Get everyone on the same page</h2>

            <p>Blrt allows you to get your point across like never before, by talking, pointing and drawing over images,
                documents and websites.</p>

            <div id="landing-intro-sec-media">
                <div id="landing-intro-sec-media-youtube">
                    <iframe id="landing-intro-sec-media-youtube-iframe" width="100" height="270"
                            src="https://www.youtube.com/embed/6gQcorVplXY<%- forceYouTubeHTML5 ? '?html5=1' : '' %>"
                            frameborder="0" allowfullscreen></iframe>
                    <p>Watch this 1:53 video to find out more about Blrt</p>
                </div>
                <div id="landing-intro-sec-media-ipad">
                    <img id="landing-intro-sec-media-ipad-gif" src="<%- resourceHost %>/img/ipad-and-lips_Anim.gif">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blrt-footer container-fluid container-black text-center udp-blrt-footer">
    <div class="bwp-container container-tab bwp-pad-top pad-bot udp-pad-bot bwp-landing-tab">
        <div class="bwp-landing-tab-content">
            <img src="//www.blrt.com/images/blrt-logo-grn@2x.png" alt="Blrt" class="blrt-logo img-center">

            <div class="paragraph-btn">
                <h1 class="text-center hero-light">
                    Talk, point and&nbsp;draw
                </h1>

                <p>over images, websites or documents</p>
                <%- include get_app_buttons %>
            </div>
        </div>
    </div>
    <ul class="udp-foot-list">
        <li class="first"><a href="//www.blrt.com/">blrt.com</a></li>
        <li><a href="//www.blrt.com/blog">Blrt blog</a></li>
        <li><a href="http://help.blrt.com/">Blrt support</a></li>
        <li>
            <div class="fb-like" data-href="//www.facebook.com/blrtapp" data-layout="button_count" data-action="like"
                 data-show-faces="false" data-share="false" data-ref="blrt.com"></div>
        </li>
        <li>
            <a href="//twitter.com/blrt" class="twitter-follow-button" data-show-count="false">Follow @blrt</a>
            <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');</script>
        </li>
    </ul>
</div>
<div class="container-fluid container-light-grey">
    <div class="think-footer container container-no-tab pad-top-small pad-bot-small">
        <p>&copy; 2014 Blrt</p>
        <ul class="list-inline text-center">
            <li><a href="//www.blrt.com/blog">Blog</a></li>
            <li><a href="//help.blrt.com/">Support</a></li>
            <!--<li><a href="http://www.blrt.com/press">Press</a></li>-->
            <li><a href="//www.blrt.com/privacy">Privacy</a></li>
            <li><a href="//www.blrt.com/terms/">Terms</a></li>
            <li><a onclick="ga('send','event','button','click','twitter footer');"
                   href="//www.twitter.com/blrt">@blrt</a>
            <li>
        </ul>
    </div>
</div>