<div class="btn-set">
    <a onclick="ga('send','event','button','click','app store 2');" href="https://itunes.apple.com/au/app/id874881426&amp;mt=8">
        <div class = "btn-1 app-store-btn alt-app-store-btn img-center img-center-not-xs">
            <img src="//www.blrt.com/images/apple-logo-blue@2x.png">
            <div class="text"><h4> Download on the</h4><h1> App Store</h1></div>
        </div>
    </a>
    <a onclick="ga('send','event','button','click','app store 2');" href="https://play.google.com/store/apps/details?id=com.blrt.android">
        <div class = "btn-1 app-store-btn g-play-btn alt-app-store-btn img-center ">
            <img src="//www.blrt.com/images/google-play@2x.png">
            <div class="text"><h4>Get it on</h4><h1>Google Play</h1></div>
        </div>
    </a>
</div>