<meta property="al:ios:app_store_id" content="<%- constants.appStoreId %>" />
<meta property="al:ios:url" content="<%- originalUrl %>" />
<meta property="al:ios:app_name" content="Blrt" />
<meta property="al:android:package" content="<%- constants.androidPackageId %>" />
<meta property="al:android:url" content="<%- blrt_url %>" />
<meta property="al:android:app_name" content="Blrt" />
<meta charset="utf-8"/>
<!--OPEN GRAPH METADATA STARTS HERE -->
<meta property = "og:type" content = "website">
<meta property = "og:image" content = "<%- blrt.thumbnail %>">
<meta property = "og:title" content = "Blrt: <%= blrt.title %>"/>
<meta property = "og:description" content = "Click to view this <%- blrt.isPublicBlrt ? 'public' : 'private' %> Blrt in the free Blrt app for iOS and Android. Talk, point and draw over websites, images and documents and get everyone on the same page."/>
<meta property = "og:url" content = "<%- thisUrl %>"/>
<meta property = "fb:app_id" content = "<%- constants.fbAppId %>" />
<!--OPEN GRAPH METADATA ENDS HERE -->
<!--TWITTER METADATA STARTS HERE -->
<meta name = "twitter:card" content="summary"/>
<meta name = "twitter:image:src" content="<%- blrt.thumbnail %>"/>
<meta name = "twitter:site" content = "@blrt"/>
<meta name = "twitter:title" content = "Blrt: <%= blrt.title %>"/>
<meta name = "twitter:description" content = "Click to view this <%- blrt.isPublicBlrt ? 'public' : 'private' %> Blrt in the free Blrt app for iOS and Android. Talk, point and draw over websites, images and documents and get everyone on the same page."/>
<meta name = "twitter:app:name:ipad" content = "blrt"/>
<meta name = "twitter:app:id:ipad" content = "<%- constants.appStoreId %>"/>
<meta name = "twitter:app:url:ipad" content = "<%- originalUrl %>"/>
<meta name = "twitter:app:name:iphone" content = "blrt"/>
<meta name = "twitter:app:id:iphone" content = "<%- constants.appStoreId %>"/>
<meta name = "twitter:app:url:iphone" content = "<%- originalUrl %>"/>
<meta name = "twitter:app:name:googleplay" content = "blrt"/>
<meta name = "twitter:app:id:googleplay" content = "<%- constants.androidPackageId %>"/>
<meta name = "twitter:app:url:googleplay" content = "<%- originalUrl %>"/>
<!--TWITTER DATA ENDS HERE -->
<meta name="viewport" content="width=viewport-width; initial-scale=1.0, maximum-scale = 1, user-scalable=no"/>
<title><%- blrt.isPublicBlrt ? 'Public' : 'Private' %> Blrt: <%= blrt.title %></title>
<link rel="icon" type="image/png" href="//www.blrt.com/images/blrtfavicon.png"/>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="//www.blrt.com/css/styles.css?v6" rel="stylesheet" type="text/css"/>
<link href="//www.blrt.com/css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="<%- resourceHost %>/css/player_parent<%- (usingPlayer ? '' : '-np') %><%- (isBlrtDebug ? '' : '.min') %>.css?v=2016.01.26.01" rel="stylesheet" type="text/css"/>