<div id="landing-embed-code-sec">
	<ul id="landing-embed-code-sec-tab-title">
		<li class="bwp-tab-active"><a href="#embed-code-player">Embed Blrt Web Player</a></li>
    	<li><a id="landing-embed-code-sec-snippet-tab" href="#embed-code-snippet">Embed Blrt Snippet</a></li>
	</ul>
	<div id="landing-embed-code-sec-tab-content">
        <div id="embed-code-player" class="bwp-tab bwp-tab-active landing-embed-code-sec-tab-bk">
            <div id="embed-code-player-options">
            	<div>
            		<p class="option-label">Embed size</p>
            		<div id="embed-code-player-options-size-customiser">
	            		<select id="embed-code-player-options-size">
							<option value="S" selected>Small (426x320)</option>
							<option value="M">Medium (640x480)</option>
							<option value="L">Large (854x640)</option>
							<option value="XL">Extra Large (1280x960)</option>
						</select>
            		</div>
            	</div>
            	<div>
            		<p class="option-label">Embed code</p>
            		<input id="embed-code-player-options-code" type="text"/>
            	</div>
            </div>
            <div id="embed-code-player-preview">
            	<p class="option-label">Preview</p>
            </div>
        </div>
        <div id="embed-code-snippet" class="bwp-tab landing-embed-code-sec-tab-bk">
        	<div id="embed-code-snippet-options">
	            <div>
	            	<p class="option-label">Theme</p>
					<div class="bwp-radio">
						<input type="radio" id="embed-code-snippet-options-theme-light" name="snippet-theme" value="light" checked/>
						<label for="embed-code-snippet-options-theme-light"><span><span></span></span>Light</label>
					</div>
					<div class="bwp-radio">
						<input type="radio" id="embed-code-snippet-options-theme-dark" name="snippet-theme" value="dark"/>
						<label for="embed-code-snippet-options-theme-dark"><span><span></span></span>Dark</label>
					</div>
	            </div>
	            <div>
	            	<p class="option-label">Orientation</p>
	            	<div class="bwp-radio">
						<input type="radio" id="embed-code-snippet-options-orientation-horizontal" name="snippet-orientation" value="horizontal" checked />
						<label for="embed-code-snippet-options-orientation-horizontal"><span><span></span></span>Horizontal</label>
					</div>
					<div class="bwp-radio">
						<input type="radio" id="embed-code-snippet-options-orientation-vertical" name="snippet-orientation" value="vertical" />
						<label for="embed-code-snippet-options-orientation-vertical"><span><span></span></span>Vertical</label>
					</div>
	            </div>
        	</div>
        	<div>
	        	<div id="embed-code-snippet-code-sec">
            		<p class="option-label">Embed code</p>
            		<textarea id="embed-code-snippet-code" rows="6"></textarea>
            	</div>
        	</div>
			<div>
				<div id="embed-code-snippet-preview">
            		<p class="option-label">Preview</p>
            	</div>
			</div>

        </div>
    </div>
</div>