<div id="blrt-web-player">
	<input id="blrt-web-player-play-data" type="hidden" value="<%= naclarg%>" />
	<div id="blrt-web-player-after-play">
		<div id="blrt-web-player-after-play-sec-left">
		</div>
		<div id="blrt-web-player-after-play-sec-right">
			<a href="//www.blrt.com" target="_blank">
	    		<img id="blrt-web-player-after-play-logo" alt="Blrt" src="<%- resourceHost %>/img/blrt_TPD_g.png" />
	    	</a>
		</div>
		<div id="blrt-web-player-after-play-sec-login">
			<div id="blrt-web-player-after-play-login" class="mouse-cursor-clickable">
				<img alt="B" src="<%- resourceHost %>/img/B_I_icon.png">
				<p>Log-in / sign-up</p>
			</div>
			<div style="display:none" id="blrt-web-player-after-play-logout" class="mouse-cursor-clickable">
				<img id="blrt-web-player-after-play-avatar" alt="Avatar" src="<%- resourceHost %>/img/anony.png">
	   			<p id="blrt-web-player-after-play-name"></p>
				<svg id="blrt-web-player-after-play-avatar-decoration" height="20" width="20"><polygon points="0 0 0 20 10 14 20 20 20 0" fill="#ffffff"/></svg>
			</div>
		</div>
		<div id="blrt-web-player-after-play-components"></div>
		<div id="blrt-web-player-after-play-share">
			<p>Share this Blrt</p>
			<% if (blrt.isPublicBlrt) { %>
			<div id="blrt-web-player-after-play-share-icon-bg-fb" class="bwp-after-play-share-icon-bg mouse-cursor-clickable">
    			<img class="bwp-after-play-share-icon" alt="f" src="<%- resourceHost %>/img/fb_small.png">
    		</div>
    		<div id="blrt-web-player-after-play-share-icon-bg-twitter" class="bwp-after-play-share-icon-bg mouse-cursor-clickable">
    			<img class="bwp-after-play-share-icon" alt="t" src="<%- resourceHost %>/img/twitter_small.png">
    		</div>
    		<div id="blrt-web-player-after-play-share-icon-bg-google" class="bwp-after-play-share-icon-bg mouse-cursor-clickable">
    			<img class="bwp-after-play-share-icon" alt="g" src="<%- resourceHost %>/img/google_small.png">
    		</div>
    		<% } %>
    		<div id="blrt-web-player-after-play-share-icon-bg-email" class="bwp-after-play-share-icon-bg mouse-cursor-clickable">
    			<img class="bwp-after-play-share-icon" alt="e" src="<%- resourceHost %>/img/email_small.png">
    		</div>
		</div>
	</div>
	<div id="blrt-web-player-listener">
		<div id="blrt-web-player-replay-mask">
			<img id="blrt-web-player-replay-btn" class="mouse-cursor-clickable" alt="Replay" src="<%- resourceHost %>/img/replay.png">
		</div>
	</div>
    <div id="blrt-web-player-control">
    	<div class="bwp-control-bar" id="blrt-web-player-control-top-bar">
	    	<a href="//www.blrt.com" target="_blank">
	    		<img id="blrt-web-player-control-top-bar-logo" alt="Blrt" src="<%- resourceHost %>/img/blrt_g.png">
	    	</a>
    		<a id="blrt-web-player-control-top-bar-login" class="abs-vertical-center" href="javascript:void(0)">Log in / sign up￼</a>
    		<div id="blrt-web-player-control-top-bar-profile" class="mouse-cursor-clickable">
	    		<div class="abs-vertical-center">
	    			<img id="blrt-web-player-control-top-bar-avatar" alt="Avatar" src="<%- resourceHost %>/img/anony.png">
    				<p id="blrt-web-player-control-top-bar-profile-name"></p>
	    		</div>
    		</div>
    		<div class="centralised">
    			<img class="bwp-page-selector" id="blrt-web-player-control-top-bar-pre-page" src="<%- resourceHost %>/img/arrow_back_grey.png" alt="<--" />
    			<p id="blrt-web-player-control-top-bar-page">125 / 125</p>
    			<img class="bwp-page-selector" id="blrt-web-player-control-top-bar-next-page" src="<%- resourceHost %>/img/arrow_ff_grey.png" alt="-->" />
    		</div>
    	</div>
    	<div class="bwp-control-bar" id="blrt-web-player-control-bottom-bar">
    		<div id="blrt-web-player-control-play-progress-area">
	    		<div class="progress bwp-progress-bar" id="blrt-web-player-control-play-progress-indicator">
					<div id="blrt-web-player-control-play-progress-indicator-real" class="progress-bar progress-bar-blrt-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1000" style="width: 0;">
					</div>
				</div>
    			<input id="blrt-web-player-control-play-progress-bar" type="range" min="0" max="1000" value="0">
    		</div>
    		<div id="blrt-web-player-control-bottom-bar-left">
    			<img class="bwp-control-bottom-bar-icon" id="blrt-web-player-control-bottom-bar-play-btn" src="<%- resourceHost %>/img/play_g.png" alt="Play" />
    			<p class="bwp-time-indicator" id="blrt-web-player-control-bottom-bar-current-time">00:00</p>
    			<p class="bwp-time-indicator" id="blrt-web-player-control-bottom-bar-total-time"> / 00:00</p>
    		</div>
    		<div id="blrt-web-player-control-bottom-bar-right">
    			<div class="bwp-control-bottom-bar-right-areas">
    				<div id="blrt-web-player-control-bottom-bar-share-drawer" class="bwp-control-bottom-bar-drawer">
    					<input id="blrt-web-player-control-bottom-bar-share-url" type="url" value="<%- shareUrl %>" style="width:<%- blrt.isPublicBlrt ? 240 : 325 %>px"/>
    					<% if (blrt.isPublicBlrt) { %>
    					<div id="blrt-web-player-control-share-icon-bg-fb" class="bwp-control-share-icon-bg mouse-cursor-clickable">
			    			<img class="bwp-control-share-icon" alt="f" src="<%- resourceHost %>/img/fb_small.png">
			    		</div>
			    		<div id="blrt-web-player-control-share-icon-bg-twitter" class="bwp-control-share-icon-bg mouse-cursor-clickable">
			    			<img class="bwp-control-share-icon" alt="t" src="<%- resourceHost %>/img/twitter_small.png">
			    		</div>
			    		<div id="blrt-web-player-control-share-icon-bg-google" class="bwp-control-share-icon-bg mouse-cursor-clickable">
			    			<img class="bwp-control-share-icon" alt="g" src="<%- resourceHost %>/img/google_small.png">
			    		</div>
			    		<% } %>
			    		<div id="blrt-web-player-control-share-icon-bg-email" class="bwp-control-share-icon-bg mouse-cursor-clickable">
			    			<img class="bwp-control-share-icon" alt="e" src="<%- resourceHost %>/img/email_small.png">
			    		</div>
			    		<div id="blrt-web-player-control-share-icon-bg-more" class="bwp-control-share-icon-bg bwp-control-share-text-icon-bg mouse-cursor-clickable">
			    			More
			    		</div>
    				</div>
    				<img class="bwp-control-bottom-bar-right-icon mouse-cursor-clickable" id="blrt-web-player-control-bottom-bar-share-btn" src="<%- resourceHost %>/img/share_w.png" alt="Share" />
    			</div>
    			<div class="bwp-control-bottom-bar-right-areas">
    				<div id="blrt-web-player-control-bottom-bar-info-drawer" class="bwp-control-bottom-bar-drawer">
    					<div>
							<%- blrt.isPublicBlrt ? ('<img alt="" src="' + resourceHost + '/img/public_blrt.png"/><p>Public Blrt</p>') : ('<img alt="" src="' + resourceHost + '/img/private_blrt.png"/><p>Private Blrt</p>') %>
    					</div>
						<div>
    						<img alt="" src="<%- resourceHost %>/img/blrt_person.png"/><p><%= blrt.creator %></p>
    					</div>
    					<div>
    						<img alt="" src="<%- resourceHost %>/img/date_w.png"/><p><%= dateStr %></p>
    					</div>
    				</div>
    				<img class="bwp-control-bottom-bar-right-icon mouse-cursor-clickable" id="blrt-web-player-control-bottom-bar-info-btn" src="<%- resourceHost %>/img/info_w.png" alt="Info" />
    			</div>
    			<div class="bwp-control-bottom-bar-right-areas">
    				<div id="blrt-web-player-control-bottom-bar-volume-drawer" class="bwp-control-bottom-bar-drawer">
    					<input id="blrt-web-player-control-bottom-bar-volume-slider" type="range" min="0" max="2" value="1" step="0.01">
    				</div>
    				<img class="bwp-control-bottom-bar-right-icon mouse-cursor-clickable" id="blrt-web-player-control-bottom-bar-volume-btn" src="<%- resourceHost %>/img/volume_w_2.png" alt="Volume" />
    			</div>
    			<img class="bwp-control-bottom-bar-right-icon mouse-cursor-clickable" id="blrt-web-player-control-bottom-bar-fullscreen-btn" src="<%- resourceHost %>/img/fullscreen_w.png" alt="FullScreen" />
    		</div>
    	</div>
    	<div id="blrt-web-player-control-profile-mask">
    		<div id="blrt-web-player-control-profile">
	    		<table style="width:100%; margin-bottom:10px;">
	    			<tr>
	    				<td style="width:140px;">
	    					<img id="blrt-web-player-control-profile-avatar" alt="Avatar" src="<%- resourceHost %>/img/anony.png">
	    				</td>
	    				<td id="blrt-web-player-control-profile-connections">
	    					<div class="bwp-control-profile-row">
		    					<div id="blrt-web-player-control-profile-icon-bg-blrt" class="bwp-control-profile-icon-bg">
		    						<img class="bwp-control-profile-icon" alt="B" src="<%- resourceHost %>/img/blrt_small.png">
		    					</div>
		    					<svg id="blrt-web-player-control-profile-icon-decoration" height="12" width="12"><polygon points="0 0 0 12 6 8 12 12 12 0" fill="rgb(0, 231, 168)"/></svg>
		    					<div class="bwp-control-profile-badge">
		    						<p id="blrt-web-player-control-profile-account-type">￼Blrt Basic</p>
		    					</div>
	    					</div>
	    					<div class="bwp-control-profile-row">
			    				<div id="blrt-web-player-control-profile-icon-bg-fb" class="bwp-control-profile-icon-bg">
			    					<img class="bwp-control-profile-icon" alt="f" src="<%- resourceHost %>/img/fb_small.png">
			    				</div>
			    				<div class="bwp-control-profile-badge">
		    						<p id="blrt-web-player-control-profile-fb-connection">Not connected with Facebook</p>
		    					</div>
	    					</div>
							<div class="bwp-control-profile-row">
								<div id="blrt-web-player-control-profile-icon-bg-phone" class="bwp-control-profile-icon-bg">
			    					<img class="bwp-control-profile-icon" alt="P" src="<%- resourceHost %>/img/phone_small.png">
			    				</div>
			    				<div class="bwp-control-profile-badge">
		    						<p id="blrt-web-player-control-profile-phone-connection">Coming soon</p>
		    					</div>
							</div>
		    				<a id="blrt-web-player-log-out" href="javascript:void(0)">Log out</a>
	    				</td>
	    			</tr>
	    		</table>
	    		<p id="blrt-web-player-control-profile-email" class="bwp-control-profile-info">email</p>
	    		<p id="blrt-web-player-control-profile-org" class="bwp-control-profile-info">organisation</p>
	    		<p class="bwp-control-profile-info" style="color:rgb(187,194,203);">Edit your profile using the Blrt app on iOS or Android</p>
	    	</div>
    	</div>
    </div>
    <div id="blrt-web-player-cover">
    	<a href="//www.blrt.com" target="_blank">
    		<img id="blrt-web-player-cover-logo" alt="Blrt" src="<%- resourceHost %>/img/blrt_TPD_g.png" />
    	</a>
    	<p id="blrt-web-player-cover-title" class="bwp-title"><%= blrt.title %></p>
    	<div id="blrt-web-player-cover-centre-area">
    		<img id="blrt-web-player-cover-centre-area-thumb" class="bwp-thumb" alt="thumbnail" src="<%- blrt.thumbnail %>"/>
			<img id="blrt-web-player-cover-centre-area-thumb-play" class="mouse-cursor-clickable" alt="Click here to play" src="<%- resourceHost %>/img/B-play.png"/>
			<div class="progress" id="blrt-web-player-cover-progress-bar">
				<div id="blrt-web-player-cover-progress-bar-real" class="progress-bar progress-bar-blrt-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1000" style="width: 0;">
				</div>
			</div>
			<p id="blrt-web-player-cover-centre-area-loading-status" class="bwp-loading">Loading</p>
    	</div>
    	<div id="blrt-web-player-cover-request-access-area">
    		<img id="blrt-web-player-cover-request-access-area-img" alt="Private Blrt" src="<%- resourceHost %>/img/private_blrt.png"/>
    		<p id="blrt-web-player-cover-request-access-area-text" class="bwp-cover-font">This is a private Blrt, but you can request access from the conversation creator</p>
    		<div id="blrt-web-player-btn-request-access" class="mouse-cursor-clickable bwp-cover-font">Request access</div>
    	</div>
    	<div id="blrt-web-player-cover-bottom-area">
    		<p class="bwp-cover-font" style="margin-bottom: 0px"><%= blrt.isPublicBlrt ? "Public" : "Private" %> Blrt</p>
    		<p class="bwp-cover-font" style="font-weight: bold;"><%= blrt.creator %> • <%= dateStr %> • <%= _.durationify(blrt.duration) %></p>
    	</div>
    </div>
    <div id="blrt-web-player-login-page">
        <a href="//www.blrt.com" target="_blank">
    		<img id="blrt-web-player-login-page-logo" alt="Blrt" src="<%- resourceHost %>/img/blrt_TPD_B.png" />
    	</a>
	    <div id="blrt-web-player-login-page-center">
			<p id="blrt-web-player-login-page-subtitle">Please log-in or sign-up<%= blrt.isPublicBlrt ? "" : " to view this Private Blrt" %></p>
	    	<div id="blrt-web-player-login-page-credential-area">
	    		<input class="bwp-login-text-input" id="blrt-web-player-login-page-email" type="email" placeholder="Email"/>
	    		<div id="blrt-web-player-login-page-pwd-btn-area">
	    			<input class="bwp-login-text-input" id="blrt-web-player-login-page-password" type="password" placeholder="Password"/>
		    		<div id="blrt-web-player-login-page-login-btn" class="bwp-login-page-btn">
		    			<img class="bwp-login-page-btn-img" alt="" src="<%- resourceHost %>/img/B_I_icon.png" />
		    			<p id="blrt-web-player-login-page-login-btn-title" class="bwp-login-page-btn-title">Log-in / sign-up</p>
		    		</div>
	    		</div>
	    		<a id="blrt-web-player-login-page-forgot-pwd" href="javascript:void(0)">Forgot Password?</a>
	    	</div>
	    	<div id="blrt-web-player-login-page-separator">
			    <span id="blrt-web-player-login-page-separator-text">
			      or
			    </span>
			</div>
			<div style="text-align: center">
				<div id="blrt-web-player-login-page-fb-btn" class="bwp-login-page-btn">
	    			<img class="bwp-login-page-btn-img" alt="" src="<%- resourceHost %>/img/F_I_icon.png" />
	    			<p class="bwp-login-page-btn-title">Login with Facebook</p>
	    		</div>
	    		<p id="blrt-web-player-login-page-fb-claim">We will never post on your behalf without first obtaining your explicit permission.</p>
			</div>
	    </div>
    	<p class="mouse-cursor-clickable" id="blrt-web-player-login-page-back-btn">&lt;</p>
    </div>
    <div id="blrt-web-player-mask"></div>
    <div id="blrt-web-player-mask-msg">
   		<div id="blrt-web-player-mask-msg-label">LOADING...</div>
   	</div>
   	<div id="blrt-web-player-mask-alert">
   		<button id="blrt-web-player-mask-alert-close" type="button" class="close"><span>&times;</span></button>
   		<p id="blrt-web-player-mask-alert-title"></p>
   		<p id="blrt-web-player-mask-alert-msg"></p>
   		<div id="blrt-web-player-mask-alert-footer">
   			<button id="blrt-web-player-mask-alert-btn-secondary" type="button" class="btn bwp-alert-btn bwp-alert-btn-secondary">Cancel</button>
   			<button id="blrt-web-player-mask-alert-btn-main" type="button" class="btn bwp-alert-btn bwp-alert-btn-main">OK</button>
   		</div>
   	</div>
</div>