<script type="text/javascript">
	window.blrtIsPublic = <%- blrt.isPublicBlrt ? 'true':'false' %>;
	window.blrtpai = "<%- constants.parseApplicationId %>";
	window.blrtpjk = "<%- constants.parseJavascriptKey %>";
	window.blrtgai = "<%- constants.googleAnalyticKey %>";
	window.blrtwpa = "<%- constants.webplayerUrl %>";
	window.blrtrh = "<%- resourceHost %>";
	window.blrtvs = "<%= constants.stream == 'm' ? '': constants.stream %>";
	window.blrturl = "<%- shareUrl %>";
	window.blrteurl = "<%- embedUrl %>";
	window.blrttitle = "<%= blrt.isPublicBlrt ? 'Public' : 'Private' %> Blrt: <%= blrt.title %>";
	window.blrtcreator = "<%= blrt.creator %>";
	window.blrtduration = "<%= _.durationify(blrt.duration) %>";
	window.blrtautostart = <%- autoStart %>;
	window.blrtpages = "<%- blrt.pages %>";
	window.blrtseconds = <%- blrt.duration %>;
	<% 
		if ('undefined' != typeof locals.authType) {
			switch (authType) {
				case 1:
	%>
					window.blrtat = 1;
					window.blrtmsg = [];
					window.addEventListener("message", receiveMessage);
					function receiveMessage(event) {
						window.blrtmsg.push(event);
					}
					window.blrtf_removeMessageListener = function() {
						window.removeEventListener("message", receiveMessage);
					}
	<%
					break;
				case 2:
				default:
	%>
					window.blrtat = <%- authType %>;
	<%
					break;
			}
		} 
	%>
	function onFBInit() {
		if (window.webplayerFBInitter) {
			window.webplayerFBInitter();
		} else {
			window.fbInitBeforePlayer = true;
		}
	}
	
	window.fbAsyncInit = function() {
		const facebookApplicationId = "<%- constants.fbAppId %>";
		FB.init({
			appId      : facebookApplicationId,
			cookie     : true,  // enable cookies to allow the server to access 
			// the session
			xfbml      : true,  // parse social plugins on this page
			version    : "v2.0" // change to v2
		});
		onFBInit();
	};

	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	
	window._LTracker = window._LTracker || [];
	window._LTracker.push({
		logglyKey: '<%- constants.logglyToken %>',
		sendConsoleErrors : true,
		appPrefix: '<%- constants.appProtocol %>'
	});
</script>